<script>
  $(".nested_fields_btn").
    data("association-insertion-method", 'after')

  $('.same_as_above').on('change', function () {
    nested_fields = this.closest('.nested-fields')
    if (this.checked){
      company = $('#general_setting_addresses_attributes_0_company').val()
      address = $('#general_setting_addresses_attributes_0_address').val()
      city = $('#general_setting_addresses_attributes_0_city').val()
      region = $('#general_setting_addresses_attributes_0_region').val()
      postcode = $('#general_setting_addresses_attributes_0_postcode').val()
      country = $('#general_setting_addresses_attributes_0_country').val()
    }
    else {
      company = ''
      address = ''
      city = ''
      region = ''
      postcode = ''
      country = ''
    }

    $(nested_fields).find('.company_field').val(company)
    $(nested_fields).find('.address_field').val(address)
    $(nested_fields).find('.city_field').val(city)
    $(nested_fields).find('.region_field').val(region)
    $(nested_fields).find('.postcode_field').val(postcode)
    $(nested_fields).find('.country_field').val(country)
  })
</script>
<div class="nested-fields">
  <div class='link pt-1 links remove_fields_div text-right'>
    <%= link_to_remove_association 'X', f, class: 'text-danger btn btn-outline-danger rounded' %>
  </div>
  <div class="form-group row">
    <div class="form-group col-6">
      <%= f.label :address_title %>
      <%= f.select :address_title, options_for_select(Address.address_titles, selected: f.object.address_title), {}, class: 'form-control' %>
    </div>
    <div class='form-group col-6'>
      <label for="same_as_above">Same as above</label><br>
      <input type="checkbox" name="same_as_above" value="same_as_above" class='form-control same_as_above'>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-6">
      <%= f.label :company %>
      <%= f.text_field :company, class: 'form-control company_field', placeholder: 'Enter Company Name'%>
    </div>
    <div class="form-group col-6">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control address_field', placeholder: 'Enter Address' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-6">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control city_field', placeholder: 'Enter City' %>
    </div>
    <div class="form-group col-6">
      <%= f.label :region %>
      <%= f.text_field :region, class: 'form-control region_field', placeholder: 'Enter Region' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-6">
      <%= f.label :postcode %>
      <%= f.text_field :postcode, class: 'form-control postcode_field', placeholder: 'Enter Postal Code' %>
    </div>
    <div class="form-group col-6">
      <%= f.label :country %>
      <%= f.text_field :country, class: 'form-control country_field', placeholder: 'Enter Country' %>
    </div>
  </div>
</div>
