<div class='form-row'>
  <div class="form-group col-6">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, required: true, class: 'form-control', placeholder: 'Enter Name' %>
  </div>
</div>
<div class='form-row'>
  <div class="form-group col-6">
    <%= f.label :vat_reg_no %>
    <%= f.text_field :vat_reg_no , step: 0.01, class: 'form-control', placeholder: 'Please Enter VAT Reg. No.'%>
  </div>
  <div class="form-group col-6">
    <%= f.label :company_reg_no %>
    <%= f.text_field :company_reg_no , step: 0.01, class: 'form-control', placeholder: 'Please Enter Company Reg. No.'%>
  </div>
</div>
<div class="form-row">
  <div class='form-group col-md-12' style='border-bottom: 1px solid;'>
    <h5 class='fs-14'>Address</h5>
  </div>
  <div class="form-group col-md-12">
    <%= f.fields_for :addresses do |address|%>
      <%= render 'address_fields', f: address %>
    <% end %>
    <div class='links add_fields_div text-right'>
      <%= link_to_add_association 'Add More +', f, :addresses, partial: 'address_fields_copy', class: 'nested_fields_btn btn btn-outline-primary rounded'%>
    </div>
  </div>
</div>
