<% if @product.product_type_single? %>
  <div class="notifications-card mb-30">
    <h5 class="noti-card-title">
      Channel Listing
    </h5>
    <div class="list-group">
      <div class="list-group-item">
        <% if @product.product_mappings.present? %>
          <div class='row'>
            <div class='col-12'>
              <table class="table m-0 table-hover">
                <tr>
                  <th class="text-center">Channel</th>
                  <th class="text-center">Listing Id</th>
                  <th class="text-center">Listing SKU</th>
                  <th class="text-center">Deduction Unit</th>
                  <th class="text-center">Channel Quantity</th>
                  <th class="text-center">Buffer Rule</th>
                </tr>
                <% @product.product_mappings.each.with_index(1) do |mapping, index| %>
                  <% product = mapping.channel_product %>
                  <a href="<%= product_mappings_path(q: {item_sku_or_listing_id_cont: product.listing_id}) %>" class='link_tag' style="text-decoration: none;">
                    <tr>
                      <% deduction_unit = product.item_sku.split(" x ")[1].to_i %>
                      <td class="text-center"><%= product.channel_type %></td>
                      <td class="text-center"><%= product.listing_id %></td>
                      <td class="text-center"><%= product.item_sku %></td>
                      <td class="text-center"><%= deduction_unit %></td>
                      <td class="text-center"><%= (@product.inventory_balance.to_f/deduction_unit.to_f).floor %></td>
                      <td class="text-center">
                      <div>
                        <div class="row">
                          <%= product.channel_forecasting&.name %>
                          <%= link_to '', buffer_rule_channel_forecastings_path(id: product.id), remote: true, class: 'lni lni-pencil mt-1' %>
                        </div>
                      </div>
                      </td>
                    </tr>
                  </a>
                <% end %>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade show" id="buffer-rule-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true"></div>
