<% if @product.product_type_single? %>
  <div class="notifications-card mb-30">
    <div class="noti-card-title d-flex">
      <h5 >
        Buffer Rule >>
      </h5>
      <b class="ml-2"><%= @product.product_forecasting&.name  %></b>
      <i class='lni lni-pencil mt-1 ml-3 cursor-pointer' data-toggle="modal" data-target='#buffer-rule-modal'></i>
    </div>
    <h5 class="noti-card-title">
      Channel Listing
    </h5>
    <div class="list-group">
      <div class="list-group-item">
        <div class='row'>
          <div class='col-12'>
            <table class="table m-0 table-hover">
              <tr>
                <th class="text-center">Channel</th>
                <th class="text-center">Listing Id</th>
                <th class="text-center">Listing SKU</th>
                <th class="text-center">Deduction Unit</th>
                <th class="text-center">Listing Quantity</th>
                <th class="text-center">Buffer Quantity</th>
                <th class="text-center">Channel Quantity</th>
                <!--th class="text-center">Buffer Rule</th-->
              </tr>
              <% if @product.product_mappings.present? %>
                <% @product.product_mappings.each.with_index(1) do |mapping, index| %>
                  <% product = mapping.channel_product %>
                  <% deduction_unit = 1 %>
                  <a href="<%= product_mappings_path(q: {item_sku_or_listing_id_cont: product.listing_id}) %>" class='link_tag' style="text-decoration: none;">
                    <tr>
                      <td class="text-center"><%= product.channel_type %></td>
                      <td class="text-center"><%= product.listing_id %></td>
                      <td class="text-center"><%= product.item_sku %></td>
                      <td class="text-center"><%= deduction_unit %></td>
                      <td class="text-center"><%= product.item_quantity %></td>
                      <td class="text-center"><%= product.buffer_quantity.to_i.positive? ? ('+' + product.buffer_quantity) : product.buffer_quantity  %></td>
                      <td class="text-center"><%= product.channel_quantity.to_i %></td>
                      <!--td class="text-center">
                        <%#= product.channel_forecasting&.name %>
                        <%#= link_to '', buffer_rule_channel_forecastings_path(id: product.id), remote: true, class: 'lni lni-pencil mt-1 ml-3' %>
                        <div><p class="badge badge_warning py-1"><%= product.customize.present? ? 'Customized' : nil %></p></div>
                      </td-->
                    </tr>
                  </a>
                <% end %>
              <% end %>
              <% @channel_listings.each do |multi_mapping| %>
                <% deduction_unit = multi_mapping.product_mapping&.product&.multipack_products&.find_by(child_id: @product.id)&.quantity.to_i %>
                <tr>
                  <td class="text-center"><%= multi_mapping.channel_type %></td>
                  <td class="text-center"><%= multi_mapping.listing_id %></td>
                  <td class="text-center"><%= multi_mapping.item_sku %></td>
                  <td class="text-center"><%= deduction_unit %></td>
                  <td class="text-center"><%= multi_mapping.item_quantity.to_i %></td>
                  <td class="text-center">
                    <i><%= multi_mapping.buffer_quantity %></i>
                  </td>
                  <!--td class="text-center">
                      <%#= multi_mapping.channel_forecasting&.name %>
                      <%#= link_to '', buffer_rule_channel_forecastings_path(id: multi_mapping.id), remote: true, class: 'lni lni-pencil mt-1 ml-3' %>
                      <div><p class="badge badge_warning py-1"><%= multi_mapping.customize.present? ? 'Customized' : nil %></p></div>
                  </td-->
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_for(@product, url: product_path) do |f| %>
  <!-- Forecasting Modal -->
  <div class="modal fade" id="buffer-rule-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Assign Rule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.select :product_forecasting_id, options_for_select(@forecasting.collect { | c | [c.name, c.id] }, f.object.product_forecasting_id), {include_blank: 'Please Select Forecasting'}, class: "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Assign", class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div class="modal fade show" id="buffer-rule-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true"></div>
