<% if @product.product_type_single? %>
  <div class="notifications-card mb-30">
    <h5 class="noti-card-title">
      Channel Listing
    </h5>
    <div class="list-group">
      <div class="list-group-item">
        <% if @product.product_mappings.present? %>
          <div class='row'>
            <div class='col-12'>
              <table class="table m-0 table-hover">
                <tr>
                  <th class="text-center">Channel</th>
                  <th class="text-center">Listing Id</th>
                  <th class="text-center">Listing SKU</th>
                  <th class="text-center">Deduction Unit</th>
                  <th class="text-center">Channel Quantity</th>
                  <th class="text-center">Buffer Quantity</th>
                  <th class="text-center">Buffer Rule</th>
                </tr>
                <% @product.product_mappings.each.with_index(1) do |mapping, index| %>
                  <% product = mapping.channel_product %>
                  <% deduction_unit = 1 %>
                  <a href="<%= product_mappings_path(q: {item_sku_or_listing_id_cont: product.listing_id}) %>" class='link_tag' style="text-decoration: none;">
                    <tr>
                      <td class="text-center"><%= product.channel_type %></td>
                      <td class="text-center"><%= product.listing_id %></td>
                      <td class="text-center"><%= product.item_sku %></td>
                      <td class="text-center"><%= deduction_unit %></td>
                      <% if product.channel_type == 'ebay' %>
                        <td class="text-center"><%= Selling&.last&.quantity.to_i < (@product.inventory_balance.to_f/deduction_unit.to_f) ? Selling&.last&.quantity : [(@product.inventory_balance.to_f/deduction_unit.to_f).floor, 0].max %></td>
                      <% else %>
                        <td class="text-center"><%= [(@product.inventory_balance.to_f/deduction_unit.to_f).floor, 0].max %></td>
                      <% end %>
                      <td class="text-center">
                        <% if product.channel_forecasting&.action == 'safe_stock_by' %>
                          -
                        <% elsif product.channel_forecasting&.action == 'anticipate_by'  || product.channel_forecasting&.action == 'anticipate_fake_stock_only_by' %>
                          +
                        <% end %>
                        <%= product.channel_forecasting&.type_number %>
                      </td>
                      <td class="text-center">
                        <%= product.channel_forecasting&.name %>
                        <%= link_to '', buffer_rule_channel_forecastings_path(id: product.id), remote: true, class: 'lni lni-pencil mt-1 ml-3' %>
                        <div><p class="badge badge_warning py-1"><%= product.customize.present? ? 'Customized' : nil %></p></div>
                      </td>
                    </tr>
                  </a>
                <% end %>
                <% @channel_listings.each do |multi_mapping| %>
                  <% deduction_unit = multi_mapping.product_mapping&.product&.multipack_products&.find_by(child_id: @product.id)&.quantity.to_i %>
                  <% deduction_quantity = [(@product.inventory_balance.to_f/deduction_unit.to_f).floor, 0].max unless deduction_unit.zero? %>
                  <% multipack_products = multi_mapping.product_mapping&.product&.multipack_products%>
                  <% if multipack_products&.count.to_i > 1 %>
                    <% deduction_quantity = multi_products_check(multipack_products) %>
                  <% end %>
                  <tr>
                    <td class="text-center"><%= multi_mapping.channel_type %></td>
                    <td class="text-center"><%= multi_mapping.listing_id %></td>
                    <td class="text-center"><%= multi_mapping.item_sku %></td>
                    <td class="text-center"><%= deduction_unit %></td>
                    <% if multi_mapping.channel_type == 'ebay' %>
                      <td class="text-center"><%= Selling.last&.quantity.to_i < deduction_quantity.to_i ? Selling.last&.quantity : [deduction_quantity.to_i, 0].max %></td>
                    <% else %>
                      <td class="text-center"><%= [deduction_quantity.to_i, 0].max %></td>
                    <% end %>
                    <td class="text-center">
                      <% if multi_mapping.channel_forecasting&.action == 'safe_stock_by' %>
                        -
                      <% elsif multi_mapping.channel_forecasting&.action == 'anticipate_by' || multi_mapping.channel_forecasting&.action == 'anticipate_fake_stock_only_by' %>
                        +
                      <% end %>
                      <%= multi_mapping.channel_forecasting&.type_number %>
                    </td>
                    <td class="text-center">
                        <%= multi_mapping.channel_forecasting&.name %>
                        <%= link_to '', buffer_rule_channel_forecastings_path(id: multi_mapping.id), remote: true, class: 'lni lni-pencil mt-1 ml-3' %>
                        <div><p class="badge badge_warning py-1"><%= multi_mapping.customize.present? ? 'Customized' : nil %></p></div>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade show" id="buffer-rule-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true"></div>
