<% if @product.product_type_single? && @product.extra_field_value.present? %>
  <div class="notifications-card mb-30">
    <h5 class="noti-card-title">
      Extra Fields
      <button type='button' data-toggle="modal" data-target='#product-extra-field-modal' class='btn btn-outline-success btn-sm float-right' style='margin:-10px;'>Edit</button>
    </h5>
    <div class="list-group">
    <div class="list-group-item">
      <div class='row'>
      <% @product.extra_field_value.field_value.each do |extra_field_value|%>
        <div class='col-3'>
          <h5 class="fs-14 mb-1"><%= extra_field_value[0] %></h5>
          <p class="m-0"><%= extra_field_value[1] %></p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  </div>
<% end %>
<%= form_for(@product, url: product_path) do |f| %>
  <!-- Extra Field Modal -->
  <div class="modal fade" id="product-extra-field-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Extra Fields</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <%= f.fields_for :extra_field_value do |pd|%>
                <%= render 'product_extra_field_value_fields', f: pd %>
              <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit(@product.new_record? ? "Create" : "Save changes", class: 'btn btn-outline-primary') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
