<div class="notifications-card mb-30">
  <h5 class="noti-card-title">
    Quantity
  </h5>
  <div class="list-group">
    <div class="list-group-item">
      <div class='row'>
        <table class="table m-0 table-hover">
          <tr>
            <th class="fake-stock-bg-color">Fake Stock <button type='button' data-toggle="modal" data-target='#fake-quantity-modal' class='btn btn-outline-success btn-sm ml-3'>Edit</button></th>
            <th>Warehouse stock <button type='button' data-toggle="modal" data-target='#quantity-modal' class='btn btn-outline-success btn-sm ml-3'>Edit</button></th>
            <th>Inventory Balance</th>
            <th>Unshipped</th>
            <th>Allocated </th>
            <th>Unallocated </th>
          </tr>
          <tr>
            <td class="fake-stock-bg-color"><%= @product.fake_stock.to_i %></td>
            <td><%= @product.total_stock.to_i %></td>
            <td><%= @product.inventory_balance.to_i %></td>
            <td><%= @product.unshipped.to_i %> (<%= @product.unshipped_orders.to_i %>)</td>
            <td><%= @product.allocated.to_i %> (<%= @product.allocated_orders.to_i %>)</td>
            <td><%= @product.unallocated.to_i %> (<%= @product.unshipped_orders.to_i - @product.allocated_orders.to_i %>) </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<%= form_for(@product, url: product_path) do |f| %>
  <!-- Quantity Modal -->
  <div class="modal fade" id="quantity-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Warehouse Quantity</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'quantities_fields', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-primary reason-get-button">Save Changes</button>
          <%#= f.submit(@product.new_record? ? "Create" : "Save changes", class: 'btn btn-outline-primary') %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_for(@product, url: product_path) do |f| %>
  <!-- Quantity Modal -->
  <div class="modal fade" id="fake-quantity-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Fake Quantity</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-12">
            <%= f.label :fake_stock %>
            <%= f.number_field :fake_stock, step: :any, class: 'form-control updating_fake_stock', placeholder: 'Enter Fake Stock Quantity' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Save changes", class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_for(@product, url: product_path) do |f| %>
  <!-- Reason Modal -->
  <div class="modal fade reason-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reason</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.hidden_field :total_stock, class: 'update_stock' %>
          <%= f.hidden_field :fake_stock, class: 'update_fake_stock' %>
          <%= label_tag :reason %>
          <%= select_tag :reason, options_for_select(['PO Stock Amendments', 'Misplaced Stock', 'Stock Available Warehouse', 'Other']), class: 'form-control', prompt: 'Please select reason' %>
          <%= label_tag :description %>
          <%= text_area_tag :description, '', class: 'form-control' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit(@product.new_record? ? "Create" : "Save changes", class: 'btn btn-outline-primary') %>
        </div>
      </div>
    </div>
  </div>
<% end %>