<div class='row'>
  <div class="col-md-12"><br>
    <div class="row">
      <div class="col-6 form-group">
        <%= f.label :date_from, "Date From"%>
        <%= f.date_field :date_from, title: "Select Date From", value: Time.zone.today.strftime("%Y-%m-%d"), class:"form-control" %>
      </div>
      <div class="col-6 form-group">
        <%= f.label :date_to, "Date To"%>
        <%= f.date_field :date_to, title: "Select Date To", value: Time.zone.today.strftime("%Y-%m-%d"), class:"form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-6 form-group">
        <%= f.label :date_range, "Date Range"%>
        <%= f.select :date_range, options_for_select(["Today", "Last Week", "This Week", "This Month", "Last Month", "This Year", "Last Year"]), {}, class:"form-control" %>
      </div>
      <div class="col-6 form-group">
        <%= f.label :order_by, "Order By"%>
        <%= f.select :order_by, options_for_select(["Cover", "Stock", "Sales", "Sales Unit"]), {}, class:"form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-6 form-group">
        <%= f.label :asc_desc, "Asc/Desc"%>
        <%= f.select :asc_desc, options_for_select(@asc_desc.map { |key, value| [value, key]}), {}, class:"form-control" %>
      </div>
      <div class="col-6 form-group">
        <%= f.label :arrival, "Pending Arrival"%>
        <%= f.select :arrival, options_for_select(["Include Pending Arrival", "Exclude Pending Arrival"]), {}, class:"form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-6 form-group">
        <%= f.label :channels, "Channels"%>
        <%= f.select :channels, options_for_select(@sale_channels.map { |key, value| [key.humanize, value]}),{} , class:"form-control" %>
      </div>
      <div class="col-6 form-group">
        <%= f.label :supplier, "Supplier"%>
        <%= f.select :supplier, options_for_select(@suppliers.map { |key, value| [key.humanize, value]}), {}, class:"form-control" %>
      </div>
    </div>
    <div class='float-right'>
      <label for="inputState">Per Page</label>
        <%= select_tag :limit, options_for_select([5, 10, 15, 20], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
        <button type="submit" id="per_page_submit" hidden="hidden"></button>
    </div>
  </div>
</div>
