<div class="main-content-header mt-3">
  <h1>Inventory Reports</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Inventory Reports</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title"> Reports</h5>
        </div>
        <div class='row'>
          <div class="col-md-12"><br>
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
                  Filter Reports
                </button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary">
                    Export Reports
                </button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary">
                  Download Reports
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table m-0 table-hover">
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Product SKU</th>
              <th class="text-center">Sales Units</th>
              <th class="text-center">Sales £</th>
              <th class="text-center">Weekly Sales</th>
              <th class="text-center">Purchased Qty</th>
              <th class="text-center">Stock</th>
              <th class="text-center">Cover(days)</th>
            </tr>
            <% @inventory_products&.each&.with_index(1) do |product, index| %>
              <% if product&.versions&.last&.changeset.try(:[], 'change_log').present?%>
                <tr>
                  <td class="text-center"><%= product.id %></td>
                  <td class="text-center font-weight-bold"><%= product.sku %></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-center"><%= product.allocated_orders %></td>
                  <td class="text-center"><%= product.total_stock %></td>
                  <td></td>
                </tr>
                <tr style="background-color:#D3D3D3">
                  <th class="col-1 text-center">Date</th>
                  <th class="col-1 text-center">Time</th>
                  <th class="col-1 text-center">Action</th>
                  <th class="col-1 text-center">System ID</th>
                  <th class="col-1 text-center">Channel ID</th>
                  <th class="col-1 text-center">Channel Item ID</th>
                  <th class="col-1 text-center">Changed</th>
                  <th class="col-1 text-center">Result</th>
                  <th class="col-1 text-center">User</th>
                </tr>
                <% product&.versions.each do |version| %>
                  <% if version.changeset.include? 'change_log' %>
                    <tr style="background-color:#D3D3D3">
                      <td class="col-1 text-center"><%= version.created_at&.strftime('%m/%d/%Y') %></td>
                      <td class="col-1 text-center"><%= version.created_at&.strftime('%I:%M %p') %></td>
                      <td class="col-1 text-center">
                        <%= version.changeset["change_log"][1].split(',')[3] %>
                      </td>
                      <td class="col-1 text-center">
                        <%= version.changeset["change_log"][1].split(',')[1] %>
                      </td>
                      <td class="col-1 text-center">
                        <%= version.changeset["change_log"][1].split(',')[2] %>
                      </td>
                      <td class="col-1 text-center">
                        <%= version.changeset["change_log"][1].split(',')[4] %>
                      </td>
                      <td class="col-1 text-center"><%= version.changeset["available_stock"][1].to_i - version.changeset["available_stock"][0].to_i if version.changeset.include? 'available_stock'  %></td>
                      <td class="col-1 text-center"><%= version.changeset["available_stock"][1].to_i if version.changeset.include? 'available_stock' %></td>
                      <td class="col-1 text-center"><%= version.whodunnit.present? ? User.find_by(id: version.whodunnit)&.personal_detail&.full_name : 'Developer' %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </table>
          <% if  @inventory_products.present?%>
            <div class="pagination justify-content-center mt-3">
              <%= paginate @inventory_products,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_for inventory_reports_path, method: :get do |f| %>
  <!-- Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModal">Report Filters</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'filter_report_form', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "View Reports", class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
