<div class="main-content-header mt-3">
  <h1>Stock Cover Report</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Stock Cover Report</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title"> Reports</h5>
        </div>
        <div class='row'>
          <div class="col-md-12"><br>
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
                  Filter Reports
                </button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary">
                    Export Reports
                </button>
              </div>
              <div class="col-3">
                <button type="button", id= "inventory_export_csv" class="btn btn-primary">
                  Download Reports
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table m-0 table-hover">
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Product SKU</th>
              <th class="text-center">Sales Units</th>
              <th class="text-center">Sales £</th>
              <th class="text-center">Weekly Sales</th>
              <th class="text-center">Purchased Qty</th>
              <th class="text-center">Stock</th>
              <th class="text-center">Cover(days)</th>
            </tr>
            <% @inventory_products&.each&.with_index(1) do |product, index| %>
              <tr>
                <td class="text-center"><%= product.id %></td>
                <td class="text-center font-weight-bold"><%= product.sku %></td>
                <td class="text-center"><%= @sales_unit[product.id] %></td>
                <td class="text-center"><%= @sales[product.id] %></td>
                <td class="text-center"><%=  @sales_unit[product.id] *7 %></td>
                <td class="text-center"><%= product.allocated_orders.to_i %></td>
                <td class="text-center"><%= product.total_stock.to_i %></td>
                <td class="text-center"><%= (product.total_stock.to_i/(@sales_unit[product.id]/ @number_of_days)) %></td>
              </tr>
            <% end %>
          </table>
          <% if  @inventory_products.present?%>
            <div class="pagination justify-content-center mt-3">
              <%= paginate @inventory_products,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_for inventory_reports_path, method: :get do |f| %>
  <!-- Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModal">Report Filters</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'filter_report_form', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "View Reports", class:"btn btn-primary" %>
          <%= f.submit "Export Button", class:"btn btn-primary d-none", id: "view_reports" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
