<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Purchase Order</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= system_users_path %>">Suppliers</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Create</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">Create</h5>
        </div>
          <div class='row'>
            <div class="col-md-3"><br>
              <div class="dropdown">
                <input type="text" class="form-control productSearchOrderField" placeholder="Search Product....">
              </div>
            </div>
          </div>
        <%= form_for @purchase_order, url: purchase_orders_path, method: :post do |pd| %>
          <div class='row'>
            <div class='col-3 offset-6'>
              <h5 class='float-right pt-2'>Total Price</h5>
            </div>
            <div class='col-3'>
              <%= pd.number_field :total_bill, step: :any, min: 0, class: 'form-control order_total', placeholder: 'Total', readonly: true %>
              <%= pd.number_field :supplier_id, value: @supplier, class: 'form-control d-none' %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <!-- Faq accordion -->
              <div class="faq-accordion mb-30">
                <% @categories.each do |id, name| %>
                  <ul class="accordion accordion-container">
                    <li class="accordion-item">
                      <a class="accordion-title" href="javascript:void(0)">
                        <i class="lni-plus"></i>
                        <%= name %>
                      </a>
                      <div class="table-responsive accordion-content">
                        <table class="table table-hover text-vertical-middle mb-0">
                          <thead class="bort-none borpt-0">
                            <tr>
                              <th scope="col"><strong>Image</strong></th>
                              <th scope="col" colspan='3'><strong>Title</strong></th>
                              <th scope="col"><strong>Stock</strong></th>
                              <th scope="col"><strong>Vat</strong></th>
                              <th scope="col"><strong>Cost Price</strong></th>
                              <th scope="col"><strong>Quantity</strong></th>
                            </tr>
                          </thead>
                          <tbody class="tbodyCheck">
                            <% @products[id].each do |product| %>
                              <%= pd.fields_for :purchase_order_details do |f| %>
                                <tr>
                                  <td>
                                    <% if product.photo.attached? %>
                                      <%= image_tag(product.photo&.service_url, width: "100", height: "100", class: 'mr-3 img-thumbnail', alt: 'User Image') %>
                                    <% else %>
                                      <%= image_tag('product/product6.jpg', width: "100", height: "100", class: 'mr-3 img-thumbnail', alt: 'User Image') %>
                                    <% end %>
                                  </td>
                                  <td colspan='3'>
                                    <h5><span class="productSkuSearch"><%= product.title %></span></h5><br>
                                    <strong>Description: </strong><%= product.description&.truncate(100, omission: '... (continued)') %><br>
                                    <strong>Product SKU: </strong><span class="productSkuSearch"><%= product.sku %></span><br>
                                    <strong>Supplier SKU: </strong><%= product.product_suppliers.find_by(system_user_id: @supplier).product_sku %>
                                  </td>
                                  <td><%= product.total_stock %></td>
                                  <td class='d-none'>
                                    <%= f.number_field :product_id, value: product.id, class: 'form-control d-none' %>
                                  </td>
                                  <td>
                                    <%= f.select :vat, options_for_select(Product.vats.map { |key, value| [key.humanize, key] }, f.object.vat.to_i), {include_blank: "Please Select VAT"}, class: 'form-control order_item_vat' %>
                                  </td>
                                  <td>
                                    <%= f.number_field :cost_price, step: :any, value: product.product_suppliers.first.product_cost, class: 'form-control order_item_price', placeholder: 'Price' %>
                                  </td>
                                  <td>
                                    <%= f.number_field :quantity, step: :any, class: 'form-control order_item_quantity', placeholder: 'Quantity' %>
                                  </td>
                                  <td>
                                    <input class="form-control order_item_total" type="text" placeholder="Total" style="width: 70px;" readonly="true">
                                  </td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </li>
                  </ul>
                <% end %>
              </div>
              <!-- End Faq accordion -->
            </div>
          </div>
          <%= pd.submit(@purchase_order.new_record? ? "Create" : "Save changes", class: 'btn btn-outline-primary create_product_button') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
