<!-- Main Content Header -->
<div class="main-content-header">
  <h1><%= link_to 'Purchase Orders', purchase_orders_path, style:'color: #212529;' %></h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= dashboard_sales_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Show</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
          <div class="card-header">
        <%= form_for @purchase_order, url: purchase_order_path(@purchase_order)  do |pd| %>
                <%= link_to "Edit Order", edit_purchase_order_path, class:"btn btn-primary float-right ml-1", type:"button", style: "color: white" %>
                <%= link_to "Book Input", new_purchase_delivery_path(purchase_order_id: @purchase_order.id), class: "btn btn-primary float-right ml-1", type: "button" %>
                <%= link_to "Export", purchase_order_path(format: :csv, single_csv: true), class: 'btn btn-primary float-right ml-1', type: "button" %>
              <button class="btn btn-primary float-right ml-1" type="button" >
                Get Logs
              </button>
                <%= link_to "PDF", purchase_order_path(format: :pdf), class:"btn btn-primary float-right ml-1", type:"button",style: "color: white" %>
            <h5 class="card-title"> Show</h5>
          </div>

          <div class='row'>
            <div class='col-6'>
              <div class='row'>
                <h5 class="fs-14 mb-1 col-4">Order Id</h5>
                <p class="col-8"><%= @purchase_order.id %></p>
                <h5 class="fs-14 mb-1 col-4">Supplier Name</h5>
                <p class="col-8"><%= @purchase_order&.system_user&.name %></p>
                <h5 class="fs-14 mb-1 col-4">Estimated Delivery Date</h5>
                <p class="col-8"><%= @purchase_order&.system_user&.days_for_completion_to_delivery %> Day/Days</p>
                <h5 class="fs-14 mb-1 col-4">Payment Method</h5>
                <p class="col-8"><%= @purchase_order&.system_user&.payment_method %></p>
                <h5 class="fs-14 mb-1 col-4">Order Status</h5>
                <p class="col-8"><%=  %></p>
                <br><br>
                <!--
                <h5 class="fs-14 mb-1 col-4">Invoice Address</h5>
                <p class="col-8"><%#= @purchase_order&.invoice_address%> 
                <button type="button" class="btn btn-primary btn-xs ml-4" data-toggle="modal" data-target="#exampleModalCenter">
                  Edit
                </button></p>
                <br>
                <h5 class="fs-14 mb-1 col-4">Delivery Address</h5>
                <p class="col-8"><%#= @purchase_order&.delivery_address%>
                <button type="button" class="btn btn-primary btn-xs ml-4" data-toggle="modal" data-target="#exampleModalCenter2">
                  Edit
                </button></p>
                -->
              </div>
            </div>
            <div class='col-6'>
              <div class='row'>
                <h5 class="fs-14 mb-1 col-4">Order Date</h5>
                <p class="col-8"><%= @purchase_order.created_at.strftime('%d-%m-%y') %></p>
                <h5 class="fs-14 mb-1 col-4">Delivery Method</h5>
                <p class="col-8"><%= @purchase_order&.system_user&.delivery_method.present? ? @purchase_order.system_user.delivery_method : 'Not Specified' %></p>
                <h5 class="fs-14 mb-1 col-4">Order Deliverd?</h5>
                <p class="col-8"><%=  %>Yes/No</p>
                <h5 class="fs-14 mb-1 col-4">Order Completed?</h5>
                <p class="col-8"><%=  %>Yes/No</p>
              </div>
            </div>
          </div>
          
          <br>
          <div class="row">
            <div class="col-lg-12">
              <div class="faq-accordion mb-30">
                <div class="table-responsive accordion-content">
                  <table class="table table-hover text-vertical-middle mb-0">
                    <thead class="bort-none borpt-0">
                      <tr>
                        <th scope="col"><strong>SKU</strong></th>
                        <th scope="col"><strong>Supplier SKU</strong></th>
                        <th scope="col"><strong>Category-Product</strong></th>
                        <th scope="col"><strong>Deliverd</strong></th>
                        <th scope="col"><strong>Ordered</strong></th>
                        <th scope="col"><strong>Damaged</strong></th>
                        <th scope="col"><strong>Missing</strong></th>
                        <th scope="col"><strong>Price[FOB]</strong></th>
                        <th scope="col"><strong>Total</strong></th>
                        <th scope="col"><strong>Ex Fact</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= pd.fields_for :purchase_order_details do |f| %>
                        <tr>
                          <td>
                            <%= f.object.product.sku%>
                          </td>
                          <td>
                            <%= f.object.purchase_order&.system_user&.product_suppliers&.first&.product_sku %>
                          </td>
                          <td>
                            <%= f.object.product.title %>
                          </td>
                          <td>
                            <%= @deliverd[f.object.product_id]%>
                          </td>
                          <td>
                            <%= f.object.purchase_order.purchase_order_details.where(product_id: f.object.product.id).first.quantity %>
                          </td>
                          <td>
                            <%= @demaged[f.object.product_id] %>
                          </td>
                          <td>
                            <%= @missing[f.object.product_id] %>
                          </td>
                          <td>
                            $ <%= f.object.cost_price %>
                          </td>
                          <td>
                            $ <%= f.object.quantity * f.object.cost_price if f.object.cost_price.present? && f.object.quantity.present? %>
                          </td>
                          <td>
                            <%= f.object.purchase_order.created_at.strftime("%d/ %m/ %Y") %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- End Faq accordion -->
            </div>
          </div>
        <% end %>
        <br>
        <br>
    <!-- Delivery Data -->
    <% if @deliveries.present? %>
    <h2>Delivery Details</h2>
    <div class="row">
        <div class="col-lg-12">
          <div class="faq-accordion mb-30">
            <div class="table-responsive accordion-content">
              <table class="table table-hover text-vertical-middle mb-0">
                <thead class="bort-none borpt-0">
                  <tr>
                    <th scope="col"><strong>Purchase Delivery Id</strong></th>
                    <th scope="col"><strong>Purchase Order Id</strong></th>
                    <th scope="col"><strong>Total Bill</strong></th>
                    <th scope="col"><strong>Created At</strong></th>
                  </tr>
                </thead>
                <tbody>
                    <% @deliveries.each do |delivery|%>
                      <tr>
                      <td><%= delivery.id%></td>
                      <td><%= delivery.purchase_order_id%></td>
                      <td><%= delivery.total_bill%></td>
                      <td><%= delivery.created_at.strftime("%d/ %m/ %Y")%>
                      </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
            <% end %>
            <!-- End Deliveries -->
          </div>
      </div>
    </div>
  </div>
</div>


