<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Create Export Mapping</h5>
        </div>
        <%= form_with url: '/export_mappings', remote: true do |f| %>
          <div class="form-group">
            <%= f.label :table_name %>
            <%= f.select :table_name, table_names, {include_blank: 'Please Select Table Name'}, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :sub_type %>
            <%= f.text_field :sub_type, class: 'form-control' %>
          </div>
          <div class="form-group row check-boxes">
          </div>
          <div class="form-group">
            <%= f.button :Create, class: 'btn btn-outline-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>