<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Edit Export Mapping</h5>
        </div>
        <%= form_for @export_mapping, method: :put do |f| %>
          <div class="form-group">
            <%= f.label :table_name %>
            <%= f.select :table_name, options_for_select([@export_mapping.table_name]), {}, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :sub_type %>
            <%= f.text_field :sub_type, value: @export_mapping.sub_type, class: 'form-control' %>
          </div>
          <div class="form-group row">
            <% @column_names.each do |column| %>
            <div class= "col-3">
              <% if @export_mapping.export_data.include? column %>
                <input type = "checkbox" name = <%= column %> checked = true>
              <% else %>
                <input type = "checkbox" name = <%= column %>>
              <% end %>
              <label for= <%= column %>> <%= column %> </label>
              <br>
            </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.button :Update, class: 'btn btn-outline-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>