<div class="nested-fields">
  <div class="card-header">
    <h4 class="card-title text-warning">Contact Details</h4>
  </div>

  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, autofocus: true, class: 'form-control', placeholder: 'Enter your first name' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Enter your last name' %>
  </div>

  <div class="form-group">
    <%= f.label :street_address %>
    <%= f.text_field :street_address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :province %>
    <%= f.text_field :province, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :zip %>
    <%= f.number_field :zip, class: 'form-control' %>
  </div>

  <%= link_to_remove_association "remove contact", f, class: 'btn btn-sm btn-danger mb-3' %>
</div>