  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'form-control', id: 'exampleInputEmail1', placeholder: 'Enter Email' %>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', id: 'exampleInputPassword', placeholder: 'Password' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control', id: 'exampleInputPassword1', placeholder: 'Confirm Password' %>
  </div>

  <div class="form-group">
    <%= f.label :role %>
    <%= f.select(:role, User.filter_role(current_user), {}, class: 'form-control', id: "exampleFormControlSelect1")%>
  </div>

  <%= f.fields_for :personal_detail do |pd|%>
    <%= render 'personal_detail_fields', pd: pd %>

    <%# Contact Detail Fields %>
    <% counter = 0%>
    <div id='conatct_details'>
      <%= pd.fields_for :contact_details do |cd| %>
        <% if counter < 1 %>
          <%= render 'contact_detail_fields', f: cd %>
        <% end %>
        <% counter += 1%>
      <% end %>
      <div class='links'>
        <%= link_to_add_association  'Add Contact', pd, :contact_details, class: 'btn btn-sm btn-primary mb-3'%>
      </div>
    </div>

    <%# Work Detail Fields %>
    <div id='work_details'>
      <%= pd.fields_for :work_details do |wd| %>
        <%= render 'work_detail_fields', f: wd %>
      <div class='links'>
        <%= link_to_add_association 'Add Work', pd, :work_details, class: 'btn btn-sm btn-primary mb-3'%>
      </div>
      <% end %>
    </div>

    <%# Study Detail Fields %>
    <div id='study_details'>
      <%= pd.fields_for :study_details do |sd| %>
        <%= render 'study_detail_fields', f: sd %>
      <div class='links'>
        <%= link_to_add_association 'Add Study', pd, :study_details, class: 'btn btn-sm btn-primary mb-3'%>
      </div>
      <% end %>
    </div>

  <% end %>
  <div class="form-group">
    <%= f.submit(@user.new_record? ? "Create" : "Update", class: 'btn btn-primary') %>
  </div>
