<div class='row'>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <%= pd.label :first_name %>
      <%= pd.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'Enter your first name' %>
    </div>
  </div>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <%= pd.label :last_name %>
      <%= pd.text_field :last_name, class: 'form-control', placeholder: 'Enter your last name' %>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <%= pd.label :dob %>
      <%= pd.date_field :dob, class: 'form-control' %>
    </div>
  </div>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <h6 class="mb-3 fs-14">Gender</h6>
      <div class="form-check">
        <%= pd.radio_button :gender, 'Male' , class: 'form-check-input' %> Male<br />
        <%= pd.radio_button :gender, 'Female' , class: 'form-check-input' %> Female<br />
        <%= pd.radio_button :gender, 'Other' , class: 'form-check-input' %> Other<br />
      </div>
    </div>
  </div>
</div>



