<div class="card-header">
    <h4 class="card-title text-warning">Personal Details</h4>
</div>

<div class="form-group">
  <%= pd.label :first_name %>
  <%= pd.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'Enter your first name' %>
</div>

<div class="form-group">
  <%= pd.label :last_name %>
  <%= pd.text_field :last_name, class: 'form-control', placeholder: 'Enter your last name' %>
</div>

<div class="form-group">
  <%= pd.label :dob %>
  <%= pd.date_field :dob, class: 'form-control' %>
</div>

<h6 class="mb-3 fs-14">Gender</h6>
<div class="form-check">
  <%= pd.radio_button :gender, 'Male' , class: 'form-check-input' %> Male<br />
  <%= pd.radio_button :gender, 'Female' , class: 'form-check-input' %> Female<br />
  <%= pd.radio_button :gender, 'Not Specified' , class: 'form-check-input' %> Not Specified<br />
</div>
