<br>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>
      <div class="form-group">
        <%= f.label :school %>
        <%= f.text_field :school, autofocus: true, class: 'form-control', placeholder: 'Enter your name of institute' %>
      </div>
    </div>
    <div class='col-lg-6 col-sm-12'>
      <div class="form-group">
        <%= f.label :degree %>
        <%= f.text_field :degree, class: 'form-control', placeholder: 'Enter your degree name' %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>
      <div class="form-group">
        <%= f.label :format %>
        <%= f.text_field :format, class: 'form-control' %>
      </div>
    </div>
    <div class='col-lg-6 col-sm-12'>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>
      <div class="form-group">
        <%= f.label :from %>
        <%= f.date_field :from, class: 'form-control' %>
      </div>
    </div>
    <div class='col-lg-6 col-sm-12'>
      <div class="form-group">
        <%= f.label :to %>
        <%= f.date_field :to, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= link_to_remove_association "Remove Study", f, class: 'btn btn-outline-secondary rounded mb-3' %>
