<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Settings</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="<%= dashboard_sales_path %>">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Settings</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<div class="row">
    <div class="col-xl-12">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <a href="/users/new" class="btn btn-primary float-right">Create</a>
                    <span class='mr-1 float-right'>
                      <%= form_tag import_users_path, multipart: true, method: :post do %>
                        <%= file_field_tag :file, class: 'd-none import-file' %>
                        <button type='button' class='btn btn-outline-success import-btn'>Import</button>
                        <%= submit_tag "Import", class: 'd-none import-submit' %>
                      <% end %>
                    </span>
                    <div class='mr-1 float-right'>
                      <%= link_to 'Export', users_path(format: :csv, export_csv: true), class: 'btn btn-outline-primary' %>
                    </div>
                    <h5 class="card-title"><%= @user_sub_role.capitalize %> Data</h5>
                </div>
                <%= search_form_for @q, url: users_path, method: :get do |f| %>
                  <div class='row'>
                    <div class='col-1 offset-11'>
                      <label for="inputState">Per Page</label>
                      <%= select_tag :limit, options_for_select([5, 10, 15, 20], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
                      <button type="submit" id="per_page_submit" hidden="hidden"></button>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                      <%= f.search_field :email_cont, class:"form-control", placeholder:"Search in email" %>
                    </div>
                  </div>
                  <%= form_with url: bulk_method_users_path, method: :post do |f| %>
                    <div class="table-responsive">
                        <table class="table m-0 table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Profile</th>
                                    <th><%= sort_link @q, :email, default: 'asc' %></th>
                                    <th class="text-center">Role</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                              <% @users.each.with_index(1) do |user, index| %>
                                <tr>
                                    <td><%= index %></td>
                                    <td>
                                        <% if  user.profile_image.attached? %>
                                            <%= image_tag user.profile_image.service_url, style:'width:30px; height:30px; border-radius:50%;' %>
                                        <% end %>
                                    </td>
                                    <td><%= user.email %></td>
                                    <td class="text-center"><span class="badge badge-info"><%= user.role %></span></td>
                                    <td class="text-center">
                                      <div class="dropdown dropleft">
                                        <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i data-feather='bell' class='icon wh-15 mt-minus-3'></i>
                                          Actions
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="<%= user_path(user)%>">Show</a>
                                        </div>
                                      </div>
                                    </td>
                                </tr>
                              <% end %>
                            </tbody>
                        </table>
                    </div>
                  <% end %>
                <% end %>
                <div class='float-right'>
                  <%= page_entries_info @users %>
                </div><br>
                <div class="pagination justify-content-center mt-3">
                  <%= paginate @users,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
                </div>
            </div>
        </div>
    </div>
</div>