<!-- Login Area -->
<div class="auth-main-content">
    <div class="d-table">
        <div class="d-tablecell">
            <div class="auth-box">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="form-left-content">
                            <div class="auth-logo">
                                <h2>ChannelDispatch</h2>
                                <%#= image_tag('large-logo.png', alt: 'Logo') %>
                            </div>

                            <div class="login-links">
                                <a class="fb" href="#">
                                    <i data-feather="facebook" class="icon"></i>
                                    Sign Up with Facebook
                                </a>
                                <a class="twi" href="#">
                                    <i data-feather="twitter" class="icon"></i>
                                    Sign Up with Twitter
                                </a>
                                <a class="ema" href="#">
                                    <i data-feather="mail" class="icon"></i>
                                    Sign Up with Email
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-content">
                            <h1 class="heading">Forgot password</h1>
                            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                                <%= render "devise/shared/error_messages", resource: resource %>
                                <div class="form-group">
                                    <%= f.label :email, class: 'form-label' %>
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                                </div>
                                <div class="text-center">
                                    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
                                    <a class="fp-link" href="<%= new_session_path(resource_name) %>">Log In</a>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login Area -->
