<div class='row'>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control', id: 'exampleInputEmail1', placeholder: 'Enter Email' %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <% if @user == current_user %>
        <%= f.label :role %>
        <%= f.text_field :role, class: 'form-control', readonly: true %>
      <% else %>
        <%= f.label :role %>
        <%= f.select(:role, User.filter_role(current_user), {}, class: 'form-control chosen-select', id: "exampleFormControlSelect1")%>
      <% end %>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', id: 'exampleInputPassword', placeholder: 'Password' %>
    </div>
  </div>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control', id: 'exampleInputPassword1', placeholder: 'Confirm Password' %>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <% if  @user.profile_image.attached? %>
        <%= image_tag @user.profile_image.service_url, style:'width:30px; height:30px;' %>
      <% end %>
      <%= f.file_field :profile_image, class: 'form-control' %>
    </div>
  </div>
</div>

