
<div class='row'>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', id: 'exampleInputPassword', placeholder: 'Password' %>
    </div>
  </div>
  <div class='col-lg-6 col-sm-12'>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control', id: 'exampleInputPassword1', placeholder: 'Confirm Password' %>
    </div>
  </div>
</div>
<%= f.fields_for :personal_detail do |pd|%>
  <%= render 'personal_detail_fields', pd: pd %>
<% end %>