<div class="row">
  <div class="col-lg-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">
            Logs
          </h5>
        </div>
        <div class="table-responsive">
          <table class="table table-hover text-vertical-middle mb-0">
            <thead class="bort-none borpt-0">
              <tr>
                <th scope="col">Case</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
                <th scope="col">System ID</th>
                <th scope="col">Channel order Id</th>
                <th scope="col">Channel Item ID</th>
                <th scope="col" class="text-center">Result</th>
                <th scope="col">User</th>
              </tr>
            </thead>
            <tbody>
              <% @versions&.each_with_index do |version, index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= version.created_at&.strftime('%m/%d/%Y') %></td>
                  <td><%= version.created_at&.strftime('%I:%M %p') %></td>
                  <td><%= @order.order_status %></td>
                  <td><strong><%= @order.id %></strong></td>
                  <td><%= @order.order_id %></td>
                  <td>
                    <% @order.channel_order_items.each do |item| %>
                      <%= item.line_item_id %>,
                    <% end %>
                  </td>
                  <td>
                    <% @order.channel_order_items.each do |item| %>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Field Name</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% item.channel_product.product_mapping.product.versions.each do |change| %>
                            <tr>
                              <td><%= change[0] %></td>
                              <td><%= change[1][0] == nil ? 'nill' : change[1][0] %></td>
                              <td><%= change[1][1] %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    <% end %>
                  </td>
                  <td>
                    <%= version.whodunnit.present? ? User.find_by(id: version.whodunnit)&.personal_detail&.full_name : @order.channel_type %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
