<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Packers</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= settings_path %>">Settings</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= packers_path %>">Packers</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Show</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="d-flex">
          <button class="ml-auto btn btn-primary" data-toggle="modal" data-target="#packer-create-modal">Edit</button>
        </div>
        <div class="d-flex">
          <p>Customer Name</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Delivery address</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Order ID</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Order reference</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Order date</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Delivery date</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Courier service</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Courier rule</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Total order weight</p>
          <p></p>
        </div>
        <div class="card-footer bg-transparent d-flex">
          <button class="ml-auto btn btn-primary">ADD TO CONTAINER</button>
          <button class="ml-1 btn btn-primary">EDIT ADDRESS</button>
          <button class="ml-1 btn btn-primary">CHANGE COURIER</button>
          <button class="ml-1 btn btn-primary">PICK ALL ITEMS</button>
        </div>
        <!-- div class="card-header">
          <h5 class="card-title">
            Show
          </h5>
        </div -->
        <%# <fieldset disabled> %>
        <%# form_for @packer, url: packer_path(@packer) do |f| %>
          <%# render 'form', f: f %>
          <%# f.submit 'Update', class: 'btn btn-success mt-4 float-right'%>
        <%# end %>
      </div>
    </div>
  </div>
</div>


<%= form_for @packer, url: packer_path(@packer) do |f| %>
  <div class="modal fade" id="packer-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit packer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Update', class: 'btn btn-info'%>
        </div>
      </div>
    </div>
  </div>
<% end %>