<div class="main-content-header">
  <h1>Settings</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Settings</span>
    </li>
  </ol>
</div>

<div class="row">
  <div class="col-lg-4 col-sm-6">
  <%= link_to products_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Total Products</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:products_count] %></h3>
        </div>
        <div class="avatar avatar-gold">
          <i data-feather="shopping-bag"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to users_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Total Users</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:users_count] %></h3>
        </div>
        <div class="avatar avatar-purple ">
          <i data-feather="users"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to categories_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Total Product Categories</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:categories_count] %></h3>
        </div>
        <div class="avatar avatar-blue ">
          <i data-feather="briefcase"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to seasons_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Total Seasons</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:seasons_count] %></h3>
        </div>
        <div class="avatar avatar-red ">
          <i data-feather="calendar"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to extra_field_names_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Add</p>
          <h3 class="mb-0 fs-25">Extra Fields</h3>
        </div>
        <div class="avatar avatar-cyan ">
          <i data-feather="link"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
