<div class="main-content-header">
  <h1>Settings</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Settings</span>
    </li>
  </ol>
</div>

<div class="row">
  <div class="col-lg-4 col-sm-6">
  <%= link_to products_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Total Products</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:products_count] %></h3>
        </div>
        <div class="avatar avatar-gold">
          <i data-feather="shopping-bag"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to users_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Total Users</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:users_count] %></h3>
        </div>
        <div class="avatar avatar-purple ">
          <i data-feather="users"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to categories_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Total Product Categories</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:categories_count] %></h3>
        </div>
        <div class="avatar avatar-blue ">
          <i data-feather="briefcase"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to seasons_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Total Seasons</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:seasons_count] %></h3>
        </div>
        <div class="avatar avatar-red ">
          <i data-feather="calendar"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to extra_field_names_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Extra Fields</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:extra_field_count] %></h3>
        </div>
        <div class="avatar avatar-cyan ">
          <i data-feather="activity"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to email_templates_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Email Tempaltes</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:email_count] %></h3>
        </div>
        <div class="avatar avatar-cyan ">
          <i data-feather="dollar-sign"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to import_mappings_path(mapping_filter: 'import') do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Import/Export Mappings</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:import_mapping] +  @total_counts[:export_mapping]%></h3>
        </div>
        <div class="avatar avatar-cyan ">
          <i data-feather="trash"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

   <div class="col-lg-4 col-sm-6">
    <%= link_to couriers_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Couriers</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:courier] %></h3>
        </div>
        <div class="avatar avatar-cyan ">
          <i data-feather="trending-up"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to services_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Services</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:service] %></h3>
        </div>
        <div class="avatar avatar-cyan ">
          <i data-feather="trending-down"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to mail_service_rules_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Mail Service Rule</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:mail_service_rule] %></h3>
        </div>
        <div class="avatar avatar-cyan ">
          <i data-feather="database"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to product_locations_path do %>
    <div class="stats-card-two hover-card mb-30">
      <div class="media align-items-center justify-content-between">
        <div class="ml-0">
          <p class="mb-10 line-height-1">Product Location Mapping</p>
          <h3 class="mb-0 fs-25"><%= @total_counts[:product_location_mapping] %></h3>
        </div>
        <div class="avatar avatar-cyan ">
          <i data-feather="check-circle"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to channel_forecastings_path do %>
      <div class="stats-card-two hover-card mb-30">
        <div class="media align-items-center justify-content-between">
          <div class="ml-0">
            <p class="mb-10 line-height-1">Channel Forecasting Rule</p>
            <h3 class="mb-0 fs-25"><%= @total_counts[:channel_forecastings] %></h3>
          </div>
          <div class="avatar avatar-cyan ">
            <i data-feather="bar-chart"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to sellings_path do %>
      <div class="stats-card-two hover-card mb-30">
        <div class="media align-items-center justify-content-between">
          <div class="ml-0">
            <p class="mb-10 line-height-1">Sellings</p>
            <h3 class="mb-0 fs-25"><%= @total_counts[:sellings] %></h3>
          </div>
          <div class="avatar avatar-cyan ">
            <i data-feather="smile"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%= link_to rules_path do %>
      <div class="stats-card-two hover-card mb-30">
        <div class="media align-items-center justify-content-between">
          <div class="ml-0">
            <p class="mb-10 line-height-1">Customized Rules</p>
            <h3 class="mb-0 fs-25"><%= @total_counts[:customized_rules].to_i %></h3>
          </div>
          <div class="avatar avatar-cyan ">
            <i data-feather="paperclip"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
      <%= link_to general_settings_path do %>
        <div class="stats-card-two hover-card mb-30">
          <div class="media align-items-center justify-content-between">
            <div class="ml-0">
              <p class="mb-10 line-height-1">General Settings</p>
              <h3 class="mb-0 fs-25"><%= @total_counts[:general_settings].to_i %></h3>
            </div>
            <div class="avatar avatar-cyan ">
              <i data-feather="eye"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
