<div class="nested-fields">
  <br>
  <div class="form-group row">
    <div class="col-11">
      <%= f.label 'Add weight' %>
      <%= hidden_field_tag :hidden_weight, f.object.weight, class: 'hidden_weight' %>
      <%= f.number_field :weight, step: 0.01, class: "mail_service_rule_mail_service_labels_attributes_0_weight form-control", placeholder: 'Please enter the weight' %>
    </div>
    <div class="col-11">
      <%= f.label 'Add height' %>
      <%= hidden_field_tag :hidden_height, f.object.height, class: 'hidden_height' %>
      <%= f.number_field :height, step: 0.01,class: "mail_service_rule_mail_service_labels_attributes_0_height form-control", placeholder: 'Please enter the height' %>
    </div>
    <div class="col-11">
      <%= f.label 'Add length' %>
      <%= hidden_field_tag :hidden_length, f.object.length, class: 'hidden_length' %>
      <%= f.number_field :length, step: 0.01,class: "mail_service_rule_mail_service_labels_attributes_0_length form-control", placeholder: 'Please enter the length' %>
    </div>
    <div class="col-11">
      <%= f.label 'Add width' %>
      <%= hidden_field_tag :hidden_width, f.object.width, class: 'hidden_width' %>
      <%= f.number_field :width, step: 0.01, class: "mail_service_rule_mail_service_labels_attributes_0_width form-control", placeholder: 'Please enter the width' %>
    </div>
    <div class='col-1 pt-3'>
      <br>
      <%= link_to_remove_association 'X', f, class: 'text-danger' %>
    </div>
  </div>
</div>
