<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Mail Service Rules</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= settings_path %>">Settings</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= mail_service_rules_path %>">Mail Service Rules</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">View</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">
            View
            <!--a type="button" class="btn btn-link text-primary p-0 ml-3 float-right" data-toggle="modal" data-target="#rule-update-modal">
              <i data-feather="edit-2" class="icon wh-15"></i>
            </a-->
          </h5>
        </div>
        <%# <fieldset disabled> %>
        <%= form_for @mail_service_rule, url: mail_service_rule_path(@mail_service_rule) do |f| %>
          <%= render 'new_form', f: f %>
          <%= f.submit 'Update', class: 'btn btn-success'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= form_for @mail_service_rule, url: mail_service_rule_path(@mail_service_rule) do |f| %>
  <div class="modal fade" id="rule-update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Rule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'new_form', f: f%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Update', class: 'btn btn-success'%>
        </div>
      </div>
    </div>
  </div>
<% end %>
