<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Mail Service Rules</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= settings_path %>">Settings</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= mail_service_rules_path %>">Mail Service Rules</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Show</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">
            Show
            <!--a type="button" class="btn btn-link text-primary p-0 ml-3 float-right" data-toggle="modal" data-target="#rule-update-modal">
              <i data-feather="edit-2" class="icon wh-15"></i>
            </a-->
          </h5>
        </div>
        <%# <fieldset disabled> %>
        <%= form_for @mail_service_rule, url: mail_service_rule_path(@mail_service_rule) do |f| %>
          <div class='form-row '>
            <div class="form-group required col-md-4">
              <%= f.label :rule_name %>
              <%= f.text_field :rule_name, class: 'form-control', placeholder: 'Enter Rule Name' %>
            </div>

            <div class="form-group col-md-4">
              <%= f.label :courier_id %>
              <%= f.select :courier_id, options_for_select(Courier.all.collect { | service | [service.name, service.id] }, f.object.courier_id), {include_blank: 'Select Courier'}, class: "form-control" %>
            </div>

            <div class="form-group col-md-4">
              <%= f.label :service_id %>
              <%= f.select :service_id, options_for_select(Service.all.collect { | service | [service.name, service.id] }, f.object.service_id), {include_blank: 'Select Service'}, class: "form-control" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <%= f.label :public_cost, 'Service Cost' %>
              <%= f.number_field :public_cost, class: 'form-control', placeholder: '0.0 kg' %>
            </div>

            <div class="form-group col-md-3">
              <%= f.label :initial_weight %>
              <%= f.number_field :initial_weight, class: 'form-control', placeholder: '0.0 kg' %>
            </div>

            <div class="form-group col-md-3">
              <%= f.label :additonal_cost_per_kg %>
              <%= f.number_field :additonal_cost_per_kg, class: 'form-control', placeholder: '0.0 $' %>
            </div>

            <div class="form-group col-md-3">
              <%= f.label :vat_percentage %>
              <%= f.number_field :vat_percentage, class: 'form-control', placeholder: '0.00' %>
            </div>
          </div>

          <div class='form-row'>
            <div class="form-group col-md-3">
              <%= f.label :pickup_address %>
              <%= f.select :pickup_address, MailServiceRule.pickup_addresses.map { |key, value| [key.humanize, key] }, {}, class: "form-control" %>
            </div>

            <div class="form-group col-md-3">
              <%= f.label :bonus_score %>
              <%= f.number_field :bonus_score, class: 'form-control', placeholder: '0' %>
            </div>

            <div class="form-group col-md-3">
              <%= f.label :base_weight %>
              <%= f.number_field :base_weight, class: 'form-control', placeholder: '0.0 kg' %>
            </div>

            <div class="form-group col-md-3">
              <%= f.label :base_weight_max %>
              <%= f.number_field :base_weight_max, class: 'form-control', placeholder: '0.0 kg' %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group required col-md-4">
              <%= f.label :label_type %>
              <%= f.select :label_type, MailServiceRule.label_types.map { |key, value| [key.humanize, key] }, {}, class: "form-control" %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :csv_file %>
              <%= f.select :csv_file, MailServiceRule.csv_files.map { |key, value| [key.humanize, key] }, {}, class: "form-control" %>
            </div>

            <div class="form-group col-md-4">
              <%= f.label :courier_account %>
              <%= f.select :courier_account, MailServiceRule.courier_accounts.map { |key, value| [key.humanize, key] }, {}, class: "form-control" %>
            </div>
          </div>

          <div class='form-row'>
            <div class="form-group col-md-3">
              <%= f.label :manual_dispatch_label_template %>
              <%= f.select :manual_dispatch_label_template, MailServiceRule.manual_dispatch_label_templates.map { |key, value| [key.humanize, key] }, {}, class: "form-control" %>
            </div>

            <div class="form-group col-md-3">
              <%= f.label :priority_delivery_days %>
              <%= f.text_field :priority_delivery_days, class: 'form-control', placeholder: '0' %>
            </div>

            <div class="form-group col-md-1">
              <%= f.label :is_priority %>
              <%= f.check_box :is_priority, class: 'form-control' %>
            </div>

            <div class="form-group col-md-3">
              <%= f.label :estimated_delivery_days %>
              <%= f.number_field :estimated_delivery_days, class: 'form-control', placeholder: '0' %>
            </div>
          </div>

          <div class='form-row mb-5'>
            <div class="form-group col-md-4">
              <%= f.label :print_queue_type %>
              <%= f.select :print_queue_type, MailServiceRule.print_queue_types.map { |key, value| [key.humanize, key] }, {}, class: "form-control" %>
            </div>

            <div class="form-group col-md-4">
              <%= f.label :additional_label %>
              <%= f.text_field :additional_label, class: 'form-control', placeholder: '0' %>
            </div>
          </div>

          <div class="form-row">
            <div class='form-group col-md-12'>
              <h3 class='fs-20'>Add New Rule</h3>
            </div>
            <div class="form-group col-md-12">
            <div class='links text-right'>
              <%= link_to_add_association '+', f, :rules, partial: 'mail_service_rules/rule_fields', class: 'nested_fields_btn btn btn-outline-primary rounded'%>
            </div>
              <%= f.fields_for :rules do |rule|%>
                <%= render 'mail_service_rules/rule_fields', f: rule %>
              <% end %>
            </div>
          </div>
          <%= f.submit 'Update', class: 'btn btn-success'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= form_for @mail_service_rule, url: mail_service_rule_path(@mail_service_rule) do |f| %>
  <div class="modal fade" id="rule-update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Rule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'new_form', f: f%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Update', class: 'btn btn-success'%>
        </div>
      </div>
    </div>
  </div>
<% end %>