<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="bg-transparent d-flex mb-4">
          <button class="ml-auto btn btn-primary" data-toggle="modal" data-target='#address-edit-modal'>EDIT ADDRESS</button>
          <button class="ml-1 btn btn-primary" data-toggle="modal" data-target='#courier-edit-modal'>CHANGE RULE</button>
        </div>
        <div class="row">
          <div class="table-responsive col-6 border-right">
            <table class="table m-0 table-hover">
              <tr>
                <td class="text-left">Customer Name</td>
                <td> <%= batch_order.buyer_name %></td>
              </tr>
              <tr>
                <td class="text-left">Delivery address</td>
                <td>
                  <% batch_order.system_user&.addresses&.each do |address| %>
                    <% @delivery_address = address if address&.address_title == 'delivery' %>
                  <% end %>
                  <%= @delivery_address&.address %>
                </td>
              </tr>
              <tr>
                <td class="text-left">Order ID</td>
                <td><%= batch_order.order_id %></td>
              </tr>
              <tr>
                <td class="text-left">Order reference</td>
                <td><%= batch_order.id %></td>
              </tr>
              <tr>
                <td class="text-left">Order date</td>
                <td><%= batch_order.created_at.to_date %></td>
              </tr>
              <tr>
                <td class="text-left">Delivery date</td>
                <td></td>
              </tr>
              <tr>
                <td class="text-left">Courier service</td>
                <td> <%= batch_order.assign_rule.mail_service_rule.courier.name %> </td>
              </tr>
              <tr>
                <td class="text-left">Courier rule</td>
                <td><%= batch_order.assign_rule.mail_service_rule.rule_name %></td>
              </tr>
              <tr>
                <td class="text-left">Total order weight</td>
                <td><%= batch_order.assign_rule&.mail_service_labels&.last&.weight %></td>
              </tr>
            </table>
          </div>
          <div class="table-responsive col-6">
            <table class="table m-0 table-hover">
              <tr>
                <th class="text-center">Image</th>
                <th class="text-center">Price</th>
                <th class="text-center">Available</th>
                <th class="text-center">Dispatched</th>
                <th class="text-center">Allocated</th>
                <th class="text-center">Ordered</th>
              </tr>
              <% @products_group.each do |group| %>
                <% product = group.last.first[:product] %>
                <tr>
                  <td class="text-center">
                    <% if product.photo.attached? %>
                      <%= image_tag product.photo&.service_url, height: '50px', width: '50px' %>
                    <% else %>
                      <%= image_tag('user/1.jpg', width: "50", height: "50", class: 'mr-3 img-thumbnail', alt: 'User Image') %>
                    <% end %>
                  </td>
                  <td class="text-center"><%= batch_order.total_amount %></td>
                  <td class="text-center"><%= product.available_stock %></td>
                  <td class="text-center"><%= 0 %></td>
                  <td class="text-center"><%= product.allocated_orders %></td>
                  <td class="text-center" ><%= group.last.pluck(:quantity)&.sum() %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_with url: courier_edit_pick_and_packs_path, method: :post do |f| %>
  <div class="modal" id="courier-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change Rule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
             <div class="form-group col-md-12">
              <%= f.label :mail_service_rule %>
              <%= f.select :mail_service_rule, options_for_select(MailServiceRule.all.collect { | c | [c.rule_name, c.id] }), {include_blank: 'Select Rule'}, class: "form-control" %>
              <%= f.hidden_field :assign_rule_id, value: batch_order.assign_rule.id %>
              <%= f.hidden_field :batch_order_id, value: batch_order.id %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= submit_tag 'Update', class: 'btn btn-primary'%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_for @delivery_address || Address.new, url: address_edit_pick_and_packs_path, method: :post do |f| %>
  <div class="modal" id="address-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <%= f.label :address %>
            <%= f.text_field :address, class: 'form-control mb-1'  %>
            <%= f.label :city %>
            <%= f.text_field :city, class: 'form-control mb-1'  %>
            <%= f.label :region %>
            <%= f.text_field :region, class: 'form-control mb-1'  %>
            <%= f.label :postcode %>
            <%= f.text_field :postcode, class: 'form-control mb-1'  %>
            <%= f.hidden_field :address_id, value: batch_order.system_user&.addresses&.ids %>
            <%= f.hidden_field :system_user_id, value: batch_order.system_user&.id %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= submit_tag 'Update', class: 'btn btn-primary'%>
        </div>
      </div>
    </div>
  </div>
<% end %>