<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Pick and Packs</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= settings_path %>">Settings</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Pick and Packs</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title"> Data</h5>
        </div>
        <%= search_form_for @q, url: pick_and_packs_path, method: :get do |f| %>
          <div class='row'>
            <div class="col-md-3"><br>
              <div class="dropdown form-group">
                <%= f.search_field :batch_name, class: 'form-control dropdown-toggle', placeholder:"Search in name" %>
              </div>
            </div>
            <div class='col-1 offset-7'>
              <label for="inputState">Per Page</label>
              <%= select_tag :limit, options_for_select([10, 50, 100, 500, 1000], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
              <button type="submit" id="per_page_submit" hidden="hidden"></button>
            </div>
          </div>
        <% end %>
        <br>
        <%= form_with url: bulk_method_pick_and_packs_path , method: :post do |f| %>
          <div class="table-responsive">
            <table class="table m-0 table-hover">
              <tr>
                <th>
                  <div class='row' style='max-width: 65px'>
                    <div class='col-6 p-0  mt-1'>
                      <input type="checkbox" id="" name="" value="" class='col-6 select-all-checkbox'>
                    </div>
                  </div>
                </th>
                <th class="text-center">Name</th>
                <th class="text-center">Status</th>
                <th colspan="3" class="text-center">Actions</th>
              </tr>
              <% @pick_and_packs&.each&.with_index(1) do |pick_and_pack, index| %>
                <tr class=''>
                  <td>
                    <div class='row' style='max-width: 65px'>
                      <div class='col-6 p-0 mt-1'>
                        <%= f.check_box 'object_ids[]', {}, pick_and_pack.id %>
                      </div>
                    </div>
                  </td>
                  <td class="text-center"><%= pick_and_pack.batch_name %></td>
                  <td class="text-center">Status</td>

                  <td class="text-center">
                    <div class="dropdown dropleft">
                      <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Actions">
                        <i data-feather='bell' class='icon wh-15 mt-minus-3'></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to 'Orders', pick_and_pack_path(pick_and_pack), class: 'dropdown-item', remote: true %>
                        <a class="trigger_orders_modal_<%= pick_and_pack.id %> d-none" data-toggle="modal" data-target='#orders-modal'>Orders</a>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
              <%= f.submit '', class: 'bulk-method-delete-objects d-none'%>
            </table>
          </div>
        <% end %>
        <br>
        <div class='float-right'>
          <%= page_entries_info @pick_and_packs %>
        </div><br>
        <div class="pagination justify-content-center mt-3">
          <%= paginate @pick_and_packs,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='show_orders'></div>
