<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Packing Station</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Packing Station</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header d-flex">
          <h5 class="card-title"> Data</h5>
          <div class='mr-1 float-right ml-auto'>
            <%# link_to 'PDF', pick_and_packs_path(format: :pdf), class:"btn btn-outline-success", type:"button"%>
            <%= link_to 'Archives', archive_pick_and_packs_path, class: 'btn btn-outline-info' %>
          </div>
        </div>
        <%= search_form_for @q, url: pick_and_packs_path, method: :get do |f| %>
          <div class='row'>
            <div class="col-md-1"><br>

              <button class="btn btn-outline-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 42px;">
                Bulk
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target='#archive-modal'>Archive</a>
              </div>
            </div>
            <div class="col-md-3"><br>
              <div class="dropdown form-group">
                <%= f.search_field :batch_name_cont, class: 'form-control dropdown-toggle', placeholder:"Search in name" %>
              </div>
            </div>
            <div class='col-1 offset-7'>
              <label for="inputState">Per Page</label>
              <%= select_tag :limit, options_for_select([10, 50, 100, 500, 1000], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
              <button type="submit" id="per_page_submit" hidden="hidden"></button>
            </div>
          </div>
        <% end %>
        <br>
        <%= form_with url: bulk_method_pick_and_packs_path , method: :post do |f| %>
          <div class="table-responsive">
            <table class="table m-0 table-hover">
              <tr>
                <th>
                  <div class='row' style='max-width: 65px'>
                    <div class='col-6 p-0  mt-1'>
                      <input type="checkbox" id="" name="" value="" class='col-6 select-all-checkbox'>
                    </div>
                  </div>
                </th>
                <th class="text-center">Name</th>
                <th class="text-center">Status</th>
                <th class="text-center">Packer</th>
                <th colspan="3" class="text-center">Actions</th>
              </tr>
              <% @pick_and_packs&.each&.with_index(1) do |pick_and_pack, index| %>
                <tr class='<%= pick_and_pack.channel_orders.count > 0 ? '' : 'alert-danger' %>'>
                  <td>
                    <div class='row' style='max-width: 65px'>
                      <div class='col-6 p-0 mt-1'>
                        <%= f.check_box 'object_ids[]', {}, pick_and_pack.id %>
                      </div>
                    </div>
                  </td>
                  <td class="text-center"><%= pick_and_pack.batch_name %></td>
                  <td class="text-center"><%= pick_and_pack&.status %></td>
                  <td class="text-center"><%= pick_and_pack&.user&.personal_detail&.full_name %></td>
                  <td class="text-center">
                    <div class="dropdown dropleft">
                      <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Actions">
                        <i data-feather='bell' class='icon wh-15 mt-minus-3'></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to 'Orders', pick_and_pack_path(pick_and_pack), class: 'dropdown-item', remote: true %>
                        <a class="trigger_orders_modal_<%= pick_and_pack.id %> d-none" data-toggle="modal" data-target='#orders-modal'>Orders</a>
                        <%= link_to 'Start Packing', show_order_pick_and_packs_path(id: pick_and_pack.channel_orders.first.id), class: 'dropdown-item' %>
                        <a class="dropdown-item assign_user" data-id="<%= pick_and_pack.id %>">Assign Packer</a>
                        <% if pick_and_pack.channel_orders.count == 0 %>
                          <%= link_to 'Archive', pick_and_pack_path(pick_and_pack), method: 'delete', data: {confirm: "Are you sure you want to archive"}, class: "dropdown-item"%>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
              <%= f.submit '', class: 'bulk-method-delete-objects d-none'%>
            </table>
          </div>
        <% end %>
        <br>
        <div class='float-right'>
          <%= page_entries_info @pick_and_packs %>
        </div><br>
        <div class="pagination justify-content-center mt-3">
          <%= paginate @pick_and_packs,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='show_orders'></div>

<div class="modal" id="packer-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Assign Packer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with url: assign_user_pick_and_packs_path, method: :post do |f| %>
        <div class="modal-body">
          <%= hidden_field_tag :batch_id %>
          <label>Please select packer</label>
          <%= f.select :user_id, options_for_select(@user_list&.collect { | user | [user&.personal_detail&.full_name, user&.id] }, @user&.id), {}, class: 'form-control' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Assign', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>