<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Packing Station</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= pick_and_packs_path %>">Packing Station</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Show</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="table-responsive">
        <table class="table m-0 table-hover">
          <tr>
            <td class="text-left">Customer Name</td>
            <td> <%= @batch_order.buyer_name %></td>
          </tr>
          <tr>
            <td class="text-left">Delivery address</td>
            <td> <%= @batch_order.system_user&.addresses&.last&.address %> </td>
          </tr>
          <tr>
            <td class="text-left">Order ID</td>
            <td><%= @batch_order.order_id %></td>
          </tr>
          <tr>
            <td class="text-left">Order reference</td>
            <td><%= @batch_order.id %></td>
          </tr>
          <tr>
            <td class="text-left">Order date</td>
            <td><%= @batch_order.created_at.to_date %></td>
          </tr>
          <tr>
            <td class="text-left">Delivery date</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-left">Courier service</td>
            <td> <%= @batch_order.assign_rule.mail_service_rule.courier.name %> </td>
          </tr>
          <tr> 
            <td class="text-left">Courier rule</td>
            <td><%= @batch_order.assign_rule.mail_service_rule.rule_name %></td>
          </tr>
          <tr>
            <td class="text-left">Total order weight</td>
            <td><%= @batch_order.assign_rule.mail_service_labels.last.weight %></td>
          </tr>
        </table>
      </div>
        <div class="card-footer bg-transparent d-flex">
          <button class="ml-auto btn btn-primary">ADD TO CONTAINER</button>
          <button class="ml-1 btn btn-primary" data-toggle="modal" data-target='#address-edit-modal'>EDIT ADDRESS</button>
          <button class="ml-1 btn btn-primary" data-toggle="modal" data-target='#courier-edit-modal'>CHANGE COURIER</button>
          <button class="ml-1 btn btn-primary">PICK ALL ITEMS</button>
        </div>
      </div>
      <div>
      <div class="table-responsive">
        <table class="table m-0 table-hover">
          <tr>
            <th class="text-center">Image</th>
            <th class="text-center">Price</th>
            <th class="text-center">Available</th>
            <th class="text-center">Dispatched</th>
            <th class="text-center">Allocated</th>
            <th class="text-center">Ordered</th>
          </tr>
          <% @batch_order.channel_order_items.each do |item| %>
            <tr>
              <td class="text-center"><img alt="No image" href="<%= item&.channel_product&.item_image %>"></td>
              <td class="text-center"><%= @batch_order.total_amount %></td>
              <% if item&.channel_product&.product_mapping&.product&.product_type_multiple? %>
                <td class="text-center">
                  <% item&.channel_product&.product_mapping&.product&.multipack_products&.each do |product| %>
                    <%= product.total_stock %>
                  <% end %>
                </td>
              <% else %>
                <td class="text-center"><%= item&.channel_product&.product_mapping&.product&.total_stock %></td>
              <% end %>
              <td class="text-center"><%=  %></td>
              <td class="text-center"><%=  %></td>
              <td class="text-center"><%= item.ordered %></td>
            </tr>
          <% end %>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>

<%= form_with url: courier_edit_pick_and_packs_path, method: :post do |f| %>
  <div class="modal" id="courier-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change Courier</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
             <div class="form-group col-md-6">
              <%= f.label :courier_id %>
              <%= f.select :courier_id, options_for_select(Courier.all.collect { | c | [c.name, c.id] }), {include_blank: 'Select Courier'}, class: "form-control" %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label 'Service' %>
              <%= f.select :service_id, options_for_select([]), {include_blank: 'Please select courier first'}, class: "form-control" %>
            </div>

            <%# text_field_tag :order_id,{}, autofocus: true, required: true, class: 'form-control col-11 mx-auto', placeholder: 'Enter Order ID' %>
          </div>
          <%= submit_tag 'check', class: 'd-none'%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_tag(address_edit_pick_and_packs_path, method: :post) do |f| %>
  <div class="modal" id="address-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <%= text_field_tag :order_id,{}, autofocus: true, required: true, class: 'form-control col-11 mx-auto', placeholder: 'Enter Address' %>
          </div>
          <%= submit_tag 'check', class: 'd-none'%>
        </div>
      </div>
    </div>
  </div>
<% end %>
