<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Start Packing</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Start Packing</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="d-flex mb-2">
          <%= search_form_for @q, url: start_packing_pick_and_packs_path, method: :get, class: 'ml-auto' do |f| %>
            <%= f.select :batch_name_eq, options_for_select(@batches.collect { | batch | [batch.batch_name.titleize, batch.batch_name] }, f.object.batch_name_eq),{include_blank: 'Please select batch'}, class: 'form-control ml-auto batches-select' %>
            <%= f.submit 'check', class: 'batches-button-submit d-none'%>
          <% end %>
        </div>
        <div class="row">
          <div class="col-12 border-top-0 border-bottom-0 border-left-0">
          </div>
          <div class="col-12">
          <% if @tracking_order&.present? %>
            <%= form_tag(scan_barcode_pick_and_packs_path(), method: :get) do |f| %>
              <%= hidden_field_tag :"q[batch_name_eq]", params[:q].try(:[], :batch_name_eq) %>
              <%= hidden_field_tag :tracking_no, params[:tracking_no] %>
              <div class="row">
                <%= label_tag :query, "Scan barcode:", class: 'col-3 mx-auto' %>
              </div>
              <div class="form-group row">
                <%= text_field_tag :barcode,{}, autofocus: true, required: true, class: 'form-control col-3 mx-auto', placeholder: 'Please scan barcode' %>
              </div>
              <%= submit_tag 'check', class: 'd-none'%>
            <% end %>
            <%= render "information_show", batch_order: @tracking_order %>
          <% else %>
            <%= form_tag(start_packing_pick_and_packs_path(), method: :get) do |f| %>
              <%= hidden_field_tag :"q[batch_name_eq]", params[:q].try(:[], :batch_name_eq) %>
              <div class="row">
                <%= label_tag :query, "Enter or scan tracking:", class: 'col-3 mx-auto' %>
              </div>
              <div class="form-group row">
                <%= text_field_tag :tracking_no, {}, autofocus: true, required: true, class: 'form-control col-3 mx-auto', placeholder: 'Please scan or enter tracking' %>
              </div>
              <%= submit_tag 'check', class: 'd-none'%>
            <% end %>
            <table class="table m-0 table-hover">
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Order No.</th>
                <th class="text-center">Tracking No.</th>
                <th class="text-center">Items</th>
              </tr>
              <% @orders&.each do |order|%>
                <tr>
                  <td class="text-center"><%= order.buyer_name%></td>
                  <td class="text-center"><%= order.order_id%></td>
                  <td class="text-center">
                    <% order.trackings&.each do |item| %>
                      <%= item.tracking_no %><br>
                    <% end %>
                  </td>
                  <td class="text-center"><%= order.channel_order_items&.count%></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          </div>
        <div>
        <div class='float-right'>
          <%# page_entries_info @pick_and_packs %>
        </div><br>
        <div class="pagination justify-content-center mt-3">
          <%# paginate @pick_and_packs,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
        </div>
      </div>
    </div>
  </div>
</div>
