<%= form_with url: '/import_mappings', remote: true do |f| %>
  <div class="form-group">
    <%= f.label :table_name %>
    <%= f.select :table_name,  @table_names, {}, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :sub_type %>
    <%= f.text_field :sub_type, class: 'form-control'%>
  </div>
  <% db_columns.each do |col_name| %>
  <div class="d-flex">
    <div class="form-group">
      <%= label_tag :"#{col_name}" %>
     <%= select_tag :"#{col_name}",  options_for_select(header), class: 'form-control', prompt: "Select Header"%>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Create" %>
  </div>
<% end %>
