<!-- Product Mapping Start-->
<div class="faq-accordion mb-30">
  <ul class="accordion">
    <li class="accordion-item">
      <a class="accordion-title" href="javascript:void(0)">
        <i class="lni-plus"></i>
        Product Mapping
      </a>
      <div class="accordion-content">
          <div class= "mb-4">
            <a class="btn btn-primary float-right" data-toggle="modal" data-target='#product-mapping-modal'>Create</a>
          </div>
          <table class="table m-0 table-hover">
            <% @product_mappings.each do |import_mapping| %>
              <div class= 'd-flex'>
                <tr>
                  <td class="text-center font-weight-bold mr-4 font-lg"><%= import_mapping.sub_type %></td>
                  <% @blank, @full = import_mapping&.mapping_data&.partition { |_, v| v.blank? }&.map { |alist| Hash[alist] }%>
                  <td>
                    <%= form_tag import_products_path, multipart: true, method: :post do %>
                      <%= text_field_tag :mapping_type, import_mapping.sub_type, class: 'd-none form-control'%>
                      <%= file_field_tag :file, :required => true %>
                      <%= submit_tag("Import", id: "button", class: "btn btn-primary", name: "submit") %>
                    <% end %>
                  </td>
                  <td>
                    <div class="dropdown dropleft">
                      <%= link_to 'Edit', edit_import_mapping_path(import_mapping), class: "btn btn-info ml-3 mr-3 text-white" %>
                    </div>
                  </td>
                </tr>
              </div>
            <% end %>
          </table>
      </div>
    </li>
  </ul>
</div>
<!-- Product Mapping End -->

<!-- Order Mapping Start-->
<div class="faq-accordion mb-30">
  <ul class="accordion">
    <li class="accordion-item">
      <a class="accordion-title" href="javascript:void(0)">
        <i class="lni-plus"></i>
        Order Mapping
      </a>
      <div class="accordion-content">
          <div class= "mb-4">
            <a class="btn btn-primary float-right" data-toggle="modal" data-target='#order-mapping-modal'>Create</a>
          </div>
          <table class="table m-0 table-hover">
            <% @order_mappings.each do |import_mapping| %>
              <div class= 'd-flex'>
                <tr>
                  <td class="text-center font-weight-bold mr-4 font-lg"><%= import_mapping.sub_type %></td>
                  <% @blank, @full = import_mapping&.mapping_data&.partition { |_, v| v.blank? }&.map { |alist| Hash[alist] }%>
                  <td>
                    <%= form_tag import_order_dispatches_path, multipart: true, method: :post do %>
                      <%= text_field_tag :mapping_type, import_mapping.sub_type, class: 'd-none form-control'%>
                      <%= file_field_tag :file, :required => true %>
                      <%= submit_tag("Import", id: "button", class: "btn btn-primary", name: "submit") %>
                    <% end %>
                  </td>
                  <td>
                    <div class="dropdown dropleft">
                      <%= link_to 'Edit', edit_import_mapping_path(import_mapping), class: "btn btn-info ml-3 mr-3 text-white" %>
                    </div>
                  </td>
                </tr>
              </div>
            <% end %>
          </table>
      </div>
    </li>
  </ul>
</div>
<!-- Order Mapping End -->

<!-- Channel Product Mapping Start-->
<div class="faq-accordion mb-30">
  <ul class="accordion">
    <li class="accordion-item">
      <a class="accordion-title" href="javascript:void(0)">
        <i class="lni-plus"></i>
        Channel Product Mapping
      </a>
      <div class="accordion-content">
        <div class= "mb-4">
          <a class="btn btn-primary float-right" data-toggle="modal" data-target='#channel-product-mapping-modal'>Create</a>
        </div>
        <table class="table m-0 table-hover">
          <% @channel_product_mappings.each do |import_mapping| %>
            <div class= 'd-flex'>
              <tr>
                <td class="text-center font-weight-bold mr-4 font-lg"><%= import_mapping.sub_type %></td>
                <% @blank, @full = import_mapping&.mapping_data&.partition { |_, v| v.blank? }&.map { |alist| Hash[alist] }%>
                <td>
                  <%= form_tag import_product_mappings_path, multipart: true, method: :post do %>
                    <%= text_field_tag :mapping_type, import_mapping.sub_type, class: 'd-none form-control'%>
                    <%= file_field_tag :file, :required => true %>
                    <%= submit_tag("Import", id: "button", class: "btn btn-primary", name: "submit") %>
                  <% end %>
                </td>
                <td>
                  <div class="dropdown dropleft">
                    <%= link_to 'Edit', edit_import_mapping_path(import_mapping), class: "btn btn-info ml-3 mr-3 text-white" %>
                  </div>
                </td>
              </tr>
            </div>
          <% end %>
        </table>
      </div>
    </li>
  </ul>
</div>
<!-- Channel Product Mapping End -->

<!-- Tracking Start-->
<div class="faq-accordion mb-30">
  <ul class="accordion">
    <li class="accordion-item">
      <a class="accordion-title" href="javascript:void(0)">
        <i class="lni-plus"></i>
          Add Tracking Mapping
      </a>
      <div class="accordion-content">
        <div class= "mb-4">
          <a class="btn btn-primary float-right" data-toggle="modal" data-target='#tracking-modal'>Create</a>
        </div>
        <table class="table m-0 table-hover">
          <% @tracking_mappings.each do |import_mapping| %>
            <div class= 'd-flex'>
              <tr>
                <td class="text-center font-weight-bold mr-4 font-lg"><%= import_mapping.sub_type %></td>
                  <% @blank, @full = import_mapping&.mapping_data&.partition { |_, v| v.blank? }&.map { |alist| Hash[alist] }%>
                <td>
                  <%= form_tag import_trackings_path, multipart: true, method: :post do %>
                    <%= text_field_tag :mapping_type, import_mapping.sub_type, class: 'd-none form-control'%>
                    <%= file_field_tag :file, :required => true %>
                    <%= submit_tag("Import", id: "button", class: "btn btn-primary", name: "submit") %>
                  <% end %>
                </td>
                <td>
                  <div class="dropdown dropleft">
                    <%= link_to 'Edit', edit_import_mapping_path(import_mapping), class: "btn btn-info ml-3 mr-3 text-white" %>
                  </div>
                </td>
              </tr>
            </div>
          <% end %>
        </table>
      </div>
    </li>
  </ul>
</div>
<!-- Tracking End -->


<!-- Product Accordion -->
<div class="faq-accordion mb-30">
  <ul class="accordion">
    <li class="accordion-item">
      <a class="accordion-title" href="javascript:void(0)">
        <i class="lni-plus"></i>
        Manual Dispatch CSV Template
      </a>
      <div class="accordion-content">
        <div class= "mb-4">
          <a class="btn btn-primary float-right" data-toggle="modal" data-target='#manual-dispatch-modal'>Create</a>
        </div>
        <h4 class='mb-3'>New Mapping</h4>
          <div class="faq-accordion mb-30">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class="lni-plus"></i>
                  Mappings
                </a>
                <div class="accordion-content">
                  <table class="table m-0 table-hover">
                    <tr>
                        <th>Table Name</th>
                        <th class="text-center">Description Name</th>
                        <th>Columns Added</th>
                        <th>Actions</th>
                    </tr>
                    <% @courier_csv_exports&.each do |import_mapping| %>
                      <tr>
                      <td><%= import_mapping.table_name %></td>
                      <td class="text-center font-weight-bold"><%= import_mapping.sub_type %></td>
                      <td>
                        <% import_mapping.mapping_data.each do |data| %>
                          <%= data %><br>
                        <% end %>
                      </td>
                      <td>
                        <div class= 'd-flex'>
                          <%= link_to 'Destroy', import_mapping, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-white btn btn-danger" %>
                          <%#= link_to 'Edit', edit_export_mapping_path(import_mapping), class: "text-white btn btn-info ml-3 mr-3" %>
                        </div>
                      </td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </li>
  </ul>
</div>
<!-- Product Accordion End -->

<!-- Competitive Price -->
<div class="faq-accordion mb-30">
  <ul class="accordion">
    <li class="accordion-item">
      <a class="accordion-title" href="javascript:void(0)">
        <i class="lni-plus"></i>
        Competitive Price
      </a>
      <div class="accordion-content">
          <div class= "mb-4">
            <a class="btn btn-primary float-right" data-toggle="modal" data-target='#competitive-price-modal'>Create</a>
          </div>
          <table class="table m-0 table-hover">
            <% @consolidations&.each do |consolidation| %>
              <div class= 'd-flex mb-3'>
                <tr>
                  <td class="text-center font-weight-bold mr-4 font-lg"><%= consolidation.sub_type %></td>
                  <td>
                    <%=  form_for @consolidation, url: consolidation_mapping_path, method: :post do |f| %>
                      <%= f.file_field :file, style:"width:240px;", class: 'btn p-0', accept: ".csv",required: true %>
                      <%= f.hidden_field :consolidation_id, value: consolidation.id%>
                      <%= f.submit 'Generate Report', class:"btn btn-primary"%>
                    <% end %>
                  </td>
                  <td>
                    <div class="dropdown dropleft">
                      <%= link_to 'Edit', edit_import_mapping_path(consolidation), class: "btn btn-primary text-white" %>
                      <%#= link_to 'Destroy', consolidation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mx-3" %>
                  </td>
                </tr>
              </div>
            <% end %>
          </table>
      </div>
    </li>
  </ul>
</div>
<!-- Competitive Price End -->

<!-- Competitive Price Modal Start -->
<div class="modal" id="competitive-price-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Calculate Competitive Price</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag competitive_price_path, method: :post, multipart: true do %>
        <div class="modal-body">
          <%= label_tag 'Please select a file:' %>
          <%= file_field_tag :file, style:"width:240px;", class: 'btn', accept: ".csv", required: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= submit_tag 'Create Mapping', class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Competitive Price Modal End -->

<!-- Auto Dispatch -->
<div class="faq-accordion mb-30">
  <ul class="accordion">
    <li class="accordion-item">
      <a class="accordion-title" href="javascript:void(0)">
        <i class="lni-plus"></i>
        Auto Dispatch
      </a>
      <div class="accordion-content">
          <div class= "mb-4">
            <a class="btn btn-primary float-right" data-toggle="modal" data-target='#auto-dispatch-modal'>Create</a>
          </div>
          <table class="table m-0 table-hover">
            <% if @auto_dispatch.present?%>
              <tr>
                <td>Sub Type Name</td>
                <td> Edit </td>
              </tr>
            <% end %>
            <% @auto_dispatch&.each do |auto_dispatch| %>
              <div class= 'd-flex mb-3'>
                <tr>
                  <td class="font-weight-bold mr-4 font-lg"><%= auto_dispatch.sub_type %></td>
                  <td>
                    <div class="dropdown dropleft">
                      <%= link_to 'Edit', edit_auto_dispatch_path(id: auto_dispatch.id), class: "btn btn-primary text-white" %>
                      <%#= link_to 'Destroy', consolidation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mx-3" %>
                  </td>
                </tr>
              </div>
            <% end %>
          </table>
      </div>
    </li>
  </ul>
</div>
<!-- Auto-dispatch End -->

<!--Auto-dispatch Model-->
<div class="modal" id="auto-dispatch-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Auto Dispatch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag auto_dispatch_path, method: :post, multipart: true do %>
        <div class="modal-body">
          <%= label_tag 'Please select a file:' %>
          <%= file_field_tag :file, style:"width:240px;", class: 'btn', accept: ".csv", required: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= submit_tag 'Create Mapping', class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--Auto-dispatch Model End-->

<!-- Product Mapping Modal Start -->
<div class="modal" id="product-mapping-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Product Mapping</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @product, url: product_file_path, method: :post do |f| %>
        <div class="modal-body">
          <%= label_tag 'Please select a file:' %>
          <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv", required: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Product Mapping Modal End -->

<!-- Order Mapping Modal Start -->
<div class="modal" id="order-mapping-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Order Mapping</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @order, url: order_file_path, method: :post do |f| %>
        <div class="modal-body">
          <%= label_tag 'Please select a file:' %>
          <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv",required: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Order Mapping Modal End -->

<!-- Channel Product Mapping Modal Start -->
<div class="modal" id="channel-product-mapping-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Channel Product Mapping</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag import_product_mappings_path, multipart: true, method: :post do %>
        <div class="modal-body">
          <%= label_tag 'Please select a file:' %>
          <%= file_field_tag :file, :required => true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= submit_tag("Import", id: "button", class: "btn btn-primary", name: "submit") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Order Mapping Modal End -->

<!-- Tracking Modal Start -->
<div class="modal" id="tracking-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tracking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @tracking, url: tracking_file_path, method: :post do |f| %>
        <div class="modal-body">
          <%= label_tag 'Please select a file:' %>
          <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv",required: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Order Mapping Modal End -->

<!-- Manual Dispatch Modal Start -->
<div class="modal" id="manual-dispatch-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manual Dispatch Template</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @courier_csv_export, url: courier_csv_export_path, method: :post do |f| %>
        <div class="modal-body">
          <%= label_tag 'Please select a file:' %>
          <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv",required: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Manual Dispatch Modal End -->
