<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Consolidation Tool</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="<%= home_path %>">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Consolidation Tool</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->
<!-- Consolidation Tool -->

<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <div class= "mb-4">
            <a class="btn btn-primary float-right" data-toggle="modal" data-target='#consolidation-modal'>Create</a>
          </div>
          <h5 class="card-title"> Consolidation Tool</h5>
        </div>
        <table class="table m-0 table-hover">
          <% @consolidations&.each do |consolidation| %>
            <div class= 'd-flex mb-3'>
              <tr>
                <td class="text-center font-weight-bold mr-4 font-lg"><%= consolidation.sub_type %></td>
                <td>
                  <%=  form_for @consolidation, url: consolidation_mapping_path, method: :post do |f| %>
                    <%= f.file_field :file, style:"width:240px;", class: 'btn p-0', accept: ".csv",required: true %>
                    <%= f.hidden_field :consolidation_id, value: consolidation.id%>
                    <%= f.submit 'Generate Report', class:"btn btn-primary"%>
                  <% end %>
                </td>
                <td>
                  <div class="dropdown dropleft">
                    <%= link_to 'Edit', edit_import_mapping_path(consolidation), class: "btn btn-primary text-white" %>
                    <%#= link_to 'Destroy', consolidation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mx-3" %>
                </td>
              </tr>
            </div>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Consolidation Tool End -->

<div class="modal" id="consolidation-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Consolidation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with url: consolidation_tool_path, method: :post do |f| %>
        <div class="modal-body">
          <%= f.label 'Please select a file:' %>
          <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv",required: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
