<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Create File Mappings</h5>
        </div>
        <%= form_with url: '/import_mappings', remote: true do |f| %>
          <% @csv1_headers.each do |header| %>
          <div class="d-flex">
            <div class="form-group">
              <%= label_tag :"#{header}" %>
            <%= select_tag :"#{header}",  options_for_select(@csv2_headers), class: 'chosen-select form-control', prompt: "Select Header"%>
            </div>
          </div>
          <% end %>
          <%= f.hidden_field :header_data, value: [@csv2_headers] %>
          <%= f.hidden_field :table_data, value: [@csv1_headers] %>
          <%= f.hidden_field :mapping_type, value: 'dual' %>
          <div class="form-group">
            <%= f.button :Create, class: 'btn btn-outline-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>