<div class="card mb-30">
  <div class="card-body">
    <div class="tabs-style-two">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link <%= 'active' if params[:mapping_filter].eql? 'import' %>" href=<%= import_mappings_path(mapping_filter: 'import')%>>Import Mappings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if params[:mapping_filter].eql? 'export' %>" href=<%= import_mappings_path(mapping_filter: 'export')%>>Export Mappings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if params[:mapping_filter].eql? 'download' %>" href= <%= import_mappings_path(mapping_filter: 'download')%> data-target = "#download-multifile">Downloads</a>
        </li>
      </ul>

      <div class="tab-content">
        <!-- Import Mapping -->
        <div class="tab-pane fade <%= 'show active' if params[:mapping_filter].eql? 'import' %>" id="demo_two_home" role="tabpanel">
          <%= render 'index_import_mapping' if params[:mapping_filter].eql? 'import' %>
        </div>
        <!-- Import Mapping END -->

        <!--  Export Mapping -->
        <div class="tab-pane fade<%= 'show active' if params[:mapping_filter].eql? 'export' %>" id="demo_two_profile" role="tabpanel">
          <%= render 'index_export_mappings' %>
        </div>
        <!--  Export Mapping End -->

        <!-- Download MultiFile -->
        <div class="tab-pane fade <%= 'show active' if params[:mapping_filter].eql? 'download' %>" id="download-multifile" role="tabpanel">
          <%= render 'download_multifile_mapping' if params[:mapping_filter].eql? 'download' %>
        </div>
        <!-- Download MultiFile End -->
      </div>
    </div>
  </div>
</div>
