<div class="card mb-30">
  <div class="card-body">
    <div class="tabs-style-two">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#demo_two_home">Import Mappings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#demo_two_profile">Export Mappings</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="demo_two_home" role="tabpanel">
          <!-- Product Accordion -->
          <div class="faq-accordion mb-30">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class="lni-plus"></i>
                  Product Mapping
                </a>
                <div class="accordion-content">
                  <h4 class='mb-3'>New Mapping</h4>
                  <div class= "mb-4 border">
                    <%= form_for @product, url: product_file_path, method: :post do |f| %>
                      <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv",required: true %>
                      <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
                    <% end %>
                  </div>
                  <h4 class='mb-3'>Mappings</h4>
                  <% @product_mappings.each do |import_mapping| %>
                    <div class="faq-accordion mb-30">
                      <ul class="accordion">
                        <li class="accordion-item">
                          <a class="accordion-title d-flex" href="javascript:void(0)">
                            <i class="lni-plus bg-secondary"></i>
                            <%= import_mapping.sub_type %>
                            <span class='text-white'>X</span>
                          </a>
                          <% @blank, @full = import_mapping&.mapping_data&.partition { |_, v| v.blank? }&.map { |alist| Hash[alist] }%>
                          <div class="accordion-content">
                            <div class= 'd-flex'>
                              <%= link_to 'Destroy', import_mapping, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                              <%= link_to 'Edit', edit_import_mapping_path(import_mapping), class: "btn btn-info ml-3 mr-3" %>
                              <%= form_tag import_products_path, multipart: true, method: :post do %>
                                <%= text_field_tag :mapping_type, import_mapping.sub_type, class: 'd-none form-control'%>
                                <%= file_field_tag :file, :required => true %>
                                <%= submit_tag("Import", id: "button", class: "btn btn-primary", name: "submit") %>
                              <% end %>
                            </div>
                            <div class="row justify-content-center">
                              <div class="col-lg-12">
                                <div class="card text-center mb-30">
                                  <div class="header card-header">Mapped</div>
                                  <table class="table m-0 table-hover">
                                    <thead>
                                      <tr>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <%@full.each_slice(4) do |map|%>
                                        <tr>
                                          <%map.each do |maps|%>
                                            <td><%= maps[0] %></td>
                                            <td class='border-right'><%= maps[1] %></td>
                                          <% end %>
                                        </tr>
                                        <% end %>
                                      </tbody>
                                  </table>
                                </div>
                              </div>

                              <div class="col-lg-12">
                                <div class="card text-center mb-30">
                                  <div class="header card-header">Unmapped</div>
                                  <table class="table m-0 table-hover">
                                    <thead>
                                      <tr>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <%@blank.each_slice(5) do |map|%>
                                        <tr>
                                          <%map.each do |maps|%>
                                            <td class='border-right'><%= maps[0] %></td>
                                          <% end %>
                                        </tr>
                                        <% end %>
                                      </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
          <!-- Product Accordion End -->

          <!-- Order Accordion -->
          <div class="faq-accordion mb-30">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class="lni-plus"></i>
                  Order Mapping
                </a>
                <div class="accordion-content">
                  <h4 class='mb-3'>New Mapping</h4>
                  <div class= "mb-4 border">
                    <%= form_for @order, url: order_file_path, method: :post do |f| %>
                      <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv",required: true %>
                      <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
                    <% end %>
                  </div>
                  <h4 class='mb-3'>Mappings</h4>
                  <% @order_mappings.each do |import_mapping| %>
                    <div class="faq-accordion mb-30">
                      <ul class="accordion">
                        <li class="accordion-item">
                          <a class="accordion-title" href="javascript:void(0)">
                            <i class="lni-plus bg-secondary"></i>
                            <%= import_mapping.sub_type %>
                            <span class='text-white'>X</span>
                          </a>
                          <div class="accordion-content">
                            <div class='col-12 mb-2 float-right'>
                              <div class= 'd-flex'>
                                <%= link_to 'Destroy', import_mapping, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                                <%= link_to 'Edit', edit_import_mapping_path(import_mapping), class: "btn btn-info ml-3 mr-3" %>
                                <%= form_tag import_order_dispatches_path, multipart: true, method: :post do %>
                                  <%= text_field_tag :mapping_type, import_mapping.sub_type, class: 'd-none form-control'%>
                                  <%= file_field_tag :file, :required => true %>
                                  <%= submit_tag("Import", id: "button", class: "btn btn-primary", name: "submit") %>
                                <% end %>
                              </div>
                              <% @blank, @full = import_mapping&.mapping_data&.partition { |_, v| v.blank? }&.map { |alist| Hash[alist] }%>
                            </div>
                            <div class="row justify-content-center">
                              <div class="col-lg-12">
                                <div class="card text-center mb-30">
                                  <div class="header card-header">Mapped</div>
                                  <table class="table m-0 table-hover">
                                    <thead>
                                      <tr>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <%@full.each_slice(4) do |map|%>
                                        <tr>
                                          <%map.each do |maps|%>
                                            <td><%= maps[0] %></td>
                                            <td class='border-right'><%= maps[1] %></td>
                                          <% end %>
                                        </tr>
                                        <% end %>
                                      </tbody>
                                  </table>
                                </div>
                              </div>

                              <div class="col-lg-12">
                                <div class="card text-center mb-30">
                                  <div class="header card-header">Unmapped</div>
                                  <table class="table m-0 table-hover">
                                    <thead>
                                      <tr>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <%@blank.each_slice(5) do |map|%>
                                        <tr>
                                          <%map.each do |maps|%>
                                            <td class='border-right'><%= maps[0] %></td>
                                          <% end %>
                                        </tr>
                                        <% end %>
                                      </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
          <!-- Order Accordion End -->

          <!-- Channel Product Accordion -->
          <div class="faq-accordion mb-30">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class="lni-plus"></i>
                  Channel Product Mapping
                </a>
                <div class="accordion-content">
                  <h4 class='mb-3'>New Mapping</h4>
                  <div class= "mb-4 border">
                    <%= form_for @channel_product, url: channel_product_file_path, method: :post do |f| %>
                      <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv",required: true %>
                      <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
                    <% end %>
                  </div>
                  <h4 class='mb-3'>Mappings</h4>
                  <% @channel_product_mappings.each do |import_mapping| %>
                    <div class="faq-accordion mb-30">
                      <ul class="accordion">
                        <li class="accordion-item">
                          <a class="accordion-title" href="javascript:void(0)">
                            <i class="lni-plus bg-secondary"></i>
                            <%= import_mapping.sub_type %><span class='text-white'>X</span>
                          </a>
                          <div class="accordion-content">
                            <div class='col-12 mb-2 float-right'>
                              <div class= 'd-flex'>
                                <%= link_to 'Destroy', import_mapping, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                                <%= link_to 'Edit', edit_import_mapping_path(import_mapping), class: "btn btn-info ml-3 mr-3" %>
                                <%= form_tag import_product_mappings_path, multipart: true, method: :post do %>
                                  <%= text_field_tag :mapping_type, import_mapping.sub_type, class: 'd-none form-control'%>
                                  <%= file_field_tag :file, :required => true %>
                                  <%= submit_tag("Import", id: "button", class: "btn btn-primary", name: "submit") %>
                                <% end %>
                              </div>
                              <% @blank, @full = import_mapping&.mapping_data&.partition { |_, v| v.blank? }&.map { |alist| Hash[alist] }%>
                            </div>
                            <div class="row justify-content-center">
                              <div class="col-lg-12">
                                <div class="card text-center mb-30">
                                  <div class="header card-header">Mapped</div>
                                  <table class="table m-0 table-hover">
                                    <thead>
                                      <tr>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <%@full.each_slice(4) do |map|%>
                                        <tr>
                                          <%map.each do |maps|%>
                                            <td><%= maps[0] %></td>
                                            <td class='border-right'><%= maps[1] %></td>
                                          <% end %>
                                        </tr>
                                        <% end %>
                                      </tbody>
                                  </table>
                                </div>
                              </div>

                              <div class="col-lg-12">
                                <div class="card text-center mb-30">
                                  <div class="header card-header">Unmapped</div>
                                  <table class="table m-0 table-hover">
                                    <thead>
                                      <tr>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <%@blank.each_slice(5) do |map|%>
                                        <tr>
                                          <%map.each do |maps|%>
                                            <td class='border-right'><%= maps[0] %></td>
                                          <% end %>
                                        </tr>
                                        <% end %>
                                      </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
          <!-- Channel Product Accordion End -->

          <!-- Tracking Accordion -->
          <div class="faq-accordion mb-30">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class="lni-plus"></i>
                  Add Tracking Mapping
                </a>
                <div class="accordion-content">
                  <h4 class='mb-3'>New Mapping</h4>
                  <div class= "mb-4 border">
                    <%= form_for @tracking, url: tracking_file_path, method: :post do |f| %>
                      <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv",required: true %>
                      <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
                    <% end %>
                  </div>
                  <h4 class='mb-3'>Mappings</h4>
                  <% @tracking_mappings.each do |import_mapping| %>
                    <div class="faq-accordion mb-30">
                      <ul class="accordion">
                        <li class="accordion-item">
                          <a class="accordion-title" href="javascript:void(0)">
                            <i class="lni-plus bg-secondary"></i>
                            <%= import_mapping.sub_type %><span class='text-white'>X</span>
                          </a>
                          <div class="accordion-content">
                            <div class='col-12 mb-2 float-right'>
                              <div class= 'd-flex'>
                                <%= link_to 'Destroy', import_mapping, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                                <%= link_to 'Edit', edit_import_mapping_path(import_mapping), class: "btn btn-info ml-3 mr-3" %>
                                <%= form_tag import_trackings_path, multipart: true, method: :post do %>
                                  <%= text_field_tag :mapping_type, import_mapping.sub_type, class: 'd-none form-control'%>
                                  <%= file_field_tag :file, :required => true %>
                                  <%= submit_tag("Import", id: "button", class: "btn btn-primary", name: "submit") %>
                                <% end %>
                              </div>
                              <% @blank, @full = import_mapping&.mapping_data&.partition { |_, v| v.blank? }&.map { |alist| Hash[alist] }%>
                            </div>
                            <div class="row justify-content-center">
                              <div class="col-lg-12">
                                <div class="card text-center mb-30">
                                  <div class="header card-header">Mapped</div>
                                  <table class="table m-0 table-hover">
                                    <thead>
                                      <tr>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <%@full.each_slice(4) do |map|%>
                                        <tr>
                                          <%map.each do |maps|%>
                                            <td><%= maps[0] %></td>
                                            <td class='border-right'><%= maps[1] %></td>
                                          <% end %>
                                        </tr>
                                        <% end %>
                                      </tbody>
                                  </table>
                                </div>
                              </div>

                              <div class="col-lg-12">
                                <div class="card text-center mb-30">
                                  <div class="header card-header">Unmapped</div>
                                  <table class="table m-0 table-hover">
                                    <thead>
                                      <tr>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <%@blank.each_slice(5) do |map|%>
                                        <tr>
                                          <%map.each do |maps|%>
                                            <td class='border-right'><%= maps[0] %></td>
                                          <% end %>
                                        </tr>
                                        <% end %>
                                      </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
          <!-- Tracking Accordion End -->

          <!-- Multi File Accordion -->
          <div class="faq-accordion mb-30">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class="lni-plus"></i>
                  Muliple File Matching and Mapping
                </a>
                <div class="accordion-content">
                  <h4 class='mb-3'>New Mapping</h4>
                  <div class= "mb-4 border">
                    <%= form_with url: file_mapping_path, method: :post do |form|%>
                      <%= file_field_tag "file_1", :accept => 'csv', required: true%>
                      <%= form.file_field "file_2", :accept => 'csv', required: true%>
                      <%= form.submit 'Create Mapping', class:"btn btn-primary"%>
                    <% end %>
                  </div>
                  <h4 class='mb-3'>Mappings</h4>
                  <% @multi_mappings.each do |import_mapping| %>
                    <div class="faq-accordion mb-30">
                      <ul class="accordion">
                        <li class="accordion-item">
                          <a class="accordion-title" href="javascript:void(0)">
                            <i class="lni-plus bg-secondary"></i>
                            <%= import_mapping.sub_type %><span class='text-white'>X</span>
                          </a>
                          <div class="accordion-content">
                            <div class='col-12 mb-2 float-right'>
                              <div class= 'd-flex'>
                                <%= link_to 'Destroy', import_mapping, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                                <%= link_to 'Edit', edit_import_mapping_path(import_mapping), class: "btn btn-info ml-3 mr-3" %>
                                <%= form_tag multi_file_path, local:true, multipart: true, method: :post do%>
                                  <%= file_field_tag "file_1", :accept => 'csv', required: true%>
                                  <%= file_field_tag "file_2", :accept => 'csv', required: true%>
                                  <%= hidden_field_tag 'mapping_id', import_mapping.id%>
                                  <%= submit_tag 'Create Mapping', class:"btn btn-primary"%>
                                <% end %>
                              </div>
                              <% @blank, @full = import_mapping&.mapping_data&.partition { |_, v| v.blank? }&.map { |alist| Hash[alist] }%>
                            </div>
                            <div class="row justify-content-center">
                              <div class="col-lg-12">
                                <div class="card text-center mb-30">
                                  <div class="header card-header">Mapped</div>
                                  <table class="table m-0 table-hover">
                                    <thead>
                                      <tr>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th>Table Field</th>
                                        <th class='border-right'>Header Field</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <%@full.each_slice(4) do |map|%>
                                        <tr>
                                          <%map.each do |maps|%>
                                            <td><%= maps[0] %></td>
                                            <td class='border-right'><%= maps[1] %></td>
                                          <% end %>
                                        </tr>
                                        <% end %>
                                      </tbody>
                                  </table>
                                </div>
                              </div>

                              <div class="col-lg-12">
                                <div class="card text-center mb-30">
                                  <div class="header card-header">Unmapped</div>
                                  <table class="table m-0 table-hover">
                                    <thead>
                                      <tr>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                        <th class='border-right'>Header Field</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <%@blank.each_slice(5) do |map|%>
                                        <tr>
                                          <%map.each do |maps|%>
                                            <td class='border-right'><%= maps[0] %></td>
                                          <% end %>
                                        </tr>
                                        <% end %>
                                      </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
          <!-- Multi File Accordion End -->
          <!-- Product Accordion -->
          <div class="faq-accordion mb-30">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class="lni-plus"></i>
                  Manual Dispatch CSV Template
                </a>
                <div class="accordion-content">
                  <h4 class='mb-3'>New Mapping</h4>
                    <div class= "mb-4 border">
                      <%= form_for @courier_csv_export, url: courier_csv_export_path, method: :post do |f| %>
                        <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv",required: true %>
                        <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
                      <% end %>
                    </div>
                    <div class="faq-accordion mb-30">
                      <ul class="accordion">
                        <li class="accordion-item">
                          <a class="accordion-title" href="javascript:void(0)">
                            <i class="lni-plus"></i>
                            Mappings
                          </a>
                          <div class="accordion-content">
                            <table class="table m-0 table-hover">
                              <tr>
                                  <th>Table Name</th>
                                  <th class="text-center">Description Name</th>
                                  <th>Columns Added</th>
                                  <th>Actions</th>
                              </tr>
                              <% @courier_csv_exports&.each do |import_mapping| %>
                                <tr>
                                <td><%= import_mapping.table_name %></td>
                                <td class="text-center font-weight-bold"><%= import_mapping.sub_type %></td>
                                <td>
                                  <% import_mapping.mapping_data.each do |data| %>
                                    <%= data %><br>
                                  <% end %>
                                </td>
                                <td>
                                  <div class= 'd-flex'>
                                    <%= link_to 'Destroy', import_mapping, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-white btn btn-danger" %>
                                    <%#= link_to 'Edit', edit_export_mapping_path(import_mapping), class: "text-white btn btn-info ml-3 mr-3" %>
                                  </div>
                                </td>
                                </tr>
                              <% end %>
                            </table>
                          </div>
                        </li>
                      </ul>
                    </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- Product Accordion End -->
          <!-- Consolidation Tool -->
          <div class="faq-accordion mb-30">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class="lni-plus"></i>
                  Consolidation Tool
                </a>
                <div class="accordion-content">
                    <div class= "mb-4">
                      <a class="btn btn-primary float-right" data-toggle="modal" data-target='#consolidation-modal'>Create</a>
                    </div>
                    <table class="table m-0 table-hover">
                      <% @consolidations&.each do |consolidation| %>
                        <div class= 'd-flex mb-3'>
                          <tr>
                            <td class="text-center font-weight-bold mr-4 font-lg"><%= consolidation.sub_type %></td>
                            <td>
                              <%=  form_for @consolidation, url: consolidation_mapping_path, method: :post do |f| %>
                                <%= f.file_field :file, style:"width:240px;", class: 'btn p-0', accept: ".csv",required: true %>
                                <%= f.hidden_field :consolidation_id, value: consolidation.id%>
                                <%= f.submit 'Generate Report', class:"btn btn-primary"%>
                              <% end %>
                            </td>
                            <td>
                              <div class="dropdown dropleft">
                                <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Actions">
                                  <i data-feather='bell' class='icon wh-15 mt-minus-3'></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <%= link_to 'Edit', edit_import_mapping_path(consolidation), class: "dropdown-item" %>
                                  <%#= link_to 'Destroy', consolidation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mx-3" %>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </div>
                      <% end %>
                    </table>
                </div>
              </li>
            </ul>
          </div>
          <!-- Consolidation Tool End -->
        </div>

        <div class="tab-pane fade" id="demo_two_profile" role="tabpanel">
          <!-- Order Accordion -->
          <%= render 'index_export_mappings' %>
          <!-- Order Accordion End -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="consolidation-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Consolidation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with url: consolidation_tool_path, method: :post do |f| %>
        <div class="modal-body">
          <%= f.label 'Please select a file:' %>
          <%= f.file_field :file, style:"width:240px;", class: 'btn', accept: ".csv",required: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Create Mapping', class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
