<div class="row">
  <div class="col-lg-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class='col-md-4 offset-8'>
          <div class='float-right'>
            <button class="btn btn-primary" data-toggle="modal" data-target='#import_customers'>
              Import Customers
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover text-vertical-middle mb-0">
            <thead class="bort-none borpt-0">
              <tr>
                <th>
                  <input type="checkbox" id="customSwitchAll" name="" value="" class='select-all-checkbox'>
                </th>
                <th scope="col">Channel</th>
                <th scope="col">Order Information</th>
                <th scope="col">Listings</th>
                <th scope="col">Information</th>
                <th scope="col">Date</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <!--th scope="col"></th-->
              </tr>
            </thead>
            <% @missing_customer_orders.each.with_index(1) do |order, index| %>
              <tbody>
                <tr>
                  <td>
                    <div id="<%=order.id%>" class= 'orders-switch' name="orders-switch">
                      <input id="object_ids[]" class="ml-2 form_field_questions" type="checkbox" data-courier="<%= order.assign_rule&.mail_service_rule&.courier&.name %>" data-export="<%= order.assign_rule&.mail_service_rule&.export_mapping_id %>" data-item="<%= order.channel_order_items.count %>" value="<%=order.id%>" name="object_ids[]">
                      <%# f.check_box 'object_ids[]', {'data-item': order.channel_order_items.count}, order.id %>
                    </div>
                  </td>
                  <td style = "width: 180px">
                    <%= render  'image_partial', order: order %>
                  </td>
                  <td style="width: 170px;">
                    <%= order.order_id %>
                    <br><%= order.buyer_username %>
                    <br><strong><b><%= order.buyer_name %></b></strong>
                    <br><span class="sku-width"><%= order.system_user&.addresses&.find_by(address_title: 'delivery')&.address%></span>
                  </td>
                  <td style="width: 320px">
                    <% order.channel_order_items&.each do |product|%>
                      <%= link_to product_mappings_path(q:{item_sku_or_item_id_cont: product.sku}) do %>
                        <div class="card-style px-3 mt-1 relative">
                          <div>
                            <span class="order-listing order-quantity"><%= product.ordered %></span>
                            <div class="d-flex">
                              <div>
                                <% if product.channel_product&.item_image.present?%>
                                    <%= image_tag(product.channel_product.item_image, width: '55px', height: '80px', class: 'mr-3')%>
                                <% else %>
                                  <%= image_tag('user/1.jpg', width: "50px", height: "50px", class: 'mr-3 img-thumbnail img-height', alt: 'User Image') %>
                                <% end %>
                              </div>
                              <div>
                                <span class="truncate text-white" title="<%= product&.channel_product&.item_name %>"><%= product&.channel_product&.item_name%></span><br>
                                <b class = "text-white"><%= product.line_item_id if product.line_item_id.present? %></b><br>
                                <div class="sku-width text-white"><%= product&.sku if product&.sku.present? %></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </td>
                  <td style="width: 250px;">
                    <% order.channel_order_items.each do |product|%>
                      <% if product.channel_product&.product_mapping.present? %>
                        <% if product.channel_product&.product_mapping&.product&.product_type_multiple? %>
                          <% product.channel_product&.product_mapping&.product&.multipack_products&.each do |record| %>
                          <% light_color = product.allocated ? 'bg-success-light' : 'bg-danger'%>
                          <% dark_color = product.allocated ? 'bg-success-dark' : 'bg-danger-dark'%>
                          <div class="card-style2 <%=light_color%>">
                            <%= link_to record.child.sku, product_path(record.child.id), target: 'blank' %>
                            <p style="color: white;">
                              <b>Location:</b> <span><%= record.child.location %></span>
                            </p>
                            <p style="color: white;">
                              <b>QTY:</b> <span><%= record.quantity*product.ordered.to_i %></span>
                            </p>
                            <div class="d-flex">
                              <div class="col-4 col-padding">
                                <p class="heading-table <%=dark_color%>">Avail</p>
                                <p class="table-value <%=dark_color%>"><%= record.child.available_stock.to_i %></p>
                              </div>
                              <div class="col-4 col-padding">
                                <p class="heading-table <%=dark_color%>">Alloc</p>
                                <p class="table-value <%=dark_color%>"><%= record.child.allocated_orders.to_i  %></p>
                              </div>
                              <div class="col-4 col-padding">
                                <p class="heading-table <%=dark_color%>">Disp</p>
                                <p class="table-value <%=dark_color%>">0</p>
                              </div>
                            </div>
                          </div>
                          <% end %>
                        <% else %>
                          <% light_color = product.allocated ? 'bg-success-light' : 'bg-danger'%>
                          <% dark_color = product.allocated ? 'bg-success-dark' : 'bg-danger-dark'%>
                          <div class="card-style2 <%=light_color%>">
                            <%= link_to product.channel_product&.product_mapping&.product&.sku, product_path(product.channel_product&.product_mapping&.product&.id), target: 'blank', style: "color: white" %>
                            <p style="color: white;">
                              <b>Location:</b> <span><%= product.channel_product&.product_mapping&.product&.location %></span>
                            </p>
                            <p style="color: white;">
                              <b>QTY:</b> <span><%= 1*product.ordered.to_i %><%#= product.channel_product&.product_mapping&.product.pack_quantity %></span>
                            </p>
                            <div class="d-flex">
                              <div class="col-4 col-padding">
                                <p class="heading-table <%=dark_color%>">Avail</p>
                                <p class="table-value <%=dark_color%>"><%= product.channel_product&.product_mapping&.product&.available_stock.to_i %></p>
                              </div>
                              <div class="col-4 col-padding">
                                <p class="heading-table <%=dark_color%>">Alloc</p>
                                <p class="table-value <%=dark_color%>"><%= product.channel_product&.product_mapping&.product&.allocated_orders.to_i %></p>
                              </div>
                              <div class="col-4 col-padding">
                                <p class="heading-table <%=dark_color%>">Disp</p>
                              <p class="table-value <%=dark_color%>">0</p>
                            </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                  <td style="width: 100px;"><%= order.created_at.strftime("%m/%d/%Y %H:%M") %></td>
                  <td><%= order.total_amount%></td>
                  <td>
                    <span class="badge badge_warning py-1"><%= order.order_status%></span><br>
                    <%= link_to 'Logs', version_order_dispatches_path(id: order.id), class: 'btn btn-sm btn-primary mt-1 text-white' %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>

          <div class='float-right'>
            <%= page_entries_info @missing_customer_orders %>
          </div><br>
          <div class="pagination justify-content-center mt-1">
            <%= paginate @missing_customer_orders, :param_name => :not_started_page,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_with url: import_customer_order_dispatches_path, nav_class: "d-inline-b", class: "mb-3", method: :post do |f| %>
  <div class="modal fade" id="import_customers" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Import Customers</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.file_field :file, accept: ".csv", required: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
          <%= f.submit 'Import', class: 'btn btn-outline-primary showLoader' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
