<div class="row">
  <div class="col-lg-12">
    <div class="card mb-30">
      <div class="">
        <%= form_tag order_dispatches_path,nav_class: "d-inline-b", class: "mb-3", method: :get do |f| %>
        <div class='col-md-8 offset-4'>
          <div class='float-right'>
            <button class="btn btn-outline-info w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:42px;">
              Actions
            </button>
            <div class="cursor-pointer dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="cursor-pointer bulk-assign-rule dropdown-item">Assign Rule</a>
              <a class="cursor-pointer re-calculate-rules dropdown-item showLoader">Recalculate Rule</a>
              <a class="cursor-pointer one-click-dispatch dropdown-item">1-Click Dispatch</a>
              <a class="cursor-pointer order-dispatch-button dropdown-item">Order Dispatch</a>
              <a class="cursor-pointer allocate-button dropdown-item showLoader">Allocate selected</a>
              <%# <a class="upload_trackings dropdown-item" data-toggle="modal" data-target=".upload-trackings">Upload Trackings</a> %>
            </div>
            <button type="submit" id="per_page_submit" hidden="hidden"></button>
          </div>
            <%= hidden_field_tag "order_filter", params[:order_filter] %>
            <%= hidden_field_tag :q, params[:q] unless params[:q].blank? %>
            <%= hidden_field_tag "limit", params[:limit] || 100 %>
          <div class='float-right mr-2'>
            <button type="button" class="btn btn-outline-primary w-100" data-toggle="modal" data-target=".LargeModal" style="height:42px;">Filters</button>
          </div>
          <div class='float-right mr-2'>
            <%= search_field_tag :assign_rule_name, params[:assign_rule_name], class: 'form-control', placeholder: 'Search rule name' %>
          </div>
          <div class='float-right mr-2'>
            <%#= select_tag(:assign_filter, options_for_select([["Unassigned Courier", 0],["Assigned Courrier", 1]], params[:assign_filter] ), class:"form-control select", onchange: 'this.form.submit()') %>
          </div>
        </div>
        <% end %>
        <%= form_with(url: bulk_method_order_dispatches_path(format: "csv") , method: 'get', local: true) do |f| %>
          <%= f.submit '', class: 'bulk-method-order-dispatch d-none'%>
          <%= f.submit 'courier_csv', class: 'bulk-courier-order-dispatch d-none' %>
          <%= f.submit 'allocation', class: 'bulk-allocation d-none' %>
          <div class="table-responsive pt-3">
            <%= render 'ready_and_print_table', channel_orders: @not_started_order_data %>
            <div class='float-right'>
              <%= page_entries_info @not_started_order_data %>
            </div><br>
            <div class="pagination justify-content-center mt-1">
              <%= hidden_field_tag "assign_rule_name", params[:assign_rule_name] %>
              <%= paginate @not_started_order_data, :param_name => :not_started_page,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
            </div>
          </div>
          <div class="modal fade" id="bulk-mail-service-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Assign Rule</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <%= label_tag "Rule Name" %>
                    <%= select_tag "rule_id", options_for_select(@mail_service_rules.collect{ |u| [u.rule_name, u.id]}), class: "form-control" %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                  <button class= "btn btn-outline-primary assign_bulk_rule_button"> Assign </button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= form_for @assign_rule, url: assign_rules_path, method: :post do |f| %>
  <div class="modal fade" id="mail-service-roles-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mail Service Rule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= hidden_field_tag :channel_order_id %>
          <%= render partial: 'assign_rule_form', locals: { f: f }  %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
            <%= f.submit "Assign" , class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= form_for @order_batch, url: order_batches_path, method: :post do |f| %>
  <div class="modal fade OrderBatchModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">1-Click Dispatch</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <%= render partial: 'one_click_dispatch', locals: { f: f } %>
        </div>

        <div class="modal-footer" style="justify-content: flex-start;">
          <div class="d-flex">
            <%= text_field_tag 'name_of_template', nil, placeholder: 'Enter Name', class: 'form-control mr-3'  %>
            <%= f.submit 'save', class: 'btn btn-primary save-template' %>
          </div>
          <div class="ml-auto">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Dispatch Orders', class: 'btn btn-primary OrderBatchSubmit', id: 'dispatch-orders', data: { disable_with: false } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_tag import_trackings_path, multipart: true, method: :post do %>
  <div class="modal fade upload-trackings" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload Trackings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <%= render partial: 'upload_trackings' %>
        </div>

        <div class="modal-footer">
          <%#= link_to 'PDF', order_dispatches_path(format: :pdf), class:"btn btn-primary float-right ml-1", type:"button"%>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag("Upload Trackings", id: "button", class: "btn btn-primary", name: "submit", data: {disable_with: false}) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= search_form_for @q, url: order_dispatches_path(request.parameters.excluding('controller', 'action')), method: :get do |f| %>
  <div class="modal fade LargeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search Filters</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <%= hidden_field_tag "order_filter", params[:order_filter] %>
            <div class="row">
              <div class="col-md-6 form-group">
                <%= f.label 'Select Rule Type' %>
                <%= f.select :assign_rule_id_null, options_for_select([["Assigned Courier", false],["Unassigned Courrier", true]], f.object.assign_rule_id_null), {include_blank: "Select Assign Rule", hide_label:true, required: true }, class:"bg-white form-control", title: 'Select Assign Rule' %>
              </div>
              <div class="col-md-6 form-group">
                <%= f.label 'Select Postage' %>
                <%= f.select :postage_eq, options_for_select(@channel_postages, f.object.postage_eq), {include_blank: "Select Postage", hide_label:true, required: true }, class:"bg-white form-control", title: 'Select Mapping Postage' %>
              </div>
            </div>
            <div class='row'>
              <div class="col-md-6 form-group">
                <%= f.label 'Enter Minimum Weight' %>
                <%= f.search_field :total_weight_gteq, class:"form-control bg-white text-black", title: 'Search Weight', placeholder: 'Minimum Weight', value: f.object.total_weight_gteq %>
             </div>
              <div class="col-md-6 form-group">
                <%= f.label 'Enter Maximum Weight' %>
                <%= f.search_field :total_weight_lteq, class:"form-control bg-white text-black", title: 'Search Weight', placeholder: 'Maximum Weight', value: f.object.total_weight_lteq %>
             </div>
            </div>
            <div class="row">
              <div class="col-md-6 mx-auto form-group">
                <%= f.label 'Enter Carrier Type' %>
                <%= f.search_field :channel_order_items_channel_product_product_mapping_product_courier_type_or_channel_order_items_channel_product_product_mapping_product_multipack_products_child_courier_type_eq, class:"form-control bg-white text-black", title: 'Search Carrier Type', placeholder: 'Search Carrier Type', value: f.object.channel_order_items_channel_product_product_mapping_product_courier_type_or_channel_order_items_channel_product_product_mapping_product_multipack_products_child_courier_type_eq %>
              </div>
              <div class="col-md-6 mx-auto form-group">
                <%= f.label 'Select Allocation' %>
                <%= f.select :channel_order_items_allocated_eq, options_for_select([["Unallocated", false],["Allocated", true]], f.object.channel_order_items_allocated_eq), {include_blank: "Select Allocation", hide_label:true, required: true }, class:"bg-white form-control", title: 'Select Unallocated or Allocated' %>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Apply filters', class: 'btn btn-primary'%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
