<div class="row">
  <div class="col-lg-12">
    <div class="card mb-30">
      <div class="card-body">
        <%= form_tag order_dispatches_path,nav_class: "d-inline-b", class: "mb-3", method: :get do |f| %>
        <div class='col-md-4 offset-8'>
          <div class='float-right'>
            <button class="btn btn-outline-info w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:42px;">
              Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="bulk-assign-rule dropdown-item">Assign Rule</a>
              <a class="bulk-assign-rule dropdown-item">Recalculate Rule</a>
            </div>
            <%# <label for="inputState">Per Page</label> %>
            <%#= select_tag :limit, options_for_select([5, 10, 15, 20], selected: params[:limit] || 5), id: 'change_per_page', class: 'form-control' %>
            <button type="submit" id="per_page_submit" hidden="hidden"></button>
          </div>
            <%= hidden_field_tag "order_filter", params[:order_filter] %>
          <div class='float-right mr-2'>
            <%= search_field_tag :assign_rule_name, params[:assign_rule_name], class: 'form-control', placeholder: 'Search rule name' %>
          </div>
        </div>
        <% end %>
        <%= form_with url: bulk_method_order_dispatches_path, method: :post do |f| %>
          <div class="table-responsive">
            <table class="table table-hover text-vertical-middle mb-0">
              <thead class="bort-none borpt-0">
                <tr>
                  <th>
                    <input type="checkbox" id="" name="" value="" class='select-all-checkbox'>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitchAll">
                      <label class="custom-control-label" for="customSwitchAll"></label>
                    </div>
                  </th>
                  <th scope="col">Channel</th>
                  <th scope="col">Order Information</th>
                  <th scope="col">Listings</th>
                  <th scope="col">Information</th>
                  <th scope="col">Courier Service</th>
                  <th scope="col">Tracking</th>
                  <th scope="col">Date</th>
                  <th scope="col">Total</th>
                  <th scope="col">Status</th>
                  <!--th scope="col"></th-->
                </tr>
              </thead>
              <% @not_started_orders.each.with_index(1) do |order, index| %>
                <tbody>
                  <tr>
                    <td>
                      <%= f.check_box 'object_ids[]', {}, order.id %>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input customSwitch1" name="orders-switch" id="<%=order.id%>" <%= order.selected? ? 'checked': ''%>>
                        <label class="custom-control-label" for="<%=order.id%>"></label>
                      </div>
                    </td>
                    <td style = "width: 180px">
                      <%= render  'image_partial', order: order %>
                    </td>
                    <td style="width: 170px;">
                      <%= order.ebayorder_id %>
                      <br><%= order.buyer_username %>
                      <br><strong><b><%= order.buyer_name %></b></strong>
                      <br><span class="sku-width"><%= order.address%></span>
                    </td>
                    <td style="width: 320px">
                      <% order.channel_order_items&.each do |product|%>
                        <%= link_to product_mappings_path(q:{item_sku_or_item_id_cont: product.sku}) do %>
                          <div class="card-style">
                            <div class="col-12 d-flex">
                              <span class="order-listing order-quantity"><%= product.ordered %></span>
                              <div class="d-flex">
                              <% if product.channel_product&.item_image.present?%>
                                  <%= image_tag(product.channel_product.item_image, width: '55px', height: '80px', class: 'mr-3')%>
                              <% else %>
                                <%= image_tag('user/1.jpg', width: "50px", height: "50px", class: 'mr-3 img-thumbnail img-height', alt: 'User Image') %>
                              <% end %>
                              <div>
                              <span class="truncate text-white" title="<%= product.item_data['title'] %>"><%= product.item_data['title'] if product.item_data['title'].present?%></span><br>
                              <b class = "text-white"><%= product.item_data['legacyItemId'] if product.item_data['legacyItemId'].present? %></b><br>
                              <div class="sku-width text-white"><%= product&.sku if product&.sku.present? %></div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </td>
                    <td style="width: 250px;">
                      <% order.channel_order_items.each do |product|%>
                        <% if product.channel_product&.product_mapping.present? %>
                          <% if product.channel_product&.product_mapping&.product&.product_type_multiple? %>
                            <% product.channel_product&.product_mapping&.product&.multipack_products&.each do |record| %>
                            <div class="card-style2">
                              <%= link_to record.child.sku, product_path(record.child.id), target: 'blank' %>
                              <p style="color: white;">
                                <b>Location:</b> <span><%= record.child.location %></span>
                              </p>
                              <p style="color: white;">
                                <b>QTY:</b> <span><%= record.quantity*product.ordered %></span>
                              </p>
                              <div class="d-flex">
                                <div class="col-4 col-padding">
                                  <p class="heading-table">Avail</p>
                                  <p class="table-value"><%= record.child.total_stock.to_i %></p>
                                </div>
                                <div class="col-4 col-padding">
                                  <p class="heading-table">Alloc</p>
                                  <p class="table-value"><%= product.ordered * record.quantity.to_i%></p>
                                </div>
                                <div class="col-4 col-padding">
                                  <p class="heading-table">Disp</p>
                                  <p class="table-value">0</p>
                                </div>
                              </div>
                            </div>
                            <% end %>
                          <% else %>
                            <div class="card-style2">
                              <%= link_to product.channel_product&.product_mapping&.product&.sku, product_path(product.channel_product&.product_mapping&.product&.id), target: 'blank', style: "color: white" %>
                              <p style="color: white;">
                                <b>Location:</b> <span><%= product.channel_product&.product_mapping&.product&.location %></span>
                              </p>
                              <p style="color: white;">
                                <b>QTY:</b> <span><%= product.channel_product&.product_mapping&.product.pack_quantity %></span>
                              </p>
                              <div class="d-flex">
                                <div class="col-4 col-padding">
                                  <p class="heading-table">Avail</p>
                                  <p class="table-value"><%= product.channel_product&.product_mapping&.product&.total_stock&.to_i %></p>
                                </div>
                                <div class="col-4 col-padding">
                                  <p class="heading-table">Alloc</p>
                                  <p class="table-value"><%= product.ordered%></p>
                                </div>
                                <div class="col-4 col-padding">
                                  <p class="heading-table">Disp</p>
                                <p class="table-value">0</p>
                              </div>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% if order.assign_rule.present? %>
                        <span class="mt-2 mr-2 badge badge-warning mb-1"><%= order.assign_rule&.status %></span>
                        <span class="update-rule-modal click_able_cursor" data-id= "<%= order.id %>"data-index= "<%=index%>">
                          <div class = "text-success"><%= order.assign_rule&.mail_service_rule&.rule_name %></div>
                          <div class = "text-info"><%= order.assign_rule&.mail_service_rule&.service&.name%></div>
                        </span>
                        <form> </form>
                        <%= form_for order.assign_rule, url: assign_rule_path(order.assign_rule.id ), method: :put do |ar| %>
                          <div class="modal fade" id="mail-service-roles-update-modal-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Mail Service Rule</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <%= hidden_field_tag :update_channel_order_id, order.id %>
                                  <%= render partial: 'update_assign_rule_form', locals: { f: ar }  %>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                                    <%= ar.submit "Assign" , class: 'btn btn-outline-primary create_service_rule_button' %>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% else %>
                        <div class="shipment_modal cursur-pointer" data-id="<%= order.id %>" id="shipment_modal_<%=index%>">
                          <span class=" text-danger py-1">Please Select Service Rule</span>
                          <% @length = 0%>
                          <% @weight = 0%>
                          <% @height = []%>
                          <% @width = []%>
                          <% order.channel_order_items.each do |product|%>
                            <% if product.channel_product&.product_mapping.present? %>
                              <% if product.channel_product.product_mapping.product&.product_type_multiple? %>
                                <% product.channel_product.product_mapping.product&.multipack_products&.each do |record| %>
                                  <% @length += record&.child&.length&.to_f %>
                                  <% @weight += record&.child&.weight&.to_f%>
                                  <% @height.push(record&.child&.height&.to_f)%>
                                  <% @width.push(record&.child&.width&.to_f)%>
                                <% end %>
                                <%= hidden_field_tag 'length',  @length, class: "length-value" %>
                                <%= hidden_field_tag 'width',  @width.max, class: "width-value" %>
                                <%= hidden_field_tag 'height',  @height.max, class: "height-value"%>
                                <%= hidden_field_tag 'weight',  @weight, class: "weight-value"%>
                              <% else %>
                                <%= hidden_field_tag 'length',  product.channel_product.product_mapping&.product&.length, class: "length-value" %>
                                <%= hidden_field_tag 'width',  product.channel_product.product_mapping&.product&.width, class: "width-value" %>
                                <%= hidden_field_tag 'height',  product.channel_product.product_mapping&.product&.height, class: "height-value"%>
                                <%= hidden_field_tag 'weight',  product.channel_product.product_mapping&.product&.weight, class: "weight-value"%>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    </td>
                    <td>
                      <% if order.assign_rule %>
                        <%= order.assign_rule.mail_service_rule.courier.name %><br>
                      <% end %>
                      <% if order.trackings.present? %>
                        <% order.trackings.each do |tracking| %>
                          <%= tracking.tracking_no %>
                        <% end %>
                      <% end %>
                    </td>
                    <td style="width: 100px;"><%= order.created_at.strftime("%m/%d/%Y %H:%M") %></td>
                    <td><%= order.total_amount%></td>
                    <td><span class="badge badge_warning py-1"><%= order.order_status%></span></td>
                    <!--td>
                      <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i data-feather='refresh-ccw' class='icon wh-15 mt-minus-3'></i>
                        Retry
                      </button>
                      <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i data-feather='x' class='icon wh-15 mt-minus-3'></i>
                        Hide
                      </button>
                    </td-->
                  </tr>
                </tbody>
              <% end %>
            </table>
            <div class='float-right'>
              <%= page_entries_info @not_started_order_data %>
            </div><br>
            <div class="pagination justify-content-center mt-1">
              <%= paginate @not_started_order_data, :param_name => :not_started_page,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
            </div>
          </div>
          <div class="modal fade" id="bulk-mail-service-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Assign Rule</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <%= label_tag "Rule Name" %>
                    <%= select_tag "rule_id", options_for_select(@mail_service_rules.collect{ |u| [u.rule_name, u.id]}), class: "form-control" %>
                  </div>
                  <div class="form-group row">
                    <div class="col-11">
                      <%= label_tag 'Add weight' %>
                      <%= number_field_tag :weight,{}, :class => "form-control", placeholder: 'Please enter the weight' %>
                    </div>
                    <div class="col-11">
                      <%= label_tag 'Add height' %>
                      <%= number_field_tag :height,{}, :class => "form-control", placeholder: 'Please enter the height' %>
                    </div>
                    <div class="col-11">
                      <%= label_tag 'Add length' %>
                      <%= number_field_tag :length,{}, :class =>"form-control", placeholder: 'Please enter the length' %>
                    </div>
                    <div class="col-11">
                      <%= label_tag 'Add width' %>
                      <%= number_field_tag :width,{}, :class => "form-control", placeholder: 'Please enter the width' %>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                    <button class= "btn btn-outline-primary create_product_button"> Create </button>
                </div>
              </div>
            </div>
          </div>
          <%= f.submit '', class: 'bulk-method-order-disaptch d-none'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= form_for @assign_rule, url: assign_rules_path, method: :post do |f| %>
  <div class="modal fade" id="mail-service-roles-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mail Service Rule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= hidden_field_tag :channel_order_id %>
          <%= render partial: 'assign_rule_form', locals: { f: f }  %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
            <%= f.submit "Assign" , class: 'btn btn-outline-primary create_service_rule_button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>