<div class="row">
  <div class="col-lg-12">
    <div class="card mb-30">
      <div class="card-body">
        <%= form_tag order_dispatches_path,nav_class: "d-inline-b", class: "mb-3", method: :get do |f| %>
        <div class='col-md-12'>
          <div class='float-right'>
            <label for="inputState">Per Page</label>
            <%= select_tag :limit, options_for_select([5, 10, 15, 20], selected: params[:limit] || 5), id: 'change_per_page', class: 'form-control' %>
            <button type="submit" id="per_page_submit" hidden="hidden"></button>
          </div>
        </div>
        <% end %>
        <div class="table-responsive">
          <table class="table table-hover text-vertical-middle mb-0">
            <thead class="bort-none borpt-0">
              <tr>
                <th scope="col">Channel</th>
                <th scope="col">Order Information</th>
                <th scope="col">Products</th>
                <th scope="col">Information</th>
                <th scope="col">Date Recieved</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <% @not_started_orders.each do |order| %>
              <tbody>
                <tr>
                  <td style = "width: 15%">
                    <%= render  'image_partial', order: order %>
                  </td>
                  <td>
                    <%= order.ebayorder_id %><br>
                    <%= order.buyer_username %><br>
                    <strong><b><%= order.buyer_name %></b></strong><br>
                    <%= order.address%><br>
                  </td>
                  <td>
                    <% order&.channel_order_items&.each do |product|%>
                      <div class="row">
                        <div class="col-4">
                          <% if (ChannelProduct.where(item_sku: product.sku )&.first&.product_data.present?)%>
                            <%= image_tag(ChannelProduct.where(item_sku: product.sku )&.first&.product_data["PictureDetails"]["GalleryURL"])%>
                          <% end %>
                        </div>
                        <div class="col-8">
                          <b><%= product.item_data['legacyItemId'] if product.item_data['legacyItemId'].present? %></b><br>
                          <%= product&.sku if product&.sku.present? %><br>
                        </div>
                        <div class="col-12">
                          <%= product.item_data['title'] if product.item_data['title'].present?%>
                        </div>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <% order.channel_order_items.each do |product|%>
                      <% if ChannelOrder.check_mapping(product) == 'mapped' %>
                        <% if ChannelOrder.check_type(product) == 'single'%>
                          <%= ChannelOrder.product_title(product) %>
                          <table class="table table-sm table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Loc</th>
                                <th scope="col">War</th>
                                <th scope="col">Ord</th>
                                <th scope="col">Alo</th>
                                <th scope="col">Dis</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><%= ChannelOrder.find_product(product).presence || 'N/A' %></td>
                                <td><%= ChannelProduct.find_by(item_sku: product.sku).product_mapping.product.total_stock.to_i %></td>
                                <td><%= product.ordered%></td>
                                <td><%= '0' %></td>
                                <td>0</td>
                              </tr>
                            </tbody>
                          </table>
                        <% else %>
                          <% ChannelProduct.find_by(item_sku: product.sku)&.product_mapping&.product&.multipack_products&.each do |record| %>
                            <%= record.child.title %>
                              <table class="table table-sm table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col">Loc</th>
                                    <th scope="col">War</th>
                                    <th scope="col">Ord</th>
                                    <th scope="col">Alo</th>
                                    <th scope="col">Dis</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><%= ChannelOrder.find_product(product).presence || 'N/A' %></td>
                                    <td><%= record.child.total_stock.to_i %></td>
                                    <td><%= product.ordered * record.quantity.to_i%></td>
                                    <td><%= '0' %></td>
                                    <td>0</td>
                                  </tr>
                                </tbody>
                              </table>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= order.created_at.strftime("%m/%d/%Y %H:%M") %></td>
                  <td><%= order.total_amount%></td>
                  <td><span class="badge badge_warning py-1"><%= order.order_status%></span></td>
                  <td>
                    <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i data-feather='refresh-ccw' class='icon wh-15 mt-minus-3'></i>
                      Retry
                    </button>
                    <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i data-feather='x' class='icon wh-15 mt-minus-3'></i>
                      Hide
                    </button>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
          <div class='float-right'>
             <%= page_entries_info @not_started_orders %>
          </div><br>
          <div class="pagination justify-content-center mt-1">
            <%= paginate @not_started_orders, :param_name => :not_started_page,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>