<div class="row">
  <div class="col-lg-12">
    <div class="card mb-30">
      <div class="card-body">
        <%= form_tag order_dispatches_path,nav_class: "d-inline-b", class: "mb-3", method: :get do |f| %>
        <div class='col-md-12'>
          <div class='float-right'>
            <label for="inputState">Per Page</label>
            <%= select_tag :limit, options_for_select([5, 10, 15, 20], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
            <button type="submit" id="per_page_submit" hidden="hidden"></button>
          </div>
        </div>
        <% end %>
        <div class="table-responsive">
          <table class="table table-hover text-vertical-middle mb-0">
            <thead class="bort-none borpt-0">
              <tr>
                <th scope="col">Date Recieved</th>
                <th scope="col">Channel</th>
                <th scope="col">Channel Dispatch ID</th>
                <th scope="col">External ID</th>
                <th scope="col">Buyer Name</th>
                <th scope="col">User ID</th>
                <th scope="col">Address</th>
                <th scope="col">PostCode</th>
                <th scope="col">Tel</th>
                <th scope="col">Product SKU</th>
                <th scope="col">Product Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Courier</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Tracking</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <% @orders.each do |order| %>
              <tbody>
                <tr>
                  <td><%= order.order_data["creationDate"].to_time.strftime("%m/%d/%Y %H:%M") %></td>
                  <td><strong><%= order&.channel_type %></strong></td>
                  <td><%= order.id.to_s + " " + order.order_data["sellerId"] %></td>
                  <td><%= order.ebayorder_id %></td>
                  <td><%= order.order_data["fulfillmentStartInstructions"][0]["shippingStep"]["shipTo"]["fullName"]%></td>
                  <td><%= order.order_data["buyer"]["username"]%></td>
                  <td><%= order.order_data["fulfillmentStartInstructions"][0]["shippingStep"]["shipTo"]["contactAddress"]["addressLine1"].to_s + " "+ order.order_data["fulfillmentStartInstructions"][0]["shippingStep"]["shipTo"]["contactAddress"]["stateOrProvince"].to_s + " " + order.order_data["fulfillmentStartInstructions"][0]["shippingStep"]["shipTo"]["contactAddress"]["countryCode"].to_s %></td>
                  <td><%= order.order_data["fulfillmentStartInstructions"][0]["shippingStep"]["shipTo"]["contactAddress"]["postalCode"] %></td>
                  <td><%= order.order_data["fulfillmentStartInstructions"][0]["shippingStep"]["shipTo"]["primaryPhone"]["phoneNumber"]%></td>
                  <td><%= order.order_data["lineItems"][0]["sku"]%></td>
                  <td><%= order.order_data["lineItems"][0]["quantity"]%></td>
                  <td><%= order.order_data["lineItems"][0]["total"]["value"]%></td>
                  <td>Courier</td>
                  <td>Assigned To</td>
                  <td>Tracking</td>
                  <td><span class="badge badge_warning py-1"><%= order.order_data["orderFulfillmentStatus"]%></span></td>
                  <td>
                    <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i data-feather='refresh-ccw' class='icon wh-15 mt-minus-3'></i>
                      Retry
                    </button>
                    <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i data-feather='x' class='icon wh-15 mt-minus-3'></i>
                      Hide
                    </button>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
          <div class='float-right'>
            <%= page_entries_info @orders %>
          </div><br>
          <div class="pagination justify-content-center mt-1">
            <%= paginate @orders,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>