Unable to Find SKU's
<div class="table-responsive accordion-content">
  <table class="table table-hover text-vertical-middle mb-0">
    <thead class="bort-none borpt-0">
      <tr>
        <th scope="col">Channel</th>
        <th scope="col">Order Information</th>
        <th scope="col">Products</th>
        <th scope="col">Date Recieved</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <% @unmatched_sku_sort.each do |order| %>
      <tbody>
        <tr>
          <td style = "width: 15%">
            <% if order.channel_type.downcase.eql? 'ebay'%>
              <img src="/assets/pngegg_80.png" alt="ebay" style="max-width: 25%; margin-left: 27px;"><br>
            <% else %>
              <img src="/assets/amazon.png" alt="ebay" style="max-width: 25%; margin-left: 27px;"><br>
            <% end %>
            <img src="/assets/uk.jpeg"alt="ebay" style="max-width: 30%; margin-left: 25px;"><br>
            <strong class='text-center pl-4'><%= order&.channel_type&.to_s&.capitalize %></strong>
          </td>
          <td>
            <%= order.ebayorder_id %><br>
            <%= order.buyer_username %><br>
            <strong><b><%= order.buyer_name %></b></strong><br>
            <%= order.address%>
          </td>
          <td>
            <% order.channel_order_items.each do |order|%>
              <%= order.sku %>
            <% end %>
          </td>
          <td><%= order.created_at.strftime("%m/%d/%Y %H:%M") %></td>
          <td><%= order.total_amount%></td>
          <td><span class="badge badge_warning py-1"><%= order.order_status%></span></td>
          <td>
            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i data-feather='refresh-ccw' class='icon wh-15 mt-minus-3'></i>
              Retry
            </button>
            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i data-feather='x' class='icon wh-15 mt-minus-3'></i>
              Hide
            </button>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <div class='float-right'>
    <%= page_entries_info @unmatched_sku_sort %>
  </div><br>
  <div class="pagination justify-content-center mt-1">
    <%= paginate @unmatched_sku_sort, :param_name => :unmatched_page,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
  </div>
</div>

Unmapped Product SKU's
<div class="table-responsive accordion-content">
  <table class="table table-hover text-vertical-middle mb-0">
    <thead class="bort-none borpt-0">
      <tr>
        <th scope="col">Channel</th>
        <th scope="col">Order Information</th>
        <th scope="col">Products</th>
        <th scope="col">Mapping</th>
        <th scope="col">Date Recieved</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <% @un_matched_product_order.each do |order| %>
      <tbody>
        <tr>
          <td style = "width: 15%">
            <% if order.channel_type.downcase.eql? 'ebay'%>
              <img src="/assets/pngegg_80.png" alt="ebay" style="max-width: 25%; margin-left: 27px;"><br>
            <% else %>
              <img src="/assets/amazon.png" alt="ebay" style="max-width: 25%; margin-left: 27px;"><br>
            <% end %>                    <img src="/assets/uk.jpeg"alt="ebay" style="max-width: 30%; margin-left: 25px;"><br>
            <strong class='text-center pl-4'><%= order&.channel_type&.to_s&.capitalize %></strong>
          </td>
          <td>
            <%= order.ebayorder_id %><br>
            <%= order.buyer_username %><br>
            <strong><b><%= order.buyer_name %></b></strong><br>
            <%= order.address%>
          </td>
          <td>
            <% order.channel_order_items.each do |product|%>
              <%= image_tag(ChannelProduct.find_by(item_sku: product.sku )&.product_data["PictureDetails"]["GalleryURL"]) if ChannelProduct.where(item_sku: product.sku )&.first&.product_data["PictureDetails"].present? %><br>
              <%= product&.sku %><br>
            <% end %>
          </td>
          <td>
            <% order.channel_order_items.each do |product|%>
              <% item = ChannelProduct.find_by(item_sku: product.sku) %>
              <%= form_for :anything, url: product_mappings_path do |f| %>
                <%= f.hidden_field :channel_product_id, value: item.id %>
                <div class="d-flex">
                  <% if @matching_products[item.id].present?%>
                    <%= f.hidden_field :mapped_product_id, value: @matching_products[item.id].id %>
                    <div class="text-left d-flex ">
                      <div class="productSearchContainer">
                        <% if item.status_unmapped? %>
                          <span class='text-warning'>(Suggestion)-</span>
                        <% end %>
                        <%= @matching_products[item.id]&.title %>
                      </div>
                      <div class="dropdown form-group">
                        <%= f.search_field :product_id, class: 'form-control dropdown-toggle d-none productSearch', id: 'product-title-search', data: {toggle: 'dropdown', option: {array: {index: 0} } }, autocomplete: 'off', placeholder:"Search in Title", onkeyup: "dropdown_search( '/products/products_by_title', 'product-dropdown-list', 'product-list-item', event)", onclick: "dropdown_search( '/products/products_by_title', 'product-dropdown-list', 'product-list-item', event)" %>
                        <span class="searchclear">@@</span>
                        <ul class="dropdown-menu product-dropdown-list search-list" aria-labelledby="product-title-search">
                          <li><label class="dropdown-item product-list-item">Select the Product</label></li>
                        </ul>
                      </div>
                      <% if item.status_unmapped? %>
                        <div class="productSearchContainer">
                          <button type="button" class="productSearchBtn btn btn-primary mt-2">
                            <i data-feather='search' class='icon wh-15 mt-minus-3'></i>
                          </button>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="dropdown form-group" style="min-width: 250px;">
                      <%= f.search_field :product_id, class: 'form-control dropdown-toggle', id: 'product-title-search', data: {toggle: 'dropdown', option: {array: {index: 0} } }, autocomplete: 'off', placeholder:"Search in Title", onkeyup: "dropdown_search( '/products/products_by_title', 'product-dropdown-list', 'product-list-item', event)", onclick: "dropdown_search( '/products/products_by_title', 'product-dropdown-list', 'product-list-item', event)" %>
                      <span class="searchclear">@@</span>
                      <ul class="dropdown-menu product-dropdown-list search-list" aria-labelledby="product-title-search">
                        <li><label class="dropdown-item product-list-item">Select the Product</label></li>
                      </ul>
                    </div>
                  <% end %>
                    <div class="dropdown dropleft">
                      <button class="btn btn-primary" type="button" class="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= f.submit 'Map', class: "dropdown-item" %>
                        <a type="button" class="dropdown-item create-single-product-mapping" data-id="<%= item.id %>" data-item = '<%= order.channel_order_items.to_json.html_safe %>' >Create Single Pack</a>
                        <a type="button" class="dropdown-item create-multi-product-mapping" data-id="<%= item.id %>" data-item = '<%= order.channel_order_items.to_json.html_safe %>' >Create Multi Pack</a>
                      </div>
                    </div>
                </div>
                <% end %>
            <% end %>
          </td>
          <td><%= order.created_at.strftime("%m/%d/%Y %H:%M") %></td>
          <td><%= order.total_amount%></td>
          <td><span class="badge badge_warning py-1"><%= order.order_status%></span></td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <div class='float-right'>
    <%= page_entries_info @un_matched_product_order %>
  </div><br>
  <div class="pagination justify-content-center mt-1">
    <%= paginate @un_matched_product_order, :param_name => :unmatched_product_page,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
  </div>
</div>

<%= form_for(@product, url: product_mappings_path) do |f| %>
  <div class="modal fade" id="single-product-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Single Pack Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= hidden_field_tag :channel_product_id, value: ''%>
          <%= render partial: 'products/single_product_form', locals: { f: f }  %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
            <%= f.submit(@product.new_record? ? "Create" : "Save changes", class: 'btn btn-outline-primary create_product_button d-none') %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_for(@product, url: product_mappings_path) do |f| %>
  <div class="modal fade" id="multi-product-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Multi Pack Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= hidden_field_tag :channel_product_id, value: ''%>
          <%= render 'products/multi_product_form', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
            <%= f.submit(@product.new_record? ? "Create" : "Save changes", class: 'btn btn-outline-primary create_product_button') %>
        </div>
      </div>
    </div>
  </div>
<% end %>