<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="form-group">
          <%= f.check_box :save_later, checked: false %>
          <%= f.label "Save for next orders" %>
        </div>
        <div class="d-flex">
          <div class="form-group col-10">
            <%= f.label 'Rule Name' %>
            <%= f.select :mail_service_rule_id, options_for_select(MailServiceRule.all.collect { | rule | [rule.rule_name, rule.id] }, f.object.mail_service_rule_id),{}, class: 'form-control courier-value', placeholder: 'Please enter the Courier' %>
          </div>
        <%= hidden_field_tag :status, f.object.status %>
          <div class="dropdown dropleft mt-4 col-2">
            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Actions">
              <i data-feather='bell' class='icon wh-15'></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Edit Rule", mail_service_rule_path(f.object.mail_service_rule_id), class: "dropdown-item" %>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class='form-group col-md-12' style='border-bottom: 1px solid;'>
            <h5 class='fs-14'>Mail Service Label</h5>
          </div>
          <div class="form-group col-md-12">
          <div class='links text-right'>
            <%= link_to_add_association '+', f, :mail_service_labels, partial: 'mail_service_rules/mail_service_labels_fields', class: 'nested_fields_btn btn btn-outline-primary rounded'%>
          </div>
            <%= f.fields_for :mail_service_labels do |label|%>
              <%= render 'mail_service_rules/mail_service_labels_fields', f: label %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>