
<style>
  .table-responsive{
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }

  *, ::before, ::after {
    box-sizing: border-box;
  }

  .table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }

  .m-0 {
    margin: 0 !important;
  }

  .table th, .table td {
    border-bottom: 1px solid #f6f6f7;
    border-top: 1px solid #f6f6f7;
    padding: 15px;
  }

  .table th {
    font-size: 14px;
  }

  .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  th {
    text-align: inherit;
    text-align: -webkit-match-parent;
  }

  .table td {
    color: #686c71;
  }
</style>


<div class="table-responsive">
  <table class="table m-0 table-hover">
    <tr>
      <th class="text-center">image</th>
      <th class="text-center">Product Name</th>
      <th class="text-center">Product SKU</th>
      <th class="text-center" >Quantity</th>
      <th class="text-center" >Location</th>
    </tr>
    <% @products_group.each do |item| %>
      <% product = item.last.first[:product] %>
      <tr>
        <td class="text-center">
          <% if product.photo.attached? %>
            <%= image_tag product.photo&.service_url, height: '50px', width: '50px' %>
          <% else %>
            <%= image_tag('user/1.jpg', width: "50", height: "50", class: 'mr-3 img-thumbnail', alt: 'User Image') %>
          <% end %>
        </td>
        <td class="text-center"><%= product.title %></td>
        <td class="text-center"><%= product.sku %></td>
        <td class="text-center" ><%= item.last.pluck(:quantity)&.sum() %></td>
        <td class="text-center" ><%= product.product_location.&location %></td>
      </tr>
    <% end %>
  </table>
</div>
