<!-- Main Content Header -->
<div class="main-content-header mt-3">
  <h1>Order Dispatch</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Order Dispatch</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white font-weight-bold jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<%= search_form_for @q, url: order_dispatches_path(request.parameters.excluding('controller', 'action')), method: :get do |f| %>
  <div class='row ml-0'>
    <div class='col-6'>
      <div class='row'>
        <div class="col-md-5 form-group">
          <%= f.select :channel_type_eq, options_for_select(@channel_types.map { |key, value| [key.humanize, value] }, f.object.channel_type_eq), {include_blank: "Select Status", hide_label:true, required: true }, class:"bg-white form-control order-mapping-select", title: 'Select Mapping Category', prompt: "Please select" %>
        </div>
        <div class="col-md-8 form-group">
          <%= hidden_field_tag "assign_filter", params[:assign_filter] %>
          <%= f.search_field :order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont, class:"form-control bg-white text-black", title: 'Search Buyer Name or Order Id or Status', placeholder: 'Search Buyer Name or Order Id or Status', value: params.dig(:q, :order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont) %>
        </div>
      </div>
    </div>
    <div class='col-2 ml-auto'>
      <div class='row'>
        <div>
          <%= link_to 'Refresh', refresh_order_dispatches_path(channel_order_items: true, order_filter: params[:order_filter]), {class: 'btn btn-danger mr-1 d-none', style:"padding:13px;"} %>
          <%= link_to 'Refresh Product', refresh_product_order_dispatches_path(channel_order_items: true, order_filter: params[:order_filter]), {class: 'btn btn-danger mr-1 d-none', style:"padding:13px;"} %>
        </div>
        <div class= ''>
          <button class="btn btn-info" type="button" id="dropdownMenuButton" style="height:41px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Export
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Export All', order_dispatches_path(all: true, export: true, order_filter: params[:order_filter]), class: 'dropdown-item' %>
            <%= link_to 'Export Selected', order_dispatches_path(selected: true, export: true, order_filter: params[:order_filter]), class: 'dropdown-item' %>
            <% @order_exports.each do |export| %>
              <%= link_to "#{export.sub_type}", order_dispatches_path(export_mapping: export.id,  export: true, order_filter: params[:order_filter]), class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= hidden_field_tag "assign_rule_name", params[:assign_rule_name] %>
          <%= select_tag :limit, options_for_select([100, 150, 200], params[:limit]), id: 'orders_per_page', class: 'form-control bg-info text-white' %>
        </div>
      </div>
    </div>
    <%= hidden_field_tag "order_filter", params[:order_filter], class: 'form-control' %>
    <%= f.submit 'Mapping', class: 'btn btn-primary product-mapping-request d-none' %>
    <!--div class="col-md-3 d-flex">
      <%#= link_to "eBay Orders", order_dispatches_path(orders_api: true, ebay: true) ,class:"btn btn-primary", type:"button", style: "color: white;" %>
      <%#= link_to "Amazon Orders", order_dispatches_path(orders_api: true, amazon: true) ,class:"btn btn-primary ml-3", type:"button", style: "color: white;" %>
    </div-->
  </div>
<% end %>
<div class="row ml-0">
  <div class="col-lg-2">
    <div class="card text-center mb-30">
      <div class="header card-header">Order</div>
      <div class="card-body">
        <div class="card-title h5 text-success"><%= @today_orders %></div>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="card text-center mb-30">
      <div class="header card-header">Order Issues</div>
      <div class="card-body">
        <div class="card-title h5 text-danger"><%= @issue_orders_count %></div>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <%= link_to product_mappings_path do %>
      <div class="card text-center mb-30">
        <div class="header card-header">Product</div>
        <div class="card-body">
          <div class="card-title h5 text-success"><%= @total_products_count %></div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-2">
  <%= link_to product_mappings_path(issue_product: true) do %>
    <div class="card text-center mb-30">
      <div class="header card-header">Product Issues</div>
      <div class="card-body">
        <input name='product_issue' type='hidden'>
        <div class="card-title h5 text-danger"><%= @issue_products_count %></div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="col-lg-12">
  <div class="card mb-30">
    <div class="card-body">
      <div class="tabs-style-two">
        <ul class="nav nav-tabs">
          <li class="nav-item font-sm">
            <a class="nav-link <%= 'active' if params[:order_filter].eql? 'unprocessed' %>" href=<%= order_dispatches_path(order_filter: 'unprocessed', q: { channel_type_eq: params[:q].try(:[], :channel_type_eq), order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont: params[:q].try(:[], :order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont)})%>><%= "Unprocessed Orders (#{@unmatched_sku_count.to_i + @un_matched_orders_count.to_i})" %></a>
          </li>
          <li class="nav-item font-sm">
            <a class="nav-link <%= 'active' if params[:order_filter].eql? 'customer_info' %>" href=<%= order_dispatches_path(order_filter: 'customer_info', q: { channel_type_eq: params[:q].try(:[], :channel_type_eq), order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont: params[:q].try(:[], :order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont)})%>><%= "Customer Details (#{@miss_customer_count.to_i})" %></a>
          </li>
          <li class="nav-item font-sm">
            <a class="nav-link <%= 'active' if params[:order_filter].eql? 'ready' %>" href=<%= order_dispatches_path(order_filter: 'ready', q: { channel_type_eq: params[:q].try(:[], :channel_type_eq), order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont: params[:q].try(:[], :order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont)})%>><%= "Ready to Dispatch (#{@not_started_order_count.to_i})" %></a>
          </li>
          <li class="nav-item font-sm">
            <a class="nav-link <%= 'active' if params[:order_filter].eql? 'assignment' %>" href=<%= order_dispatches_path(order_filter: 'assignment', q: { channel_type_eq: params[:q].try(:[], :channel_type_eq), order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont: params[:q].try(:[], :order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont)})%>><%= "Ready to Pack (#{@ready_to_pack_count.to_i})" %></a>
          </li>
          <li class="nav-item font-sm">
            <a class="nav-link <%= 'active' if params[:order_filter].eql? 'issue' %>" href=<%= order_dispatches_path(order_filter: 'issue', q: { channel_type_eq: params[:q].try(:[], :channel_type_eq), order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont: params[:q].try(:[], :order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont)})%>><%= "Issue Orders (#{@issue_orders_count.to_i})"%></a>
          </li>
          <li class="nav-item font-sm">
            <a class="nav-link <%= 'active' if params[:order_filter].eql? 'completed' %>" href=<%= order_dispatches_path(order_filter: 'completed', q: { channel_type_eq: params[:q].try(:[], :channel_type_eq), order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont: params[:q].try(:[], :order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont)})%>><%= "Completed Orders (#{@completed_count.to_i})"%></a>
          </li>
          <li class="nav-item font-sm">
            <a class="nav-link <%= 'active' if params[:order_filter].eql? 'unpaid' %>" href=<%= order_dispatches_path(order_filter: 'unpaid', q: { channel_type_eq: params[:q].try(:[], :channel_type_eq), order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont: params[:q].try(:[], :order_id_or_order_status_or_buyer_name_or_channel_order_items_sku_cont)})%>><%= "Unpaid Orders (#{@unpaid_orders_count.to_i})"%></a>
          </li>
        </ul>
        <div class="py-4">
          <div class="tab-pane fade <%= 'show active' if params[:order_filter].eql? 'unprocessed' %>" id="demo_two_home" role="tabpanel">
            <%= render 'unprocessed_orders' if params[:order_filter].eql? 'unprocessed' %>
          </div>
          <div class="tab-pane fade <%= 'show active' if params[:order_filter].eql? 'customer_info' %>" id="demo_customer_home" role="tabpanel">
            <%= render 'customer_info' if params[:order_filter].eql? 'customer_info' %>
          </div>
          <div class="tab-pane fade <%= 'show active' if params[:order_filter].eql? 'ready' %>" id="demo_three_home" role="tabpanel">
            <%= render 'ready_to_dispatch_orders' if params[:order_filter].eql? 'ready' %>
          </div>
          <div class="tab-pane fade <%= 'show active' if params[:order_filter].eql? 'assignment' %>" id="demo_four_home" role="tabpanel">
            <%= render 'order_for_assignment' if params[:order_filter].eql? 'assignment' %>
          </div>
          <div class="tab-pane fade <%= 'show active' if params[:order_filter].eql? 'issue' %>" id="demo_five_home" role="tabpanel">
            <%= render 'issue_orders' if params[:order_filter].eql? 'issue' %>
          </div>
          <div class="tab-pane fade <%= 'show active' if params[:order_filter].eql? 'completed' %>" id="demo_six_home" role="tabpanel">
            <%= render 'completed_orders' if params[:order_filter].eql? 'completed' %>
          </div>
          <div class="tab-pane fade <%= 'show active' if params[:order_filter].eql? 'unpaid' %>" id="demo_seven_home" role="tabpanel">
            <%= render 'unpaid_orders' if params[:order_filter].eql? 'unpaid' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>