
<style>
  .table-responsive{
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }

  *, ::before, ::after {
    box-sizing: border-box;
  }

  .table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }

  .m-0 {
    margin: 0 !important;
  }

  .table th, .table td {
    border-bottom: 1px solid #f6f6f7;
    border-top: 1px solid #f6f6f7;
    padding: 15px;
  }

  .table th {
    font-size: 14px;
  }

  .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  th {
    text-align: inherit;
    text-align: -webkit-match-parent;
  }

  .table td {
    color: #686c71;
  }
</style>


<div class="table-responsive">
  <table class="table m-0 table-hover">
    <tr>
      <th class="text-center">image</th>
      <th class="text-center">Product Name</th>
      <th class="text-center">Product SKU</th>
      <th class="text-center" >Quantity</th>
      <th class="text-center" >Location</th>
    </tr>
    <% @not_started_orders.each do |order| %>
      <% order.channel_order_items.each do | item | %>
        <tr>
          <td class="text-center">
            <% if item&.channel_product&.item_image.present? %>
              <%= image_tag image_url(item&.channel_product&.item_image ), height: '50px', width: '50px' %>
            <% else %>
              <%= image_tag('user/1.jpg', width: "50", height: "50", class: 'mr-3 img-thumbnail', alt: 'User Image') %>
            <% end %>
          </td>
          <td class="text-center"><%= item&.channel_product&.item_name %></td>
          <td class="text-center"><%= item&.channel_product&.item_sku %></td>
          <td class="text-center" ><%= item&.ordered %></td>
          <td class="text-center" ><%= item&.channel_product&.product_mapping&.product&.location %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
