

<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Order Dispatch</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Order Dispatch</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-lg-2">
    <div class="card text-center mb-30">
      <div class="header card-header">Order</div>
      <div class="card-body">
        <div class="card-title h5 text-success"><%= ChannelOrder.where("Date(created_at) = ?", Date.today).count %></div>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="card text-center mb-30">
      <div class="header card-header">Order Issues</div>
      <div class="card-body">
        <div class="card-title h5 text-danger">2</div>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="card text-center mb-30">
      <div class="header card-header">Product</div>
      <div class="card-body">
        <div class="card-title h5 text-success"><%= ChannelProduct.count%></div>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="card text-center mb-30">
      <div class="header card-header">Product Issues</div>
      <div class="card-body">
        <div class="card-title h5 text-danger"><%= ChannelProduct.where(item_sku: nil).count%></div>
      </div>
    </div>
  </div>
  <div class="card-body p-0 mr-5">
    <%= link_to "eBay Orders", order_dispatches_path(all_product_data: true) ,class:"btn btn-primary float-right ml-1", type:"button", style: "color: white" %>
  </div>
</div>

<div class="col-lg-12">
  <div class="card mb-30">
    <div class="card-body">
      <div class="tabs-style-two">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#demo_two_home"><%= "Unprocessed Orders (#{@no_sku&.count + @unmatched_sku&.count + @un_matched_product_orders&.count})" %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#demo_three_home"><%= "Ready to Dispatch(#{@not_started.count})" %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#demo_four_home"><%= "Order for Assignment" %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#demo_five_home">Issue Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#demo_six_home"><%= "Unpaid Orders (#{@unpaid_orders.count})"%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#demo_seven_home"><%= "Completed Orders (#{@completed.count})"%></a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="demo_two_home" role="tabpanel">
            <%= render 'unprocessed_orders'%>
          </div>

          <div class="tab-pane fade" id="demo_three_home" role="tabpanel">
            <%= render 'ready_to_dispatch_orders' %>
          </div>
          <div class="tab-pane fade" id="demo_six_home" role="tabpanel">
            <%= render 'unpaid_orders' %>
          </div>
          <div class="tab-pane fade" id="demo_seven_home" role="tabpanel">
            <%= render 'completed_orders' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>