<% if @system_user.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error_explanation">
    <h5><%= pluralize(@system_user.errors.count, "error") %> prohibited this product from being saved:</h5>
    <ul class='error-list'>
      <% @system_user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :photo %>
  <% if  f.object.photo.attached? %>
    <%= image_tag f.object.photo&.service_url, style:'width:50px; height:50px;' %>
  <% end %>
  <%= f.file_field :photo, autofocus: true, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, required: true, class: 'form-control', placeholder: 'Enter Name' %>
</div>
<div class="form-group">
  <%= f.label :payment_method %>
  <%= f.select(:payment_method, SystemUser.payment_methods.map { |key, value| [key.humanize, key] }, {include_blank: 'Please select a payment method'}, class: 'form-control chosen-select')%>
</div>
<div class="form-group d-none payment_method_field">
  <%= f.label :days_for_payment %>
  <%= f.number_field :days_for_payment, class: 'form-control', placeholder: 'Enter Days for Payment' %>
</div>
<div class="form-group">
  <%= f.label :days_for_order_to_completion %>
  <%= f.number_field :days_for_order_to_completion, class: 'form-control', placeholder: 'Enter Days from Order to Completion' %>
</div>
<div class="form-group">
  <%= f.label :days_for_completion_to_delivery %>
  <%= f.number_field :days_for_completion_to_delivery, class: 'form-control', placeholder: 'Enter Days from Completion to Delivery' %>
</div>
<div class="form-group">
  <%= f.label :currency_symbol %>
  <%= f.text_field :currency_symbol, class: 'form-control', placeholder: 'Enter Curreny Symbol' %>
</div>
<div class="form-group">
  <%= f.label :exchange_rate %>
  <%= f.number_field :exchange_rate, step: 0.01, class: 'form-control', placeholder: 'Enter Exchange Rate' %>
</div>

<div class="form-group d-none">
  <%= f.submit(@system_user.new_record? ? "Create" : "Update", class: 'btn btn-primary mt-5 supplier-submit') %>
</div>