<!-- Main Content Header -->
<div class="main-content-header">
  <h1><%= link_to 'Supplier', system_users_path, style:'color: #212529;' %></h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="<%= dashboard_sales_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        <a href="<%= system_users_path %>">Suppliers</a>
    </li>
    <li class="breadcrumb-item active">
        <span class="active">Archives</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->

<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title"> Data</h5>
        </div>
        <%= search_form_for @q, url: archive_system_users_path, method: :get do |f| %>
          <div class='row'>
            <div class="col-md-1"><br>
              <button class="btn btn-outline-info w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='height:42px;'>
                Bulk
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Restore', '#', data: {confirm: "Are you sure you want to restore"}, class:  'dropdown-item bulk-delete-objects' %>
              </div>
            </div>
            <div class="col-md-2"><br>
              <%= f.search_field :name_cont, class:"form-control", placeholder:"Search in Name", title: 'Search in Name' %>
            </div>
            <div class="col-md-2"><br>
              <%= f.select :payment_method_eq, SystemUser.payment_methods.map { |key, value| [key.humanize, value] }, {include_blank: 'Select Type'}, class:"form-control payment-method-field", title: 'Select Payment Type' %>
            </div>
            <div class="col-md-2"><br>
              <%= f.search_field :days_for_order_to_completion_eq, class:"form-control", placeholder:"Search in Order to Completion", title: 'Search in Order to Completion' %>
            </div>
            <div class="col-md-2"><br>
              <%= f.search_field :days_for_completion_to_delivery_eq, class:"form-control", placeholder:"Search in Completion to Delivery",title: 'Search in Completion to Delivery' %>
            </div>
            <div class="d-none">
              <button type='submit' class='d-none payment-method-button'></button>
            </div>
            <div class='col-1 offset-2'>
              <label for="inputState">Per Page</label>
              <%= select_tag :limit, options_for_select([10, 50, 100, 500, 1000], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
              <button type="submit" id="per_page_submit" hidden="hidden"></button>
            </div>
          </div>
        <% end %>
          <br>
        <%= form_with url: restore_system_users_path , method: :post do |f| %>
          <div class="table-responsive">
            <table class="table m-0 table-hover">
              <tr>
                <th><input type="checkbox" id="" name="" value="" class='select-all-checkbox'></th>
                <th class="text-center">Name</th>
                <th class="text-center">Payment_method</th>
                <th class="text-center">Days_for_order_to_completion</th>
                <th class="text-center">Days_for_completion_to_delivery</th>
                <th colspan="3" class="text-center">Actions</th>
              </tr>
              <% @system_users&.each&.with_index(1) do |system_user, index| %>
                <tr class=''>
                  <td><%= f.check_box 'object_ids[]', {}, system_user.id %></td>
                  <td class="text-center"><%= system_user.name %></td>
                  <td class="text-center"><%= system_user.payment_method %></td>
                  <td class="text-center"><%= system_user.days_for_order_to_completion %></td>
                  <td class="text-center"><%= system_user.days_for_completion_to_delivery %></td>

                  <td class="text-center">
                    <div class="dropdown dropleft">
                      <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i data-feather='bell' class='icon wh-15 mt-minus-3'></i>
                        Actions
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to 'Restore', restore_system_users_path(object_id: system_user), method: :post, data: {confirm: "Are you sure you want to restore"}, class: "dropdown-item"%>
                      </div>
                    </div>
                  </td>
                </tr>
                <%= f.submit '', class: 'bulk-method-objects d-none'%>
              <% end %>
            </table>
          </div>
        <% end %>
        <br>
        <div class='float-right'>
          <%= page_entries_info @system_users %>
        </div><br>
        <div class="pagination justify-content-center mt-3">
          <%= paginate @system_users,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
        </div>
      </div>
    </div>
  </div>
</div>
