<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Suppliers</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="<%= home_path %>">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Suppliers</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#ModalScrollable">
              Create Supplier
          </button>
          <div class='mr-1 float-right'>
            <%= link_to 'PDF', system_users_path(format: :pdf), class:"btn btn-primary float-right ml-1", type:"button"%>
          </div>
          <span class='mr-1 float-right'>
            <%= form_tag import_system_users_path, multipart: true, method: :post do %>
              <%= file_field_tag :file, class: 'd-none import-file' %>
              <button type='button' class='btn btn-outline-success import-btn'>Import</button>
              <%= submit_tag "Import", class: 'd-none import-submit' %>
            <% end %>
          </span>
            <div class='mr-1 float-right'>
              <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Export All', system_users_path(all: true, format: :csv, export_csv: true), class: 'dropdown-item' %>
                <%= link_to 'Export Selected', system_users_path(selected: true, format: :csv, export_csv: true), class: 'dropdown-item' %>
                <% @system_user_exports.each do |export| %>
                  <%= link_to "#{export.sub_type}", system_users_path(export_mapping: export.id, format: :csv, export_csv: true), class: 'dropdown-item' %>
                <% end %>
              </div>
            </div>
            <div class='mr-1 float-right'>
              <%= link_to 'Archives', archive_system_users_path, class: 'btn btn-outline-info' %>
            </div>
            <span class='mr-1 float-right'>
            <%= form_tag import_supplier_products_system_users_path, multipart: true, method: :post do %>
              <%= file_field_tag :file, class: 'd-none import-supplier-file' %>
              <button type='button' class='btn btn-outline-secondary import-supplier-btn'>Import Supplier with products</button>
              <%= submit_tag "Import", class: 'd-none import-supplier-submit' %>
            <% end %>
          </span>
          <h5 class="card-title"> Data</h5>
        </div>
        <%= search_form_for @q, url: system_users_path, method: :get do |f| %>
          <div class='row'>
            <div class="col-md-1"><br>
              <button class="btn btn-outline-info w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="height:42px;">
                Bulk
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target='#archive-modal'>Archive</a>
              </div>
            </div>
            <div class="col-md-3"><br>
              <div class="dropdown">
                <%= f.search_field :name_cont, class: 'form-control dropdown-toggle', id: 'supplier-name-search', data: {toggle: 'dropdown'}, area: {haspopup: true, expanded: 'false'}, autocomplete: 'off', placeholder:"Search in Name", title: 'Search in Name', onkeyup: "dropdown_search( '/system_users/system_user_by_name', 'supplier-name-dropdown-list', 'supplier-name-list-item', event)", onclick: "dropdown_search( '/system_users/system_user_by_name', 'supplier-name-dropdown-list', 'supplier-name-list-item', event)" %>
                <span class="searchclear">@@</span>
                <ul class="dropdown-menu supplier-name-dropdown-list search-list" aria-labelledby="supplier-name-search">
                  <li><a href="#" class="dropdown-item supplier-name-list-item">Select Supplier</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2"><br>
              <%= f.select :payment_method_eq, SystemUser.payment_methods.map { |key, value| [key.humanize, value] }, {include_blank: 'Select an option'}, class:"form-control payment-method-field", title: 'Select Payment Type' %>
            </div>
            <!--div class="col-md-2"><br>
              <%= f.search_field :days_for_order_to_completion_eq, class:"form-control", placeholder:"Search in Order to Completion", title: 'Search in Order to Completion' %>
            </div>
            <div class="col-md-2"><br>
              <%= f.search_field :days_for_completion_to_delivery_eq, class:"form-control", placeholder:"Search in Completion to Delivery",title: 'Search in Completion to Delivery' %>
            </div-->
            <div class="d-none">
              <button type='submit' class='d-none payment-method-button'></button>
            </div>
            <div class='col-1 offset-5'>
              <label for="inputState">Per Page</label>
              <%= select_tag :limit, options_for_select([10, 50, 100, 500, 1000], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
              <button type="submit" id="per_page_submit" hidden="hidden"></button>
            </div>
          </div><br>
        <% end %>
        <%= form_with url: bulk_method_system_users_path , method: :post do |f| %>
          <div class="row">
            <div class='col-sm-6 col-md-6 col-lg-6 col-xl-6'>
              <h6 class='text-center text-muted'>Suppliers</h6>
              <table class="overflow-auto w-100 table m-0 table-hover">
                <tr>
                  <th>
                    <div class='row' style='max-width: 65px'>
                      <div class='col-6 p-0'>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="selectSwitchAll" id="selectSwitchAll" style= 'width:25px; height:25px;' onclick="bulk_update_selected('/bulk_update_selected', '<%= @system_users&.first&.class&.name %>', event)">
                          <label for="selectSwitchAll"></label>
                        </div>
                      </div>
                    </div>
                  </th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Not Sent</th>
                  <th class="text-center">Pending</th>
                  <th class="text-center">Delivered</th>
                  <th colspan="3" class="text-center">Actions</th>
                </tr>
                <% @system_users&.each&.with_index(1) do |system_user, index| %>
                  <tr class=''>
                    <td>
                      <div class='row' style='max-width: 65px'>
                        <div class='col-6 p-0'>
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="selectSwitch" name="select-switch" style= 'width:25px; height:25px;' id="<%=system_user.id%>" <%= system_user.selected? ? 'checked': ''%> onclick="update_selected('/update_selected', '<%= system_user.class.name %>', event)">
                            <label for="<%=system_user.id%>"></label>
                          </div>
                        </div>
                      </div>
                    </td>
                    <%
                      orders = system_user.purchase_orders.present? ? system_user.purchase_orders&.count : 0
                      deliveries = system_user.purchase_orders&.first&.purchase_deliveries.present? ? system_user.purchase_orders&.first&.purchase_deliveries&.count : 0 %>
                    <td class="text-center"><%= system_user.name %></td>
                    <td class="text-center"><%= orders %></td>
                    <td class="text-center"><%= orders - deliveries %></td>
                    <td class="text-center"><%= deliveries %></td>

                    <td class="text-center">
                      <div class="dropdown dropleft">
                        <button class="btn btn-primary p-1 mb-1 rotate" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title='Actions'>
                          <i class='lni lni-more-alt'></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="<%= system_user_path(system_user)%>">Show</a>
                          <%= link_to 'Logs', version_system_users_path(id: system_user.id), class: 'dropdown-item' %>
                          <%= link_to 'Archive', system_user_path(system_user), method: 'delete', data: {confirm: "Are you sure you want to archive"}, class: "dropdown-item"%>
                          <a href="<%= new_purchase_order_path(supplier: system_user) %>" class="dropdown-item">Place Order</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
                <%= f.submit '', class: 'bulk-method-delete-objects d-none'%>
              </table>
            </div>
            <div class='col-sm-6 col-md-6 col-lg-6 col-xl-6 border-left'>
              <h6 class='text-center text-muted'>Product Orders</h6>
              <%= render 'product_orders'%>
            </div>
          </div>
        <% end %>
        <br>
        <div class='float-right'>
          <%= page_entries_info @system_users %>
        </div><br>
        <div class="pagination justify-content-center mt-3">
          <%= paginate @system_users,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Create Supplier</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

          <div class="modal-body">
            <%= form_for @system_user, url: system_users_path, method: :post do |f| %>
              <%= render 'form', f: f %>
            <% end %>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary supplier-create">Save changes</button>
          </div>
      </div>
  </div>
</div>

<div class="modal" id="archive-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want archive selected suppliers?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger bulk-delete-objects">Confirm</button>
      </div>
    </div>
  </div>
</div>
