<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table m-0 table-hover">
            <tr>
              <th class="text-center">Sales Channel</th>
              <th class="text-center">Customer</th>
              <th class="text-center">Dispatch User</th>
              <th class="text-center">Dispatch Date</th>
              <th class="text-center">Order ID</th>
              <th class="text-center">Channel Order ID</th>
              <th class="text-center">Order Date(order paid)</th>
              <th class="text-center">Product</th>
              <th class="text-center">SKU</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Total Weight</th>
              <th class="text-center">Sale Price (GBP) Net</th>
              <th class="text-center">Cost Price</th>
              <th class="text-center">Postage</th>
              <th class="text-center">Courier</th>
              <th class="text-center">Tracking Number</th>
              <th class="text-center">Email</th>
            </tr>
            <% @channel_shipments.each do |order| %>
              <% order.channel_order_items.each do |product| %>
                <% if product.channel_product&.product_mapping&.product&.product_type_single? %>
                  <% order.trackings.each do |tracking| %>
                    <tr>
                      <td class="text-center"><%= order.channel_type %></td>
                      <td class="text-center font-weight-bold"><%=  order.buyer_name %></td>
                      <td class="text-center"><%= order.versions.last.whodunnit.present? ? User.find_by(id: order.versions.last.whodunnit)&.personal_detail&.full_name : 'No User' %></td>
                      <td class="text-center font-weight-bold"><%= order.versions.last.changeset['updated_at'].last.strftime("%m/%d/%Y %I:%M %p") %></td>
                      <td class="text-center"><%= product.channel_order_id %></td>
                      <td class="text-center"><%= order&.order_id %></td>
                      <td class="text-center"><%= order.created_at.strftime("%m/%d/%Y") %></td>
                      <td class="text-center"><%= product.channel_product&.product_mapping&.product&.title%></td>
                      <td class="text-center"><%= product.channel_product&.product_mapping&.product&.sku%></td>
                      <td class="text-center"><%= product&.ordered.to_i %></td>
                      <td class="text-center"><%= order.total_weight.to_i %></td>
                      <td class="text-center"><%= order.total_amount %></td>
                      <td class="text-center"><%= product.channel_product&.product_mapping&.product&.cost_price.to_f %></td>
                      <td class="text-center"><%= order.postage.to_f %></td>
                      <td class="text-center"><%= product.channel_product&.product_mapping&.product&.courier_type %></td>
                      <td class="text-center"><%= tracking.tracking_no %></td>
                      <td class="text-center"><%= order.channel_type_amazon? ? order['order_data']['BuyerInfo']['BuyerEmail'] : order['order_data']['fulfillmentStartInstructions'].first['shippingStep']['shipTo']['email']%></td>
                    </tr>
                  <% end %>
                <% else %>
                  <% total_cost_price = 0 %>
                  <% product.channel_product&.product_mapping&.product&.multipack_products&.each do |record| %>
                    <% total_cost_price += record.child&.cost_price.to_f * record.quantity * product.ordered.to_i %>
                  <% end %>
                  <% product.channel_product&.product_mapping&.product&.multipack_products&.each do |record| %>
                    <% order.trackings.each do |tracking| %>
                      <tr>
                      <td class="text-center"><%= order.channel_type %></td>
                      <td class="text-center font-weight-bold"><%=  order.buyer_name %></td>
                      <td class="text-center"><%= order.versions.last.whodunnit.present? ? User.find_by(id: order.versions.last.whodunnit)&.personal_detail&.full_name : 'No User' %></td>
                      <td class="text-center font-weight-bold"><%= order.versions.last.changeset['updated_at'].last.strftime("%m/%d/%Y %I:%M %p") %></td>
                      <td class="text-center"><%= product.channel_order_id %></td>
                      <td class="text-center"><%= order.order_id %></td>
                      <td class="text-center"><%= order.created_at.strftime("%m/%d/%Y") %></td>
                      <td class="text-center"><%= record&.child&.title %></td>
                      <td class="text-center"><%= record&.child&.sku%></td>
                      <td class="text-center"><%= record.quantity * product.ordered.to_i  %></td>
                      <td class="text-center"><%= order.total_weight.to_i %></td>
                      <td class="text-center">
                        <% cost_price = record.child&.cost_price.to_f * record.quantity * product.ordered.to_i %>
                        <% distributed_cost_price = (order.total_amount / total_cost_price) * cost_price %>
                        <%= distributed_cost_price.round(2) %>
                      </td>
                      <td class="text-center"><%= record.child&.cost_price.to_f * record.quantity * product.ordered.to_i %></td>
                      <td class="text-center"><%= order.postage.to_f %></td>
                      <td class="text-center"><%= record&.child&.courier_type %></td>
                      <td class="text-center"><%= tracking.tracking_no %></td>
                      <td class="text-center"><%= order.channel_type_amazon? ? order['order_data']['BuyerInfo']['BuyerEmail'] : order['order_data']['fulfillmentStartInstructions'].first['shippingStep']['shipTo']['email']%></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </table>
          <div class="pagination justify-content-center mt-3">
            <%= paginate @channel_shipments, theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>