
<!-- End Main Content Header -->
<div class='row'>
  <div class='col-8 .col-sm-4'>
    <div class="">
      <div class="card mb-30">
        <div class="card-body">
          <div class="card-header d-flex">
            <h5 class="card-title"> Show</h5>
            <div class='mr-1 ml-auto'>
          </div>
          </div>
          <div class='container border-bottom border-dark'>
            <div class='row'>
              <h3 class="fs-14 col-6">Customer Name:</h3>
              <h3 class="fs-14 col-6"><%= @customer.name %></h3>
            </div>
            <div class='row'>
              <h3 class="fs-14 mb-1 col-6">Trading as:</h3>
              <h3 class="fs-14 col-6"><%#= @customer.name %></h3>
            </div>
          </div>
          <div class='container border-bottom mt-3'>
            <% @customer.extra_field_value&.field_value&.each do |extra_field| %>
              <div class='row'>
                <h3 class="fs-14 mb-1 col-6"><%= extra_field[0]%>:</h3>
                <h3 class="fs-14 col-6"><%= extra_field[1]%></h3>
              </div>
            <% end %>
          </div>
          <div class='container border-bottom mt-3'>
            <div class='row'>
              <div class='col-6'>
                <div class='row'>
                  <h5 class="fs-14 mb-1 col-4">Vat Number:</h5>
                  <p class="col-8"><%#= @customer.name %></p>
                  <h5 class="fs-14 mb-1 col-4">Customer Type:</h5>
                  <p class="col-8"><%#= @purchase_order&.system_user&.name %></p>
                  <h5 class="fs-14 mb-1 col-4">Bank Account:</h5>
                  <p class="col-8"><%#= @purchase_order&.system_user&.days_for_completion_to_delivery %></p>
                  <h5 class="fs-14 mb-1 col-4">Company Agent:</h5>
                  <p class="col-8"><%#= @purchase_order&.order_status&.capitalize %></p>
                  <br><br>
                </div>
              </div>
              <div class='col-6'>
                <div class='row'>
                  <h5 class="fs-14 mb-1 col-4">Account Ref:</h5>
                  <p class="col-8"><%#= @purchase_order.created_at.strftime('%d-%m-%y') %></p>
                  <h5 class="fs-14 mb-1 col-4">Credit Limit:</h5>
                  <p class="col-8"><%#= @purchase_order&.system_user&.delivery_method.present? ? @purchase_order.system_user.delivery_method : 'Not Specified' %></p>
                </div>
              </div>
            </div>
          </div>
          <div class='container border-bottom mt-3'>
            <div class='row'>
              <h3 class="fs-14 mb-1 col-6">Payment Terms:</h3>
              <h3 class="fs-14 col-6"><%#= @customer.name %></h3>
            </div>
          </div>
          <div class='container border-bottom mt-3'>
            <div class='row'>
              <h3 class="fs-14 mb-1 col-6">Balance:</h3>
              <h3 class="fs-14 col-6"><%#= @customer.name %></h3>
            </div>
          </div>
          <div class='container border-bottom mt-3'>
            <div class='row'>
              <h3 class="fs-14 mb-1 col-6">Loyality Points:</h3>
              <h3 class="fs-14 col-6"><%#= @customer.name %></h3>
            </div>
          </div>
          <div class='container border-bottom mt-3'>
            <div class='row'>
              <h3 class="fs-14 mb-1 col-6">Flagging Date:</h3>
              <h3 class="fs-14 col-4"><%= @customer.flagging_date&.strftime('%Y-%m-%d') %></h3>
              <a class="add-flagging-button text-info mr-2" href="" data-id= "<%= @customer.id %>" data-toggle="modal">
                <i data-feather="edit-2" class="icon wh-15"></i>
              </a>
              <!--a class="text-danger" href="" data-id= "<%= @customer.id %>">
                <i data-feather="trash" class="icon wh-15"></i>
              </a-->
            </div>
          </div>
          <br>
          <br>
          <!-- Delivery Data -->
        </div>
      </div>
    </div>
    <!-- Orders Table Data -->
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">Recent Orders</h5>
        </div>
        <div class="table-responsive">
          <table class="table table-hover text-vertical-middle mb-0">
            <thead class="bort-none borpt-0">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Order ID</th>
                <th scope="col">Reference</th>
                <th scope="col">Qty</th>
                <th scope="col">Cost</th>
                <th scope="col">Status</th>
                <th scope="col">Channel Type</th>
                <th scope="col">Tracking</th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td style='cursor: pointer;' data-link="<%= order_dispatch_path(order.id) %>" data-target= '_blank'>
                    <%= order.created_at.strftime('%d-%m-%y') %>
                  </td>
                  <td style='cursor: pointer;' data-link="<%= order_dispatch_path(order.id) %>" data-target= '_blank'>
                    <%if order.replacement_id.present? %>
                      <strong><%= order.replacement_id %></strong>
                    <% else %>
                      <strong><%= order.id %></strong>
                    <% end %>
                  </td>
                  <td style='cursor: pointer;' data-link="<%= order_dispatch_path(order.id) %>" data-target= '_blank'>
                    <%= order.order_id %>
                  </td>
                  <td style='cursor: pointer;' data-link="<%= order_dispatch_path(order.id) %>" data-target= '_blank'>
                    <% @total_ordered = 0 %>
                    <% order.channel_order_items.each do |item| %>
                      <% @total_ordered += item.ordered.to_i %>
                    <% end %>
                    <%= @total_ordered %>
                  </td>
                  <td style='cursor: pointer;' data-link="<%= order_dispatch_path(order.id) %>" data-target= '_blank'>
                    <%= order.total_amount%>
                  </td>
                  <td style='cursor: pointer;' data-link="<%= order_dispatch_path(order.id) %>" data-target= '_blank'>
                    <span class="badge badge_success py-1"><%= order.order_status %></span>
                  </td>
                  <td style='cursor: pointer;' data-link="<%= order_dispatch_path(order.id) %>" data-target= '_blank'>
                    <%= order.channel_type %>
                  </td>
                  <td>
                    <a class="add-tracking-button text-info mr-2" data-id= "<%= order.id %>" >
                      <i data-feather="plus" class="icon wh-15"></i>
                    </a><br>
                    <% order.trackings&.each do |tracking| %>
                      <%= tracking.tracking_no %>
                      <a class="edit-tracking text-info mr-2" data-id= "<%= tracking.id %>" data-value= "<%= tracking.tracking_no %>" data-target="#edit-tracking">
                        <i data-feather="edit-2" class="icon wh-15"></i>
                      </a>
                      <br>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Orders Table Data End -->

    <!-- Notes -->
      <%= render 'customers/show/notes' %>
    <!-- Notes End -->
  </div>

  <div class='col-4'>
    <div class="card mb-30">
      <div class="card-body">
        <div class='d-flex'>
          <h3 class='col-10'>Address</h3>
          <div class='col-2'>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#customer-update-modal">
              Edit
            </button>
          </div>
        </div>
        <div class='mt-4 d-flex'>
          <h4 class='col-10'>Admin</h4>
        </div>
        <h5 class='ml-4 mt-3'><%= @admin_address&.address%></h5>
        <h5 class='ml-4'><%= @admin_address&.country%></h5>
        <h5 class='ml-4'><%= @admin_address&.postcode%></h5>
        <div class='row ml-2'>
          <h5 class="fs-14 mb-1 col-4">Email</h5>
          <p class="col-8"><%= @customer&.email %></p>
          <h5 class="fs-14 mb-1 col-4">Tel</h5>
          <p class="col-8"><%#= @purchase_order&.system_user&.name %></p>
          <h5 class="fs-14 mb-1 col-4">Fax</h5>
          <p class="col-8"><%#= @purchase_order&.system_user&.days_for_completion_to_delivery %></p>
          <h5 class="fs-14 mb-1 col-4">Mobile</h5>
          <p class="col-8"><%= @customer&.phone_number %></p>
          <h5 class="fs-14 mb-1 col-4">EORI</h5>
          <p class="col-8"><%#= @purchase_order&.order_status&.capitalize %></p>
          <br><br>
        </div>
        <div class='mt-4 d-flex'>
          <h4 class='col-10'>Delivery</h4>
        </div>
        <h5 class='ml-4 mt-3'><%= @delivery_address&.address%></h5>
        <h5 class='ml-4 mt-3'><%= @delivery_address&.city%></h5>
        <h5 class='ml-4 mt-3'><%= @delivery_address&.region%></h5>
        <h5 class='ml-4'><%= @delivery_address&.country%></h5>
        <h5 class='ml-4'><%= @delivery_address&.postcode%></h5>
        <h5 class="col-8"><%= @delivery_address&.company %></h5>
        <div class='row ml-2'>
          <h5 class="fs-14 mb-1 col-4">Email</h5>
          <p class="col-8"><%= @customer&.email %></p>
          <h5 class="fs-14 mb-1 col-4">Tel</h5>
          <p class="col-8"><%#= @purchase_order&.system_user&.name %></p>
          <h5 class="fs-14 mb-1 col-4">Fax</h5>
          <p class="col-8"><%#= @purchase_order&.system_user&.days_for_completion_to_delivery %></p>
          <h5 class="fs-14 mb-1 col-4">Mobile</h5>
          <p class="col-8"><%= @customer&.phone_number %></p>
          <h5 class="fs-14 mb-1 col-4">EORI</h5>
          <p class="col-8"><%#= @purchase_order&.order_status&.capitalize %></p>
          <br><br>
        </div>
        <div class='mt-4 d-flex'>
          <h4 class='col-10'>Billing</h4>
        </div>
        <h5 class='ml-4 mt-3'><%= @billing_address&.address%></h5>
        <h5 class='ml-4'><%= @billing_address&.country%></h5>
        <h5 class='ml-4'><%= @billing_address&.postcode%></h5>
        <div class='row ml-2'>
          <h5 class="fs-14 mb-1 col-4">Email</h5>
          <p class="col-8"><%= @customer&.email %></p>
          <h5 class="fs-14 mb-1 col-4">Tel</h5>
          <p class="col-8"><%#= @purchase_order&.system_user&.name %></p>
          <h5 class="fs-14 mb-1 col-4">Fax</h5>
          <p class="col-8"><%#= @purchase_order&.system_user&.days_for_completion_to_delivery %></p>
          <h5 class="fs-14 mb-1 col-4">Mobile</h5>
          <p class="col-8"><%= @customer&.phone_number %></p>
          <h5 class="fs-14 mb-1 col-4">EORI</h5>
          <p class="col-8"><%#= @purchase_order&.order_status&.capitalize %></p>
          <br><br>
        </div>
      </div>
    </div>
  </div>

</div>

<%= form_for @customer, url: customer_path(@customer), method: :put do |f| %>
  <div class="modal fade" id="customer-update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Customer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Update', class: 'btn btn-info'%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_for @customer, url: add_flagging_customers_path, method: :post do |f| %>
  <div class="modal fade" id="add-flagging-date-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Flagging Date</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <%= hidden_field_tag("customer_id_for_flagging", "") %>
         <%= f.label :flagging_date %>
         <%= f.date_field :flagging_date, class: 'form-control'%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Add', class: 'btn btn-info'%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_with url: add_flagging_customers_path, method: :post do |f| %>
  <div class="modal fade" id="add-tracking-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Tracking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <%= hidden_field_tag("order_id_for_tracking", "") %>
         <%= f.label :tracking_no %>
         <%= f.text_field :tracking_no, class: 'form-control'%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Add Tracking', class: 'btn btn-info'%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_with url: add_flagging_customers_path, method: :post do |f| %>
  <div class="modal fade" id="edit-tracking" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Tracking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <%= hidden_field_tag("tracking_id_for_edit", "") %>
        <%= f.label :tracking_no %>
        <%= f.text_field :tracking_no, class: 'edit-tracking-field form-control'%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Update tracking', class: 'btn btn-info'%>
        </div>
      </div>
    </div>
  </div>
<% end %>