<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Channel Forecastings</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= settings_path %>">Settings</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Channel Forecastings</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#courier-create-modal">
            Create
          </button>
          <h5 class="card-title"> Data</h5>
        </div>
        <%= search_form_for @q, url: channel_forecastings_path, method: :get do |f| %>
          <div class='row'>
            <div class='col-1 ml-auto'>
              <label for="inputState">Per Page</label>
              <%= select_tag :limit, options_for_select([10, 50, 100, 500, 1000], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
              <button type="submit" id="per_page_submit" hidden="hidden"></button>
            </div>
          </div>
        <% end %>
        <br>
          <div class="table-responsive">
            <table class="table m-0 table-hover">
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Filter Name</th>
                <th class="text-center">Filter By</th>
                <th class="text-center">Filter Action</th>
                <th class="text-center">Type Number</th>
                <th class="text-center">Units</th>
                <th class="text-center">Actions</th>
              </tr>
              <% @channel_rules.each do |rule| %>
                <tr>
                  <td class="text-center"><%= rule.name %></td>
                  <td class="text-center"><%= rule.filter_name&.humanize %></td>
                  <td class="text-center"><%= rule.filter_by %></td>
                  <td class="text-center"><%= rule.action&.humanize %></td>
                  <td class="text-center"><%= rule.type_number %></td>
                  <td class="text-center"><%= rule.units&.humanize %></td>
                  <td class="text-center">
                    <div class="dropdown dropleft">
                      <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Actions">
                        <i data-feather='bell' class='icon wh-15 mt-minus-3'></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to 'Edit', edit_channel_forecasting_path(id: rule.id), class: 'dropdown-item' %>
                        <%= link_to 'Delete', channel_forecasting_path(id: rule.id), method: :delete, class: 'dropdown-item' %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        <br>
        <div class='float-right'>
          <%= page_entries_info @channel_rules %>
        </div><br>
        <div class="pagination justify-content-center mt-3">
          <%= paginate @channel_rules,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for ChannelForecasting.new, url: channel_forecastings_path, method: :post do |f| %>
  <div class="modal fade" id="courier-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Forecasting Rule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Create', class: 'btn btn-info'%>
        </div>
      </div>
    </div>
  </div>
<% end %>
