<div class="main-content-header mt-3">
  <h1>Transaction Report</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Transaction Report</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title"> Reports</h5>
        </div>
        <div class='row'>
          <div class="col-md-12"><br>
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#transactionReportFilterModal">
                  Filter Reports
                </button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary">
                    Export Reports
                </button>
              </div>
              <div class="col-3">
                <button type="button", id= "inventory_export_csv" class="btn btn-primary">
                  Download Reports
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Table for Product and Order Reports-->
<% if @channel_products.present?%>
  <%= render 'transaction_report_for_products'%>
<% end %>
<% if @channel_orders .present?%>
  <%= render 'transaction_report_for_orders'%>
<% end %>
<!-- The End -->

<!-- Report Filters Button -->
<%= form_tag transaction_reports_path, method: :get do %>
  <!-- Modal -->
  <div class="modal fade" id="transactionReportFilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="transactionReportFilterModal">Report Filters</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'filter_report_form'%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= hidden_field_tag 'page', params[:page] %>
          <%= submit_tag "View Reports", class:"btn btn-primary" %>
          <%= submit_tag "Export Button", class:"btn btn-primary d-none", id: "view_reports" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- The End -->