<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Purchase Deliveries</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>" role="button">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= purchase_deliveries_path %>">Purchase Deliveries</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Show</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">Show</h5>
        </div>
        <%= form_for @purchase_delivery, url: purchase_delivery_path(@purchase_delivery)  do |pd| %>
          <div class='row'>
            <div class='col-3 offset-6'>
              <h5 class='float-right pt-2'>Total Price</h5>
            </div>
            <div class='col-3'>
              <%= pd.number_field :total_bill, class: 'form-control order_total', placeholder: 'Total' %>
              <%= pd.number_field :supplier_id, value: @supplier, class: 'form-control d-none' %>
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-12">
              <div class="faq-accordion mb-30">
                <div class="table-responsive accordion-content">
                  <table class="table table-hover text-vertical-middle mb-0">
                    <thead class="bort-none borpt-0">
                      <tr>
                        <th scope="col"><strong>Image</strong></th>
                        <th scope="col" colspan='3'><strong>Title</strong></th>
                        <th scope="col"><strong>Deliverd/Ordered</strong></th>
                        <th scope="col"><strong>Stock</strong></th>
                        <th scope="col"><strong>Cost Price</strong></th>
                        <th scope="col"><strong>Quantity</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= pd.fields_for :purchase_delivery_details do |f| %>
                        <tr>
                          <td>
                            <%= f.number_field :id, class: 'form-control d-none' %>
                            <% if f.object.product.photo.attached? %>
                              <%= image_tag(f.object.product.photo&.service_url, width: "100", height: "100", class: 'mr-3 img-thumbnail', alt: 'User Image') %>
                            <% else %>
                              <%= image_tag('product/product6.jpg', width: "100", height: "100", class: 'mr-3 img-thumbnail', alt: 'User Image') %>
                            <% end %>
                          </td>
                          <td colspan='3'>
                            <h5><%= f.object.product.title %></h5><br>
                            <strong>Description: </strong><%= f.object.product.description %><br>
                            <strong>Product SKU: </strong><%= f.object.product.sku %><br>
                            <strong>Supplier SKU: </strong><%= f.object.product.product_suppliers.find_by(system_user_id: @supplier).product_sku %>
                          </td>
                          <td>0/0</td>
                          <td><%= f.object.product.total_stock %></td>
                          <td>
                            <%= f.number_field :cost_price, step: :any, class: 'form-control order_item_price', placeholder: 'Price' %>
                          </td>
                          <td>
                            <%= f.number_field :quantity, step: :any, class: 'form-control order_item_quantity', placeholder: 'Quantity' %>
                            <%= f.number_field :product_id, value: f.object.product.id, class: 'form-control d-none' %>
                          </td>
                          <td>
                            <input class="form-control order_item_total" type="text" placeholder="Total" style="width: 70px;">
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- End Faq accordion -->
            </div>
          </div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#BasicModal">
            Update
          </button>

          <!-- Modal -->
          <div class="modal fade" id="BasicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Order Status</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="order_status" id="gridRadios1" value="completed" checked>
                    <label class="form-check-label" for="gridRadios1">
                      Completed
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="order_status" id="gridRadios2" value="partially_delivered">
                    <label class="form-check-label" for="gridRadios2">
                      Not Completed
                    </label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <%= pd.submit(@purchase_delivery.new_record? ? "Create" : "Update", class: 'btn btn-outline-primary create_product_button') %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>