<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Categories</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= settings_path %>">Settings</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Categories</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <a href="/categories/new" class="btn btn-primary float-right">Create</a>
          <div class='mr-1 float-right'>
            <%= link_to 'PDF', categories_path(format: :pdf), class:"btn btn-primary float-right ml-1", type:"button"%>
          </div>
          <div class="mr-1 float-right dropdown">
            <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Export
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Export All', categories_path(all: true, format: :csv, export_csv: true), class: 'dropdown-item' %>
              <%= link_to 'Export Selected', categories_path(selected: true, format: :csv, export_csv: true), class: 'dropdown-item' %>
              <% @category_exports.each do |export| %>
                <%= link_to "#{export.sub_type}", categories_path(export_mapping: export.id, format: :csv, export_csv: true), class: 'dropdown-item' %>
              <% end %>
            </div>
          </div>
          <div class='mr-1 float-right'>
            <%= link_to 'Archives', archive_categories_path, class: 'btn btn-outline-info' %>
          </div>
          <h5 class="card-title"> Data</h5>
        </div>
        <%= search_form_for @q, url: categories_path, method: :get do |f| %>
          <div class='row'>
            <div class="col-md-1"><br>
              <button class="btn btn-outline-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 42px;">
                Bulk
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target='#archive-modal'>Archive</a>
              </div>
            </div>
            <div class="col-md-3"><br>
              <div class="dropdown">
                <%= f.search_field :title_cont, class: 'form-control dropdown-toggle', id: 'category-title-search', data: {toggle: 'dropdown'}, area: {haspopup: true, expanded: 'false'}, autocomplete: 'off', placeholder:"Search in title", onkeyup: "dropdown_search( '/categories/category_by_title', 'category-dropdown-list', 'category-list-item', event)", onclick: "dropdown_search( '/categories/category_by_title', 'category-dropdown-list', 'category-list-item', event)" %>
                <span class="searchclear">@@</span>
                <ul class="dropdown-menu category-dropdown-list search-list" aria-labelledby="category-title-search">
                  <li><a href="#" class="dropdown-item category-list-item">Select Category</a></li>
                </ul>
              </div>
            </div>
            <div class='col-1 offset-7'>
              <label for="inputState">Per Page</label>
              <%= select_tag :limit, options_for_select([5, 10, 15, 20], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
              <button type="submit" id="per_page_submit" hidden="hidden"></button>
            </div>
          </div>
        <% end %>
        <br>
        <%= form_with url: bulk_method_categories_path , method: :post do |f| %>
          <div class="table-responsive">
            <table class="table m-0 table-hover">
              <tr>
                <th>
                  <div class='row' style='max-width: 65px'>
                    <div class='col-6 p-0'>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="selectSwitchAll" id="selectSwitchAll" style= 'width:25px; height:25px;' onclick="bulk_update_selected('/bulk_update_selected', '<%= @categories&.first&.class&.name %>', event)">
                        <label for="selectSwitchAll"></label>
                      </div>
                    </div>
                  </div>
                </th>
                <th class="text-center">Tilte</th>
                <th class="text-center">Description</th>
                <th colspan="3" class="text-center">Actions</th>
              </tr>
              <% @categories&.each&.with_index(1) do |category, index| %>
                <tr class=''>
                  <td>
                    <div class='row' style='max-width: 65px'>
                      <div class='col-6 p-0'>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="selectSwitch" name="select-switch" style= 'width:25px; height:25px;' id="<%=category.id%>" <%= category.selected? ? 'checked': ''%> onclick="update_selected('/update_selected', '<%= category.class.name %>', event)">
                          <label for="<%=category.id%>"></label>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-center"><%= category.title %></td>
                  <td class="text-center"><%= category.description %></td>
                  <td class="text-center">
                    <div class="dropdown dropleft">
                        <button class="btn btn-primary rotate" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title='Actions'>
                          <i class='lni lni-more-alt'></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <%= link_to 'Logs',  version_categories_path(id: category.id), class: 'dropdown-item' %>
                          <a class="dropdown-item" href="<%= category_path(category)%>">Show</a>
                          <%= link_to 'Archive', category_path(category), method: 'delete', data: {confirm: "Are you sure you want to archive"}, class: "dropdown-item"%>
                        </div>
                      </div>
                  </td>
                </tr>
              <% end %>
              <%= f.submit '', class: 'bulk-method-delete-objects d-none'%>
            </table>
          </div>
        <% end %>
        <br>
        <div class='float-right'>
          <%= page_entries_info @categories %>
        </div><br>
        <div class="pagination justify-content-center mt-3">
          <%= paginate @categories,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="archive-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want archive selected categories?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger bulk-delete-objects">Confirm</button>
      </div>
    </div>
  </div>
</div>
