<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Categories</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= settings_path %>">Settings</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= categories_path %>">Categories</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">View</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <%= link_to "Edit", edit_category_path(@category), class: "btn btn-primary float-right"%>
          <h5 class="card-title">Data</h5>
        </div>
        <fieldset disabled>
        <%= form_for @category, url: categories_path, method: :post do |f| %>
          <div class="row vertical-pills-tab">
            <div class="col-sm-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" data-toggle="pill" href="#v-pills-system-user">Categories</a>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-system-user" role="tabpanel">
                  <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, autofocus: true, required: true, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :description %>
                    <%= f.text_area :description, autofocus: true, class: 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>