<p id="notice"><%= notice %></p>

<h1>Email Templates</h1>

<table>
  <thead>
    <tr>
      <th>Template type</th>
      <th>Template name</th>
      <th>Subject</th>
      <th>Body</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_templates.each do |email_template| %>
      <tr>
        <td><%= email_template.template_type %></td>
        <td><%= email_template.template_name %></td>
        <td><%= email_template.subject %></td>
        <td><%= email_template.body %></td>
        <td><%= link_to 'Show', email_template , class: 'btn btn-primary'%></td>
        <td><%= link_to 'Edit', edit_email_template_path(email_template), class: 'btn btn-info text-center ml-2' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email Template', new_email_template_path %>
