<div class="form-row extra-stock-field">
  <div class='form-group col-md-12' style='border-bottom: 1px solid;'>
    <h5 class='fs-14'>Stock Alerts</h5>
  </div>
  <div class="form-group col-md-4">
      <%= f.label :minimum %>
      <%= f.number_field :minimum, step: :any, autofocus: true, class: 'form-control', placeholder: 'Enter Minimum Stock Alert' %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :optimal %>
    <%= f.number_field :optimal, step: :any, class: 'form-control', placeholder: 'Enter Optimal Stock Alert' %>
  </div>
  <div class="form-group col-md-4">
      <%= f.label :maximum %>
      <%= f.number_field :maximum, step: :any, class: 'form-control', placeholder: 'Enter Maximum Stock Alert' %>
  </div>
</div>
<div class="form-group extra-pack-field">
  <%= f.label :pack_quantity %>
  <%= f.text_field :pack_quantity, class: 'form-control', placeholder: 'Enter Pack Quantity' %>
</div>
<div class="form-row">
  <div class='form-group col-md-12' style='border-bottom: 1px solid;'>
    <h5 class='fs-14'>Season</h5>
  </div>
  <div class="form-group col-md-12">
    <%= f.label :season_id %>
    <%= f.select :season_id, @seasons&.map{|u| [u['name'], u['id']]}, {include_blank: 'Enter Select Category'}, class: 'form-control chosen-select' %>
  </div>
</div>
