<div class="form-group required">
  <%= f.label 'Warehouse Stock' %>
  <%= f.number_field :total_stock, step:1, class: 'form-control', placeholder: 'Enter Total Quantity' %>
</div>
<div class="form-row">
  <div class='form-group col-md-12' style='border-bottom: 1px solid;'>
    <h5 class='fs-14'>Tax Field</h5>
  </div>
  <div class="form-group col-md-12 required">
    <%= f.label :vat, 'Sales Vat' %>
    <%= f.select :vat, options_for_select(Product.vats.map { |key, value| [key.humanize, key] }, f.object.vat.to_i), {include_blank: "Please Select VAT"}, required: true, class: 'form-control', placeholder: 'Enter VAT' %>
  </div>
</div>
<div class="form-row">
  <div class='form-group col-md-12' style='border-bottom: 1px solid;'>
    <h5 class='fs-14'>Barcode</h5>
  </div>
  <div class="form-group col-md-12">
  <div class='links text-right'>
    <%= link_to_add_association '+', f, :barcodes, partial: 'products/barcode_fields', class: 'nested_fields_btn btn btn-outline-primary rounded'%>
  </div>
    <%= f.fields_for :barcodes do |barcode|%>
      <%#= render 'barcode_fields', f: barcode %>
    <% end %>
  </div>
</div>
<div class="form-row">
  <div class='form-group col-md-12' style='border-bottom: 1px solid;'>
    <h5 class='fs-14'>Supplier</h5>
  </div>
  <div class="form-group col-md-12">
    <div class='links text-right'>
      <%= link_to_add_association '+', f, :product_suppliers, partial: 'products/product_supplier_fields', class: 'nested_fields_btn btn btn-outline-primary rounded'%>
    </div>
    <%= f.fields_for :product_suppliers do |supplier|%>
      <%= render 'products/product_supplier_fields', f: supplier  unless f.object.new_record? %>
    <% end %>
  </div>
</div>
