    <div class="form-group required">
      <%= f.label :photo %>
      <% if  f.object.photo.attached? %>
        <%= image_tag f.object.photo&.service_url, style:'width:50px; height:50px;' %>
      <% end %>
      <%= f.file_field :photo, class: 'form-control', required: true %>
    </div>
    <div class="form-group required">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Enter Title', required: true %>
    </div>
    <div class="form-group required">
      <%= f.label :sku %>
      <%= f.text_field :sku, class: 'form-control', placeholder: 'Enter SKU', required: true %>
    </div>

    <div class="form-group required">
      <%= f.label :category_id %>
      <%= f.select :category_id, @categories&.map{|u| [u['title'], u['id']]}, {include_blank: 'Enter Select Category'}, class: 'form-control', required: true %>
    </div>
