<% if @product.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error_explanation">
    <h5><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h5>
    <ul class='error-list'>
      <% @product.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class='basic-info-form'>
  <%= render 'basic_info_fields', f: f %>
  <button type='button' class='basic_info_button btn btn-sm btn-outline-info float-right'>Next</button><br>
</div>
<div class='quantity-form d-none'>
  <%= render 'quantities_fields', f: f %>
  <button type='button' class='quantity_button btn btn-sm btn-outline-info float-right'>Next</button><br>
</div>
<div class='dimensions-form d-none'>
  <%= render 'dimensions_fields', f: f %>
  <button type='button' class='dimensions_button btn btn-sm btn-outline-info float-right'>Next</button><br>
</div>
<div class='stock-form d-none'>
  <%= render 'stock_fields', f: f %>
  <button type='button' class='stock_button btn btn-sm btn-outline-info float-right'>Next</button><br>
</div>
<div class='taxes-form d-none'>
  <%= render 'taxes_fields', f: f %>
  <button type='button' class='taxes_button btn btn-sm btn-outline-info float-right'>Next</button><br>
</div>
<div class='system-user-form d-none'>
  <div class='links text-right'>
    <%= link_to_add_association 'Add Product Supplier', f, :system_users, class: 'btn btn-outline-primary rounded'%>
  </div>
  <%= f.fields_for :system_users do |supplier|%>
    <%= render 'system_user_fields', f: supplier %>
  <% end %>
  <button type='button' class='system_user_button btn btn-sm btn-outline-info float-right'>Next</button><br>
</div>
<div class='barcode-form d-none'>
  <%= render 'barcode_fields', f: f %>
  <button type='button' class='barcode_button btn btn-sm btn-outline-info float-right'>Next</button><br>
</div>
<div class='extra-form d-none'>
  <%= render 'extra_fields', f: f %>
  <button type='button' class='extra_button btn btn-sm btn-outline-info float-right'>Next</button><br>
</div>