<div class="nested-fields">
  <br>
  <div class="form-group row">
    <div class="col-8">
      <%= f.label 'Add Product' %>
      <div class="dropdown form-group" style="min-width: 250px;">
      <% child_text = f.object.child.present? ? (f.object.child&.sku+','+f.object.child&.title).to_s : ''%>
        <%= f.search_field :child_id, value: child_text, class: 'form-control dropdown-toggle', id: 'product-title-search', data: {toggle: 'dropdown', option: {array: {index: 0} } }, autocomplete: 'off', placeholder:"Search in Title", onkeyup: "dropdown_search( '/products/search_multipack', 'product-dropdown-list', 'product-list-item', event)", onclick: "dropdown_search( '/products/search_multipack', 'product-dropdown-list', 'product-list-item', event)" %>
        <span class="searchclear">@@</span>
        <ul class="dropdown-menu product-dropdown-list search-list search-list-product" aria-labelledby="product-title-search">
          <li><label class="dropdown-item product-list-item">Select the Product</label></li>
        </ul>
        <%= f.hidden_field :child_id, class: 'multipack-products-field' %>
      </div>
    </div>
    <div class="col-3">
      <%= f.label 'Quantity' %>
      <%= f.number_field :quantity, step: :any, class: 'form-control', placeholder: 'Enter Quantity' %>
    </div>
    <div class='col-1 pt-1'>
      <br>
      <%= link_to_remove_association 'X', f, class: 'text-danger' %>
    </div>
  </div>
</div>

<script>
  $('.searchclear').on('click', function () {
    $(this).prev('input').val('');
    return false;
  })
  $(".nested_fields_btn").data("association-insertion-method", 'after')

  $('.product-dropdown-list').on('click', '.product-list-item', function () {
    var parent_div = $(this.closest('div'))
    $(parent_div).find('ul').hide()
    $(parent_div).find('input')[0].focus()
    $($(parent_div).find('input')[1]).val(this.dataset.id)
    $($(parent_div).find('input')[0]).val(this.outerText)
    return false
  })

  $('.product-dropdown-list').on('focus', '.product-list-item', function () {
    var parent_div = this.closest('div')
    $($(parent_div).find('input')[1]).val(this.dataset.id)
    $($(parent_div).find('input')[0]).val(this.outerText)
  })
</script>
