<div class="form-row">
  <div class="form-group col-md-6">
      <%= f.label :gst %>
      <%= f.number_field :gst, step: :any, class: 'form-control', placeholder: 'Enter GST' %>
  </div>
  <div class="form-group col-md-6">
      <%= f.label :vat %>
      <%= f.number_field :vat, step: :any, class: 'form-control', placeholder: 'Enter VAT' %>
  </div>
  <div class="form-group col-md-6">
      <%= f.label :hst %>
      <%= f.number_field :hst, step: :any, class: 'form-control', placeholder: 'Enter HST' %>
  </div>
  <div class="form-group col-md-6">
      <%= f.label :pst %>
      <%= f.number_field :pst, step: :any, class: 'form-control', placeholder: 'Enter PST' %>
  </div>
  <div class="form-group col-md-6">
      <%= f.label :qst %>
      <%= f.number_field :qst, step: :any, class: 'form-control', placeholder: 'Enter QST' %>
  </div>
</div>
<div class='form-row text-right'>
  <button type='button' class='btn btn-sm btn-info ml-auto next-tab-button col-2 offset-10 float-right'>Next</button>
</div>
