<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Products</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="<%= dashboard_sales_path %>">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="<%= products_path %>">Products</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Archives</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <div class='mr-1 float-right'>
            <%= link_to 'Products', products_path, class: 'btn btn-outline-info' %>
          </div>
          <h5 class="card-title"> Data</h5>
        </div>
        <%= search_form_for @q, url: archive_products_path, method: :get do |f| %>
          <div class='row'>
            <div class="col-md-1"><br>
              <button class="btn btn-outline-info w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:42px;">
                Bulk
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target='#archive-modal'>Restore</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target='#delete-modal'>Permanent Delete</a>
              </div>
            </div>
            <div class="col-md-2"><br>
              <%= f.search_field :title_cont, class:"form-control", placeholder:"Search in title" %>
            </div>
            <div class="col-md-2"><br>
              <%= f.search_field :sku_cont, class:"form-control", placeholder:"Search in Sku" %>
            </div>
            <div class='col-1 offset-6'>
              <label for="inputState">Per Page</label>
              <%= select_tag :limit, options_for_select([5, 10, 15, 20], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
              <button type="submit" id="per_page_submit" hidden="hidden"></button>
            </div>
          </div><br>
        <% end %>

          <%= form_with url: restore_products_path, method: :post do |f| %>
            <div class="table-responsive">
              <table class="table m-0 table-hover">
                <tr>
                  <th><input type="checkbox" id="" name="" value="" class='select-all-checkbox'></th>
                  <th>Image</th>
                  <th>Title</th>
                  <th class="text-center">SKU</th>
                  <th class="text-center">Quantity (Total)</th>
                  <th class="text-center">Product Type</th>
                  <th></th>
                </tr>
                <% @products&.each&.with_index(1) do |product, index| %>
                  <tr class='<%= (product.minimum.to_i > product.total_stock.to_i ) ? 'table-danger' : '' %>'>
                    <td><%= f.check_box 'object_ids[]', {}, product.id %></td>
                    <td>
                      <% if  product.photo.attached? %>
                        <%= image_tag product.photo&.service_url, style:'width:50px; height:50px;' %>
                      <% end %>
                    </td>
                    <td><%= product.title %></td>
                    <td class="text-center font-weight-bold"><%= product.sku %></td>
                    <td><%= product.total_stock%></td>
                    <td><%= product.product_type&.capitalize %></td>

                    <td class="text-center">
                      <div class="dropdown dropleft">
                        <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i data-feather='bell' class='icon wh-15 mt-minus-3'></i>
                          Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <%= link_to 'Restore', restore_products_path(object_id: product), method: :post, data: {confirm: "Are you sure you want to restore"}, class: "dropdown-item"%>
                          <%= link_to 'Permanent Delete', permanent_delete_products_path(object_id: product), method: :post, data: {confirm: "Are you sure you want to parmanent delete"}, class: "dropdown-item"%>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
                <%= f.submit 'Restore', class: 'bulk-method-delete-objects d-none'%>
                <%= f.submit 'Delete', class: 'bulk-method-destroy-objects d-none'%>
              </table>
            </div>
          <% end %>

        <div class='float-right'>
          <%= page_entries_info @products %>
        </div><br>
        <div class="pagination justify-content-center mt-3">
          <%= paginate @products,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="archive-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want restore selected product?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger bulk-delete-objects">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want permanent delete selected product?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger bulk-destroy-objects">Confirm</button>
      </div>
    </div>
  </div>
</div>