<% if @product.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="ErrorsProduct">
    <h5><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h5>
    <ul class='error-list'>
      <% @product.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Products</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="<%= home_path %>">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Products</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <div class="dropdown">
              <button class="btn btn-primary float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="#" class="dropdown-item" data-toggle="modal" data-target='#single-product-create-modal'>Single Pack</a>
                <a href="#" class="dropdown-item" data-toggle="modal" data-target='#multi-product-create-modal'>Multi Pack</a>
              </div>
            </div>
            <div class='mr-1 float-right'>
                <%= link_to 'PDF', products_path(format: :pdf), class:"btn btn-primary float-right ml-1", type:"button"%>
              </div>
          <span class='mr-1 float-right'>
            <%= form_tag import_products_path, multipart: true, method: :post do %>
              <%= file_field_tag :file, class: 'd-none import-file' %>
              <button type='button' class='btn btn-outline-success import-btn'>Import</button>
              <%= submit_tag "Import", class: 'd-none import-submit' %>
            <% end %>
          </span>
          <div class='mr-1 float-right'>
            <%= link_to 'Export', products_path(format: :csv, export_csv: true), class: 'btn btn-outline-primary' %>
          </div>
          <div class='mr-1 float-right'>
            <%= link_to 'Archives', archive_products_path, class: 'btn btn-outline-info' %>
          </div>
          <h5 class="card-title"> Data</h5>
        </div>
        <%= search_form_for @q, url: products_path, method: :get do |f| %>
          <div class='row'>
            <div class="col-md-1"><br>
              <button class="btn btn-outline-info w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:42px;">
                Bulk
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href='#' data-toggle="modal" data-target='#archive-modal'>Archive</a>
              </div>
            </div>
            <div class="col-md-3"><br>
              <div class="dropdown form-group">
                <%= f.search_field :title_cont, class: 'form-control dropdown-toggle', id: 'product-title-search', data: {toggle: 'dropdown', option: {array: {index: 0} } }, autocomplete: 'off', placeholder:"Search in Title" %>
                <span class="searchclear">@@</span>
                <ul class="dropdown-menu product-dropdown-list search-list" aria-labelledby="product-title-search">
                  <li><label class="dropdown-item product-list-item">Select the Product</label></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3"><br>
              <div class="dropdown">
                <%= f.search_field :sku_cont, class: 'form-control dropdown-toggle', id: 'product-sku-search', data: {toggle: 'dropdown', option: {array: {index: 0} } }, area: {haspopup: true, expanded: 'false'}, autocomplete: 'off', placeholder:"Search in Sku" %>
                <span class="searchclear">@@</span>
                <ul class="dropdown-menu product-sku-dropdown-list search-list" aria-labelledby="product-sku-search">
                  <li><a href="#" class="dropdown-item product-sku-list-item">Select Product SKU</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3"><br>
              <%= f.select :product_type_eq, Product.product_types.map { |key, value| [key.humanize, value] }, {include_blank: 'Select an option'}, class:"form-control product-type-field chosen-select", title: 'Select Product Type' %>
            </div>
            <div class=' col-md-1'>
              <button type='submit' class='product_type_submit btn btn-primary mt-4'>Search</button>
            </div>
            <div class='col-md-1'>
              <div class='float-right'>
                <label for="inputState">Per Page</label>
                <%= select_tag :limit, options_for_select([5, 10, 15, 20], selected: params[:limit] || 10), id: 'change_per_page', class: 'form-control' %>
                <button type="submit" id="per_page_submit" hidden="hidden"></button>
              </div>
            </div>
          </div><br>
        <% end %>

          <%= form_with url: bulk_method_products_path, method: :post do |f| %>
            <div class="table-responsive">
              <table class="table m-0 table-hover">
                <tr>
                  <th><input type="checkbox" id="" name="" value="" class='select-all-checkbox'></th>
                  <th>Image</th>
                  <th>Title</th>
                  <th class="text-center">SKU</th>
                  <th class="text-center">Quantity (Total)</th>
                  <th class="text-center">Product type</th>
                  <th>
                    <%#= select_tag "users[]", options_for_select(@users.collect{|x| [x.name,x.id]}), {:multiple => :multiple, :size => 10} %>
                  </th>
                </tr>
                <% @products&.each&.with_index(1) do |product, index| %>
                  <tr class='<%= (product.minimum.to_i > product.total_stock.to_i ) ? 'table-danger' : '' %>'>
                    <td><%= f.check_box 'object_ids[]', {}, product.id %></td>
                    <td>
                      <% if  product.photo.attached? %>
                        <%= image_tag product.photo&.service_url, style:'width:50px; height:50px;' %>
                      <% end %>
                    </td>
                    <td><%= product.title %></td>
                    <td class="text-center font-weight-bold"><%= product.sku %></td>
                    <td class="text-center"><%= product.total_stock%></td>
                    <td class="text-center"><%= product.product_type %></td>

                    <td class="text-center">
                      <div class="dropdown dropleft">
                        <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Actions">
                          <i data-feather='bell' class='icon wh-15 mt-minus-3'></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="<%= product_path(product)%>">Show</a>
                          <%= link_to 'Archive', product_path(product), method: 'delete', data: {confirm: "Are you sure you want to archive"}, class: "dropdown-item"%>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
                <%= f.submit '', class: 'bulk-method-delete-objects d-none'%>
              </table>
            </div>
          <% end %>

        <div class='float-right'>
          <%= page_entries_info @products %>
        </div><br>
        <div class="pagination justify-content-center mt-3">
          <%= paginate @products,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for(@product, url: products_path) do |f| %>
  <!-- Single Product Modal -->
  <div class="modal fade" id="single-product-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Single Pack Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'single_product_form', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
            <%= f.submit(@product.new_record? ? "Create" : "Save changes", class: 'btn btn-outline-primary create_product_button d-none') %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_for(@product, url: products_path) do |f| %>
  <!-- Multi Product Modal -->
  <div class="modal fade" id="multi-product-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Multi Pack Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'multi_product_form', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
            <%= f.submit(@product.new_record? ? "Create" : "Save changes", class: 'btn btn-outline-primary create_product_button') %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="modal" id="archive-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want archive selected product?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger bulk-delete-objects">Confirm</button>
      </div>
    </div>
  </div>
</div>