<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Products</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="<%= dashboard_sales_path %>">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Products</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<div class="row">
    <div class="col-xl-12">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <a href="/products/new" class="btn btn-primary float-right">Create</a>
                    <h5 class="card-title"> Data</h5>
                </div>

                <%= search_form_for @q, url: products_path, method: :get do |f| %>
                  <div class="row">
                    <div class="col-md-4">
                      <%= f.search_field :title_cont, class:"form-control", placeholder:"Search in title" %>
                    </div>
                    <div class="col-md-4">
                      <%= f.search_field :sku_cont, class:"form-control", placeholder:"Search in SKU" %>
                    </div>
                  </div>
                <div class="table-responsive">
                    <table class="table m-0 table-hover">
                            <tr>
                              <th>Image</th>
                              <th><%= sort_link(@q, :title, default: 'asc') %></th>
                              <th class="text-center"><%= sort_link(@q, :sku, 'SKU') %></th>
                              <th class="text-center"><%= sort_link(@q, :title, 'Quantity (Total)', default: 'asc') %></th>
                              <th colspan="3" class="text-center">Stock Alert</th>
                              <th>
                                <%#= select_tag "users[]", options_for_select(@users.collect{|x| [x.name,x.id]}), {:multiple => :multiple, :size => 10} %>
                              </th>
                            </tr>
                            <tr>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th><%= sort_link(@q, :minimum, 'Min')%></td>
                              <th><%= sort_link(@q, :optimal, 'Opt')%></td>
                              <th><%= sort_link(@q, :maximum, 'Max')%></td>
                              <th></th>
                            </tr>
                          <% @products&.each&.with_index(1) do |product, index| %>
                            <tr class='<%= (product.minimum.to_i > product.total_stock.to_i ) ? 'table-danger' : '' %>'>
                              <td>
                                <% if  product.photo.attached? %>
                                  <%= image_tag product.photo&.service_url, style:'width:50px; height:50px;' %>
                                <% end %>
                              </td>
                              <td><%= product.title %></td>
                              <td class="text-center"><span class="badge badge-info"><%= product.sku %></span></td>
                              <td><%= product.total_stock%></td>
                              <td><%= product.minimum %></td>
                              <td><%= product.maximum %></td>
                              <td><%= product.optimal %></td>

                              <td class="text-center">
                                  <a type="button" class="btn btn-link text-info p-0 mr-2" href="<%= product_path(product)%>">
                                      <i data-feather="eye" class="icon wh-15"></i>
                                  </a>
                                  <a type="button" class="btn btn-link text-success p-0 mr-2" href="<%= edit_product_path(product)%>">
                                      <i data-feather="edit-2" class="icon wh-15"></i>
                                  </a>
                                  <%= link_to '<i data-feather="x" class="icon wh-15"></i>'.html_safe, product_path(product), method: 'delete', data: {confirm: "Are you sure you want to delete"}, class: "btn btn-link text-danger p-0"%>
                              </td>
                            </tr>
                          <% end %>
                    </table>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>