<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Products</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= dashboard_sales_path %>" role="button">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= products_path %>">Products</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Show</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->

<div class="row">
  <div class="col-lg-6">
    <%= render '/products/show/basic_info_show' %>
    <%= render '/products/show/quantity_show' %>
    <%= render '/products/show/suppliers_show' %>
    <%= render '/products/show/taxes_show' %>
  </div>

  <div class="col-lg-6">
    <%= render '/products/show/stock_show' %>
    <%= render '/products/show/dimensions_show' %>
    <%= render '/products/show/extra_show' %>
    <%= render '/products/show/barcode_show' %>
  </div>
</div>
