<!-- Main Content Header -->
<% if @product.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error_explanation">
    <h5><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h5>
    <ul class='error-list'>
      <% @product.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="main-content-header">
  <h1>Products</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>" role="button">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= products_path %>">Products</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Show</span>
    </li>
    <li class="ml-auto">
      <%= link_to 'Logs', version_products_path(id: @product.id), class: 'btn btn-primary text-white' %>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-md-12">
    <%= render '/products/show/basic_info_show' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render '/products/show/multipack_products' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <%= render '/products/show/quantity_show' %>
    <%= render '/products/show/suppliers_show' %>
    <%= render '/products/show/taxes_show' %>
    <%= render '/products/show/extra_field_show'%>
  </div>

  <div class="col-lg-6">
    <%= render '/products/show/stock_show' %>
    <%= render '/products/show/dimensions_show' %>
    <%= render '/products/show/extra_show' %>
    <%= render '/products/show/barcode_show' %>
  </div>
</div>
