<div class="main-content-header">
  <h1>Products</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>" role="button">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= products_path %>">Products</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Versions</span>
    </li>
    <li class="ml-auto">
      <%= link_to @product.sku, product_path(@product), class: 'btn btn-primary text-white' %>
    </li>
  </ol>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header d-flex">
          <h5 class="card-title">
            Logs
          </h5>
          <div class='mr-1 ml-auto'>
            <%= link_to 'Export', export_products_path(format: :csv, product_id: params[:id]), class:"btn btn-primary float-right ml-1", type:"button"%>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover text-vertical-middle mb-0">
            <thead class="bort-none borpt-0">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
                <th scope="col">System ID</th>
                <th scope="col">Channel ID</th>
                <th scope="col">Channel Item ID</th>
                <th scope="col">Changed</th>
                <th scope="col">Result</th>
                <th scope="col">User</th>
              </tr>
            </thead>
            <tbody>
              <% @versions&.each do |version| %>
                <% if version.changeset.include? 'change_log' %>
                  <tr>
                    <td><%= version.created_at&.strftime('%m/%d/%Y') %></td>
                    <td><%= version.created_at&.strftime('%I:%M %p') %></td>
                    <td>
                      <%= version.changeset.try(:[],'change_log')&.at(1).try(:split, ",")&.at(3) %>
                    </td>
                    <td>
                      <%= (version.changeset.try(:[],'change_log')&.at(1).include? "Purchase Order Recieved") ? "PO%.4d" % version.changeset.try(:[],'change_log')&.at(1).try(:split, ",")&.at(1).to_i : version.changeset.try(:[],'change_log')&.at(1).try(:split, ",")&.at(1) %>
                    </td>
                    <td>
                      <%=  version.changeset.try(:[],'change_log')&.at(1).try(:split, ",")&.at(2) %>
                    </td>
                    <td>
                      <%=  version.changeset.try(:[],'change_log')&.at(1).try(:split, ",")&.at(4) %>
                    </td>
                    <% changed = (version.changeset&.include? 'unshipped') ? version.changeset.try(:[],'unshipped')&.at(0).to_i - version.changeset.try(:[],'unshipped')&.at(1).to_i : (version.changeset.try(:[],'change_log')&.at(1)&.include? 'Product Mapped') ? 0 : (version.changeset.try(:[],'change_log')&.at(1).split(',')&.include? 'Manual Edit') ? version.changeset.try(:[],'manual_edit_stock')&.at(1).to_i - version.changeset.try(:[],'manual_edit_stock')&.at(0).to_i : (version.changeset.try(:[],'change_log')&.at(1).split(',')&.include? 'Purchase Order') ? version.changeset.try(:[],'change_log')&.at(1).try(:split, ",")&.at(6).to_i : (version.changeset.try(:[],'change_log')&.at(1)&.include? 'Product UnMapped') ? 0 : version.changeset.try(:[],'change_log')&.at(1).try(:split, ",")&.at(2)%>
                    <td><%= (changed.class == Integer && changed.positive?) ? '+' + "#{changed}" : changed  %></td>
                    <td><%= (version.changeset&.include? 'inventory_balance') ? version.changeset.try(:[],'inventory_balance')&.at(1).to_i : version.changeset.try(:[],'change_log')&.at(1).try(:split, ",")&.at(-2).to_i %></td>
                    <td><%= version.changeset.try(:[],'change_log')&.at(1).try(:split, ",")&.at(-1)&.lstrip&.titleize %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
