<%
  t = time = Time.zone.now.dst? ? (Time.zone.now - 1.hour) : Time.zone.now
  seconds = (t.min - ( t.min % 30).minutes).seconds
  diff = 1800 + seconds
  time = t + diff.seconds
%>
<% @products_inqueue.each do |product| %>
  <tr class="cursor-pointer header">
    <td class="text-center"><%= product.item_sku %> (<%= product.channel_type%>)</td>
    <td class="text-center"><%= product.updated_at.strftime("%m/%d/%Y %H:%M") %></td>
    <!--td class="text-center"><%= JobStatus.sec_to_hours( Time.now - product.updated_at )%></td-->
    <td class="text-center"><%= time.strftime("%m/%d/%Y %H:%M") %></td>
    <td class="text-center"><%=product.item_quantity  %></td>
    <td class="text-center">waiting</td>
  </tr>
<% end %>
</table>
</div>
