<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Job Statuses</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Job Statuses</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title"> Data</h5>
        </div>
        <div class="table-responsive">
          <table class="table m-0 table-hover">
            <tr>
              <th class="text-center">Job Id</th>
              <th class="text-center">Name</th>
              <th class="text-center">Date</th>
              <th class="text-center">Time ago</th>
              <th class="text-center">Arguments</th>
              <th class="text-center">Status</th>
            </tr>
            <% @job_statuses.each do |job_status| %>
              <tr>
                <td class="text-center"><%= job_status.job_id %></td>
                <td class="text-center"><%= job_status.name %></td>
                <td class="text-center"><%= job_status.updated_at.strftime("%m/%d/%Y %H:%M")%></td>
                <td class="text-center"><%= JobStatus.sec_to_hours( Time.now - job_status.updated_at )%></td>
                <td class="text-center">
                  <% job_status&.arguments&.each do |arg| %>
                    <b><%= arg.first %></b> : <%= arg.last %>
                    <br>
                  <% end %>
                </td>
                <td class="text-center"><%= job_status.status %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <br>
        <div class='float-right'>
          <%= page_entries_info @job_statuses %>
        </div><br>
        <div class="pagination justify-content-center mt-3">
          <%= paginate @job_statuses,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
        </div>
      </div>
    </div>
  </div>
</div>
